<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="preconnect" href="https://res.cloudinary.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    {% if carousels %}
    <link
      rel="stylesheet"
      href="{{ '/utils/owl-css/owl.carousel.min.css' | url }}"
    />
    <link
      rel="stylesheet"
      href="{{ '/utils/owl-css/owl.theme.default.min.css' | url }}"
    />
    {% endif %}
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
  </head>
  <body>
    <!-- TODO Have the full menu structure as a JSON file -->
    <div
      style="display: none"
      data-page-type="{{ pageType }}"
      id="page-type"
    ></div>
    <nav>
      <div class="mobile">
        <input type="checkbox" id="menu" />
        <div class="navbar">
          <a href="/"
            ><img src="{{ '/img/logo.svg' | url }}" alt="" class="logo"
          /></a>
          <label for="menu" id="ham-icon-wrapper">
            <div id="ham-icon"></div>
          </label>
        </div>
        <div class="multi-level" id="ml1">
          <div class="item">
            <input type="checkbox" id="ml1-A" />
            <div class="label-plus">
              <a href="/about/" onclick="close_menu();">About</a>
              <label for="ml1-A">
                <i class="fas fa-chevron-right"></i>
              </label>
            </div>
            <ul>
              <a href="/vision" onclick="close_menu();"><li>Vision</li></a>
              <a href="/history" onclick="close_menu();"><li>History</li></a>
              <a href="/space" onclick="close_menu();"><li>Space</li></a>
              <!-- <li>
                <div class="sub-item">
                  <ul>
                    <a href="/space/#temple" onclick="close_menu();"
                      ><li>Temple</li></a
                    >
                    <a href="/space/#yoga" onclick="close_menu();"
                      ><li>Yoga Centre</li></a
                    >
                    <a href="/space/#odissi" onclick="close_menu();"
                      ><li>Odissi Gurukul</li></a
                    >
                    <a href="/space/#dining" onclick="close_menu();"
                      ><li>Dining Hall</li></a
                    >
                    <a href="/space/#cottages" onclick="close_menu();"
                      ><li>Cottages</li></a
                    >
                    <a href="/space/#kula" onclick="close_menu();"
                      ><li>Kula</li></a
                    >
                    <a href="/space/#amphitheatre" onclick="close_menu();"
                      ><li>Amphitheatre</li></a
                    >
                  </ul>
                </div>
              </li> -->
              <a href="/future" onclick="close_menu();"><li>Future</li></a>
              <!-- <li>
                <div class="sub-item">
                  <ul>
                    <a href="/future/#arts-centre" onclick="close_menu();"
                      ><li>Performing Arts Centre</li></a
                    >
                    <a href="/future/#resource-centre" onclick="close_menu();"
                      ><li>Nrityagyān Resource Centre</li></a
                    >
                  </ul>
                </div>
              </li> -->
              <a href="/board-of-trustees" onclick="close_menu();"
                ><li>Board of Trustees</li></a
              >
            </ul>
          </div>

          <div class="item">
            <input type="checkbox" id="ml1-B" />
            <div class="label-plus">
              <a href="/visit/" onclick="close_menu();">Visit</a>
              <label for="ml1-B">
                <i class="fas fa-chevron-right"></i>
              </label>
            </div>
            <ul>
              <a href="/thingstodo" onclick="close_menu();"
                ><li>Things to do</li></a
              >
              <a href="/findyourway" onclick="close_menu();"
                ><li>Find your Way</li></a
              >
              <a
                href="https://www.google.co.in/maps/@13.1615025,77.4593968,3a,60y,90t/data=!3m6!1e1!3m4!1s-9UefyZY73ob-pFS-YGTlA!2e0!7i13312!8i6656"
                target="_blank"
                ><li>Virtual Tour</li></a
              >
            </ul>
          </div>

          <div class="item">
            <input type="checkbox" id="ml1-C" />
            <div class="label-plus">
              <a href="/support/" onclick="close_menu();">Support</a>
              <label for="ml1-C">
                <i class="fas fa-chevron-right"></i>
              </label>
            </div>
            <ul>
              <a href="/vardan" onclick="close_menu();"><li>Join Vardān</li></a>
              <li>
                <div class="sub-item">
                  <ul>
                    <a href="/friendsofng/" onclick="close_menu();"
                      ><li>Friends of Nrityagram</li></a
                    >
                    <a href="/ngangels/" onclick="close_menu();"
                      ><li>Nrityagram &nbsp;Angels</li></a
                    >
                  </ul>
                </div>
              </li>
              <a href="/donate/" onclick="close_menu();"><li>Donate</li></a>
              <a href="/corpusfund/" onclick="close_menu();"
                ><li>Support the Corpus Fund</li></a
              >
              <a href="/otherwaystogive/" onclick="close_menu();"
                ><li>Other ways to Give</li></a
              >
              <a href="/sponsorship/" onclick="close_menu();"
                ><li>Sponsorship</li></a
              >
            </ul>
          </div>

          <div class="item">
            <div class="label-plus">
              <a href="/press/" onclick="close_menu();">Press</a>
            </div>
          </div>

          <div class="item">
            <input type="checkbox" id="ml1-D" />
            <label for="ml1-D"
              >Media<i class="fas fa-chevron-right"></i>
            </label>
            <ul>
              <a href="/showtime" onclick="close_menu();"><li>Showtime</li></a>
              <a href="/behindthescenes" onclick="close_menu();"
                ><li>Behind the Scenes</li></a
              >
              <a href="/lifeatng" onclick="close_menu();"
                ><li>Life at Nrityagram</li></a
              >
              <a href="/downtime" onclick="close_menu();"><li>Downtime</li></a>
            </ul>
          </div>
        </div>
        <div class="multi-level" id="ml2">
          <div class="item">
            <input type="checkbox" id="ml2-A" />
            <div class="label-plus">
              <a href="/ensemble/" onclick="close_menu();">Ensemble</a>
              <label for="ml2-A">
                <i class="fas fa-chevron-right"></i>
              </label>
            </div>
            <ul>
              <a href="/repertoire" onclick="close_menu();"
                ><li>Repertoire</li></a
              >
              <!-- <li>
                <div class="sub-item">
                  <ul>
                    <a href="/repertoire/#sri" onclick="close_menu();"
                      ><li>Śrī: In Search of the Goddess</li></a
                    >
                    <a href="/repertoire/#ansh" onclick="close_menu();"
                      ><li>Ansh</li></a
                    >
                    <a href="/repertoire/#sspace" onclick="close_menu();"
                      ><li>Sacred Space</li></a
                    >
                    <a href="/repertoire/#pratima" onclick="close_menu();"
                      ><li>Pratimā: Reflection</li></a
                    >
                    <a href="/repertoire/#sriyah" onclick="close_menu();"
                      ><li>Śriyaḥ</li></a
                    >
                    <a href="/repertoire/#samhara" onclick="close_menu();"
                      ><li>Saṃhāra</li></a
                    >
                    <a href="/repertoire/#samyoga" onclick="close_menu();"
                      ><li>Saṃyoga</li></a
                    >
                    <a href="/repertoire/#lovelong" onclick="close_menu();"
                      ><li>Songs of Love and Longing</li></a
                    >
                    <a href="/repertoire/#yadu" onclick="close_menu();"
                      ><li>Yadunandana</li></a
                    >
                    <a href="/repertoire/#ahuti" onclick="close_menu();"
                      ><li>Āhuti</li></a
                    >
                  </ul>
                </div>
              </li> -->
              <a href="/performancemap" onclick="close_menu();"
                ><li>Performances</li></a
              >
            </ul>
          </div>

          <div class="item">
            <input type="checkbox" id="ml2-B" />
            <div class="label-plus">
              <a href="/gurukula/" onclick="close_menu();">School</a>
              <label for="ml2-B">
                <i class="fas fa-chevron-right"></i>
              </label>
            </div>
            <ul>
              <a href="/danceprof/" onclick="close_menu();"
                ><li>Dance Professionals</li></a
              >
              <a href="/danceunlimited" onclick="close_menu();"
                ><li>Dance Unlimited</li></a
              >
              <li>
                <div class="sub-item">
                  <ul>
                    <a
                      href="/danceunlimited/#residential"
                      onclick="close_menu();"
                      ><li>Residential Workshops</li></a
                    >
                    <a href="/danceunlimited/#parttime" onclick="close_menu();"
                      ><li>Non-Residential Training</li></a
                    >
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="button-bars">
          <div class="button-bar">
            <div class="button block">
              <a href="mailto:info@nrityagram.org"
                ><i class="far fa-envelope"></i> info@nrityagram.org</a
              >
            </div>
            <div class="button block">
              <a href="tel:+918028466312"
                ><i class="fas fa-phone-alt"></i> +91 80 28466312 / 3 / 4</a
              >
            </div>
          </div>
          <div class="button-bar">
            <div class="button round">
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </div>
            <div class="button round">
              <a href="#">
                <i class="fab fa-instagram"></i>
              </a>
            </div>
            <div class="button round">
              <a href="#">
                <i class="fab fa-facebook"></i>
              </a>
            </div>
            <div class="button round">
              <a href="#">
                <i class="fab fa-youtube"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="desk">
        <div class="navbar">
          <a href="/"
            ><img src="{{ '/img/logo.svg' | url }}" alt="" class="logo"
          /></a>
          <div class="menu-groups">
            <div class="multi-level" id="ml1">
              <div class="item">
                <div class="item-name">
                  <a href="/page-no-hero">About</a>
                  <ul>
                    <li>
                      <a href="/page-hero">Page Hero</a>
                    </li>
                    <li>
                      <a href="/page-hero-carousel">Page Hero Carousel</a>
                    </li>
                    <li>
                      <a href="/page-pullquote">Page Pullquote</a>
                    </li>
                    <li>
                      <a href="/page-no-hero/#scrool"
                        >Page Anchor Smooth Scroll</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
              <div class="item">
                <div class="item-name">
                  <a href="#">Visit</a>
                  <ul>
                    <li>
                      <a href="/">Volunteers</a>
                    </li>
                    <li>
                      <a href="/">Interns</a>
                    </li>
                    <li>
                      <a href="/">Corporates</a>
                    </li>
                    <li>
                      <a href="/">Work with Us</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="item">
                <div class="item-name">
                  <a href="#">Support</a>
                  <ul>
                    <li>
                      <a href="/">Volunteers</a>
                    </li>
                    <li>
                      <a href="/">Interns</a>
                    </li>
                    <li>
                      <a href="/">Corporates</a>
                    </li>
                    <li>
                      <a href="/">Work with Us</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="item">
                <div class="item-name">
                  <a href="/contact-us/">Press</a>
                </div>
              </div>
              <div class="item">
                <div class="item-name">
                  <a href="#">Media</a>
                  <ul>
                    <li>
                      <a href="/">Volunteers</a>
                    </li>
                    <li>
                      <a href="/">Interns</a>
                    </li>
                    <li>
                      <a href="/">Corporates</a>
                    </li>
                    <li>
                      <a href="/">Work with Us</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="multi-level" id="ml2">
              <div class="item">
                <div class="item-name">
                  <a href="#">Ensemble</a>
                  <ul>
                    <li>
                      <a href="#">Projects</a>
                    </li>
                    <li>
                      <a href="#">Campaigns</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="item">
                <div class="item-name">
                  <a href="#">School</a>
                  <ul>
                    <li>
                      <div class="sub-item">
                        <div class="item-name">
                          <a href="#">History</a>
                          <ul>
                            <li>
                              <a href="#">Organisational Milestones</a>
                            </li>
                            <li>
                              <a href="#">Awards & Recognitions</a>
                            </li>
                            <li>
                              <a href="#">Journey of Causes</a>
                            </li>
                            <li>
                              <a href="#">Donor History</a>
                            </li>
                            <li>
                              <a href="#">Alliances & Partnerships</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </li>
                    <li>
                      <a href="#">Lessons Learnt</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="item">
                <div class="item-name">
                  <a href="#">Community</a>
                  <ul>
                    <li>
                      <div class="sub-item">
                        <div class="item-name">
                          <a href="#">Reports</a>
                          <ul>
                            <li>
                              <a href="#">Project Reports</a>
                            </li>
                            <li>
                              <a href="#">Financial Reports</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </li>
                    <li>
                      <a href="#">Resources</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="item">
                <div class="item-name">
                  <a href="#">Rasā</a>
                </div>
              </div>
              <div class="item">
                <div class="item-name">
                  <a href="#">People</a>
                  <ul>
                    <li>
                      <div class="sub-item">
                        <div class="item-name">
                          <a href="#">Reports</a>
                          <ul>
                            <li>
                              <a href="#">Project Reports</a>
                            </li>
                            <li>
                              <a href="#">Financial Reports</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </li>
                    <li>
                      <a href="#">Resources</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <main>
      {{ content | safe }}

      <footer>
        <div class="tagline">
          India's first modern Gurukul, Nrityagram is a one-of-a-kind community
          where dance is way of life
        </div>
        <div class="contact-info">
          <p>
            <a href="mailto:info@nrityagram.org">
              <i class="far fa-envelope"></i>
              info@nrityagram.org
            </a>
          </p>
          <p>
            <a href="tel:+918028466312">
              <i class="fas fa-phone-alt"></i>
              +91 80 28466312 / 3 / 4
            </a>
          </p>
        </div>
        <div class="address">
          <p>address line 1</p>
          <p>address line 2</p>
          <p>address line 3</p>
        </div>
        <div class="terms-n-conditions">
          <p>
            <a href="#">Privacy Policy</a>
            |
            <a href="#">Terms & Conditions</a>
            |
            <a href="#">Site Credits</a>
          </p>
          <p>© {% year %} Nrityagram | All Rights Reserved</p>
          <br />
          <p class="light-text">Registration number 121232992897EF</p>
        </div>
      </footer>
    </main>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    {% if carousels %}
    <script
      src="{{ '/utils/owl.carousel.min.js' | url }}"
      defer="defer"
    ></script>
    {% endif %}
    <script>
      var logoImgMob = document.getElementsByClassName("logo")[0];
      var logoImgDesk = document.getElementsByClassName("logo")[1];
      var mobileElem = document.getElementsByClassName("mobile")[0];
      var navElem = document.getElementsByTagName("nav")[0];
      var navBarMobElem = document.getElementsByClassName("navbar")[0];
      var navBarDeskElem = document.getElementsByClassName("navbar")[1];
      var hamMenuElem = document.getElementById("menu");
      var hamIcon = document.getElementById("ham-icon");
      var mainElem = document.getElementsByTagName("main")[0];
      var contentElem = document.getElementsByClassName("content")[0];
      var heroImage = document.getElementsByClassName("hero-image")[0];
      var heroSlider = document.getElementsByClassName("hero-slider")[0];
      var vanillaSlideshow = document.getElementById(
        "vanilla-slideshow-container"
      );
      var pageType = document.getElementById("page-type").dataset.pageType;
      // Global variables
      const navbar_bg_color_solid =
        "linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 100%)";
      var navbar_bg_color_trans =
        "linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%)";
      const navbar_height = "100px";
      const navbar_height_onscroll = "60px";
      const navbar_desk_height = "140px";
      const navbar_desk_height_onscroll = "110px";

      // save scrollY position when ham menu opens
      // and use it to scroll back the page below when menu closes
      // issue: when mobile menu is long and user scrolls the page below also scrolls
      var initial_scrollY_pos = 0;

      window.scroll({ behavior: "smooth" });

      window.addEventListener("load", (event) => {
        if (pageType == "home") {
          navbar_bg_color_trans =
            "linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 100%)";
          navBarDeskElem.style.background = navbar_bg_color_trans;
          navBarMobElem.style.background = navbar_bg_color_trans;
        }
      });

      function _setnavbar_bgcolour() {
        let fromTop = window.scrollY;

        if (fromTop > 0) {
          logoImgMob.style.height = "40px";
          logoImgDesk.style.height = "80px";
          navBarMobElem.style.height = navbar_height_onscroll;
          navBarDeskElem.style.height = navbar_desk_height_onscroll;
          navBarDeskElem.style.background = navbar_bg_color_solid;
          if (contentElem) {
            navBarMobElem.style.background = navbar_bg_color_solid;
          }
        }

        if (fromTop < 1) {
          if (!hamMenuElem.checked) {
            logoImgMob.style.height = "80px";
            logoImgDesk.style.height = "110px";
            navBarMobElem.style.height = navbar_height;
            navBarDeskElem.style.height = navbar_desk_height;
            navBarDeskElem.style.background = navbar_bg_color_trans;
            if (contentElem) {
              navBarMobElem.style.background = navbar_bg_color_trans;
            }
          }
        }
      }

      window.addEventListener("scroll", () => {
        _setnavbar_bgcolour();
      });

      hamMenuElem.addEventListener("click", () => {
        if (hamMenuElem.checked) {
          initial_scrollY_pos = window.scrollY;
          window.scrollTo(0, 0);
          console.log("open menu scrollY = " + initial_scrollY_pos);
          mobileElem.style.minHeight = "100vh";
          if (contentElem) {
            contentElem.style.overflow = "hidden";
            mainElem.style.position = "fixed";
            navBarMobElem.style.background = navbar_bg_color_solid;
          }
          logoImgMob.style.height = "40px";
          logoImgDesk.style.height = "110px";
          navBarMobElem.style.height = navbar_height_onscroll;
          hamIcon.classList.toggle("ham-open");
        } else {
          mobileElem.style.minHeight = "100%";
          if (contentElem) {
            contentElem.style.overflow = "auto";
            mainElem.style.position = "static";
            _setnavbar_bgcolour();
          }
          hamIcon.classList.toggle("ham-open");
          window.scrollTo(0, initial_scrollY_pos);
        }
      });

      if (window.innerWidth > 799) {
        if (heroImage) {
          heroImage.style.marginTop = "-" + navbar_desk_height;
        }

        if (heroSlider) {
          heroSlider.style.marginTop = "-" + navbar_desk_height;
        }
      }

      function close_menu() {
        hamMenuElem.checked = false;
        mobileElem.style.minHeight = "100%";
        if (contentElem) {
          contentElem.style.overflow = "auto";
          mainElem.style.position = "static";
          _setnavbar_bgcolour();
        }
        hamIcon.classList.toggle("ham-open");
      }

      // prevent download of images through mouse events
      $(document).ready(function () {
        $("img").bind("contextmenu", function (e) {
          return false;
        });
      });
    </script>
    {% if carousels %}
    <script src="{{ '/utils/owl_custom.js' | url }}"></script>
    {% endif %} {% if heroSlider %}
    <script src="{{ '/utils/vanillaSlideshow.min.js' | url }}"></script>
    <script>
      vanillaSlideshow.init({
        // auto slideshow, options: true or false
        slideshow: true,
        // slideshow delay
        delay: 3500,
        // display arrows, options: true or false
        arrows: true,
        // display indicators, options: true or false
        indicators: false,
        // start slideshow randomly, options: true or false
        random: false,
        // animation speed
        animationSpeed: "1.75s",
      });
    </script>
    {% endif %}
  </body>
</html>
