---
layout: _base.njk
heroType: "image"
pageType: "inner"
---

{% if heroDesk %}
<div
  class="hero-image"
  data-hero-image-desk="{{ heroDesk }}"
  data-hero-image-tablet="{{ heroTab }}"
  data-hero-image-mobile="{{ heroMob }}"
  data-hero-image-desk-x2="{{ heroDesk_x2 }}"
  data-hero-image-tablet-x2="{{ heroTab_x2 }}"
  data-hero-image-mobile-x2="{{ heroMob_x2 }}"
  alt="hero image description"
>
  <div class="hero-text">{{ heroText }}</div>
  <div
    class="hero-credit"
    data-hero-credit-desk="{{ heroDeskCredit }}"
    data-hero-credit-tablet="{{ heroTabCredit }}"
    data-hero-credit-mobile="{{ heroMobCredit }}"
  ></div>
</div>
{% endif %}

<main>
  {{ content | safe }}
</main>

{% if heroText %}
<script>
  gsap.to(".hero-text", { duration: 2, y: 30 });
</script>
{% endif %}

<script>
  var heroImage = document.getElementsByClassName("hero-image")[0];
  var heroCredit = document.getElementsByClassName("hero-credit")[0];
  if (window.innerWidth > 1024) {
    if (window.devicePixelRatio > 1) {
      heroImage.style.backgroundImage =
        "image-set(url('" +
        heroImageDeskX2 +
        "') 2x, url('" +
        heroImageDeskX2 +
        "') 3x);";
    } else {
      heroImage.style.backgroundImage = heroImage.dataset.heroImageDesk;
    }
    // heroImage.style.backgroundImage = heroImage.dataset.heroImageDesk;
    heroCredit.innerHTML = "Credit - " + heroCredit.dataset.heroCreditDesk;
  } else if (window.innerWidth > 599) {
    if (window.devicePixelRatio > 1) {
      heroImage.style.backgroundImage =
        "image-set(url('" +
        heroImageTabletX2 +
        "') 2x, url('" +
        heroImageTabletX2 +
        "') 3x);";
    } else {
      heroImage.style.backgroundImage = heroImage.dataset.heroImageTablet;
    }
    // heroImage.style.backgroundImage = heroImage.dataset.heroImageTablet;
    heroCredit.innerHTML = "Credit - " + heroCredit.dataset.heroCreditTablet;
  } else {
    if (window.devicePixelRatio > 1) {
      heroImage.style.backgroundImage =
        "image-set(url('" +
        heroImageMobileX2 +
        "') 2x, url('" +
        heroImageMobileX2 +
        "') 3x);";
    } else {
      heroImage.style.backgroundImage = heroImage.dataset.heroImageMobile;
    }
    // heroImage.style.backgroundImage = heroImage.dataset.heroImageMobile;
    heroCredit.innerHTML = "Credit - " + heroCredit.dataset.heroCreditMobile;
  }
  heroCredit.innerHTML = window.devicePixelRatio;
</script>
