.button-accent {
  &.bottom-right-anchor {
    position: absolute;
    bottom: 9px;
    right: 15px;
    z-index: 2;
  }
  color: var(--primary-color);
  font-family: var(--sans-serif-font-family);
  font-size: var(--small-fontsize);
  text-decoration: none;
  background: var(--very-light-grey-color);
  border: 1px solid var(--grey-color);
  border-radius: 3px;
  padding: 5px 10px;
  &[data-icon] {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    i {
      color: var(--grey-color);
      font-size: calc(3px + var(--small-fontsize));
    }
    span {
      color: var(--primary-color);
    }
  }
  &.white-bg {
    background: #fff;
  }
  &:hover {
    background: var(--light-grey-color);
    cursor: pointer;
  }
}
