@import "neumorphic-shapes";

.cta-headline {
  font-size: var(--cta-font-size-large);
  font-family: var(--serif-font-family);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  // padding-bottom: 3px;
}

.cta-bodytext {
  font-size: var(--cta-font-size);
  font-family: var(--sans-serif-font-family);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

#cta-box-desk {
  display: block;
  background: rgba(255, 255, 255, 0.13);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border-top: 1px solid rgba(211, 195, 195, 0.2);
  border-left: 1px solid rgba(211, 195, 195, 0.2);
  max-width: 23vw;
  max-height: -moz-fit-content;
  max-height: -webkit-fit-content;
  position: absolute;
  padding: 0.5em 1.7em 0.5em;

  &.home1 {
    bottom: 200px;
    right: 60px;
  }

  &.home2 {
    bottom: 11vh;
    right: 60px;
  }

  &.home3 {
    bottom: 11vh;
    left: 60px;
  }

  &.home4 {
    top: 115px;
    left: 22px;
  }


  .cta-headline {
    color: var(--cta-font-colour-light);
  }
  .cta-bodytext {
    color: var(--cta-font-colour-light);
  }
}

#cta-box-mobile {
  display: block;
  width: 67%;
  height: fit-content;
  height: -moz-fit-content;
  margin: 0 auto;
  background-color: var(--accent-color-3);
  padding: 1.2em 1em 0.6em;
  text-align: center;

  // simple neimorphic rectangle block
  border-radius: 10px;
  @include neumorphism($distance, $blur, $intensity);

  .cta-headline {
    color: var(--cta-font-colour-dark);
  }
  .cta-bodytext {
    color: var(--cta-font-colour-dark);
    text-shadow: none;
  }
}

@media only screen and (orientation: portrait) {
  // shift cta box to the center
  #cta-box-desk {
    right: 32%;
  }

  #cta-box-mobile {
    display: none;
  }
}

// Mobile & Tablet
@media only screen and (max-width: 800px) {
  #cta-box-desk {
    display: none;
  }
  #cta-box-mobile {
    display: block;
  }
}

// Desktop
@media only screen and (min-width: 800px) {
  #cta-box-mobile {
    display: none;
  }
  #cta-box-desk {
    display: block;
  }
}
