#cta-box {
  display: block;
  background: rgba(255, 255, 255, 0.13);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border-top: 1px solid rgba(211, 195, 195, 0.2);
  border-left: 1px solid rgba(211, 195, 195, 0.2);
  max-width: 30vw;
  max-height: fit-content;
  position: absolute;
  bottom: calc(6vh + 110px);
  right: 60px;
  padding: 1.2em 1em 0.6em;
  color: var(--cta-font-colour);
  .cta-headline {
    font-size: var(--cta-font-size-large);
    font-family: var(--serif-font-family);
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
    padding-bottom: 10px;
  }
  font-size: var(--cta-font-size);
  font-family: var(--sans-serif-font-family);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
}

@media only screen and (orientation: portrait) {
  // shift cta box to the center
  #cta-box {
    right: 32%;
  }
}

// Mobile & Tablet
@media only screen and (max-width: 800px) {
  #cta-box {
    display: none;
  }
}
