.is-flkty-hidden {
  opacity: 0;
}

.venues {
  height: 100px;
  margin: 1.75em 0 0;

  // mobile screens
  .carousel-cell {
    width: 50%;
    height: 120px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    counter-increment: carousel-cell;

    .slide-img {
      img {
        width: 100%;
        height: 80px;
        object-fit: scale-down;
      }
    }

    .slide-caption {
      font-family: var(--sans-serif-font-family);
      font-size: var(--small-fontsize);
      line-height: var(--small-line-height);
      color: var(--dark-grey-color);
      text-align: center;
    }
  }

  @media screen and (min-width: 800px) {
    .carousel-cell {
      width: 28%;
      margin-right: 20px;
    }
  }

  @media screen and (min-width: 1200px) {
    .carousel-cell {
      width: 22%;
    }
  }

  @media screen and (min-width: 1300px) {
    .carousel-cell {
      width: 20%;
    }
  }
  // very large screens
  @media screen and (min-width: 1800px) {
    .carousel-cell {
      width: 15%;
    }
  }
}

// this layout works well uptil min-width = 1050px
.reviews {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.airgap {
  width: 50px;
}
.review-sliders--grid-container {
  --cell-size: 3.17vw;
  display: grid;
  //   width: 83.5vw;
  height: 100%;
  grid-template-rows: repeat(8, var(--cell-size));
  grid-template-columns: repeat(26, var(--cell-size));

  .flickity-button {
    display: none;
  }

  .red-button {
    background-color: var(--primary-color);
    // border: 3px solid var(--accent-color-1);
    // outline: var(--accent-color-2) solid 2px;
    // outline-offset: -3px;
    color: #fff;
  }

  .review-content--container {
    position: relative;
    grid-row: span 8;
    grid-column: span 15;
    overflow: hidden;
    border-radius: 8px 0 0 8px;
    .button-accent {
      position: absolute;
      bottom: 15px;
      right: 15px;
      color: var(--primary-color);
      font-family: var(--sans-serif-font-family);
      font-size: var(--small-fontsize);
      background: var(--very-light-grey-color);
      border: 1px solid var(--grey-color);
      border-radius: 3px;
      padding: 5px 10px;
      z-index: 2;
      &:hover {
        background: var(--light-grey-color);
        cursor: pointer;
      }
    }
  }

  .review-content--carousel {
    width: 100%;
    height: 100%;
    background: var(--light-grey-color);
    color: var(--dark-grey-color);
    font-size: clamp(14px, 1.35vw, 20px);
    font-family: var(--serif-font-family);
    // height: calc(8 * var(--cell-size));
    .carousel-cell {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      counter-increment: carousel-cell;
      p {
        // remove the center alignment
        margin: 0;
        padding: calc(1.1 * var(--cell-size)) 3.1em 0.1em;
        &:nth-child(n + 2) {
          padding-top: 8px;
        }
      }
    }
  }

  .review-img {
    grid-row: span 7;
    grid-column: span 11;
    overflow-x: hidden;
  }
  .review-img--carousel {
    background: var(--dark-grey-color);
    .carousel-cell {
      width: 105%;
      height: 100%;
      margin: 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .review-nav-buttons {
    grid-row: span 1;
    grid-column: span 2;
    display: flex;
    justify-content: flex-start;
    background-color: var(--accent-color-2);
    .button {
      display: flex;
      justify-content: center;
      align-content: center;
      height: 100%;
      padding: 0 20px;
      font-size: calc(0.7 * var(--cell-size));
      color: var(--light-grey-color);
      background-color: var(--primary-color);
      border-width: 2px;
      border-style: solid;
      border-color: var(--accent-color-2);
      border-radius: 3px 3px 3px 0;
      &:hover {
        background-color: var(--accent-color-1);
      }
      &:nth-child(2) {
        border-radius: 0 0 4px 3px;
      }
    }
  }
}
