.is-flkty-hidden {
  opacity: 0;
}

.venues {
  height: 100px;
  margin: 1em 0 0;

  // mobile screens
  .carousel-cell {
    width: 50%;
    height: 120px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    counter-increment: carousel-cell;

    .slide-img {
      img {
        width: 100%;
        height: 40px;
        object-fit: scale-down;
      }
    }

    .slide-caption {
      font-family: var(--sans-serif-font-family);
      font-size: var(--small-fontsize);
      line-height: var(--small-line-height);
      color: var(--dark-grey-color);
      text-align: center;
    }
  }

  @media screen and (min-width: 800px) {
    .carousel-cell {
      width: 28%;
      margin-right: 20px;
    }
  }

  @media screen and (min-width: 1200px) {
    .carousel-cell {
      // width: 22%;
      // width: 18%; **
      width: 12%;
    }
  }

  @media screen and (min-width: 1300px) {
    .carousel-cell {
      // width: 20%;
      width: 16%;
    }
  }
  // very large screens
  @media screen and (min-width: 1800px) {
    .carousel-cell {
      width: 15%;
    }
  }
}

.review-content--carousel {
  width: 50vw;
  height: 22vw;

  background: #fff;
  overflow: hidden;
  border-radius: 8px 0 0 8px;
  color: var(--dark-grey-color);
  font-size: clamp(15px, 1.38vw, 20px);
  font-family: var(--serif-font-family);
  position: relative;

  .flickity-button {
    background: transparent;
  }

  .flickity-button-icon {
    fill: var(--light-grey-color);
  }

  .flickity-page-dots {
    bottom: 6px;
  }

  /* white circles */
  .flickity-page-dots .dot {
    width: 6px;
    height: 6px;
    opacity: 1;
    background: transparent;
    border: 1px solid var(--light-grey-color);
  }

  /* fill-in selected dot */
  .flickity-page-dots .dot.is-selected {
    background: var(--light-grey-color);
  }

  .red-button {
    background-color: var(--primary-color);
    color: #fff;
  }

  .carousel-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    counter-increment: carousel-cell;

    p {
      margin: 0;
      padding: 0 4em;
      font-size: clamp(10px, calc(0.6em + 0.38vw), 20px);
      line-height: clamp(11px, calc(0.9em + 0.38vw), 23px);

      &:nth-child(n + 2) {
        padding-top: 8px;
      }
    }
  }
}

.review-img--carousel {
  width: 50vw;
  height: 22vw;

  background: var(--dark-grey-color);
  overflow: hidden;
  border-radius: 0 8px 8px 0;

  .carousel-cell {
    width: 100%;
    height: 100%;
    img {
      min-width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
