.flip-card-grid {
  display: grid;
  padding: 1em 0;
  margin: 0 auto;
  font-family: var(--sans-serif-font-family);
  color: #fff;
  min-height: fit-content;

  @media (max-width: 599px) {
    max-width: 70%;
    grid-template-columns: 100%;
    grid-gap: 6vw;
  }
  @media (min-width: 600px) {
    max-width: 60%;
    grid-template-columns: 100%;
    grid-gap: 4vw;
  }
  @media (min-width: 700px) {
    max-width: 75%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2.5vw;
  }
  @media (min-width: 800px) {
    max-width: 67%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2.5vw;
  }
  @media (min-width: 1100px) {
    max-width: 60%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2.5vw;
  }
  @media (min-width: 1220px) {
    max-width: 80%;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.2vw;
  }

  &.pair {
    @media (min-width: 1220px) {
      max-width: 39.5%;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1.2vw;
    }
  }
}

.flip-card-grid .flip-card::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 0;
  // --card-aspect-ratio: 310/510; DOES NOT WORK AFTER DEPLOYING TO NETLIFY
  // padding-bottom: calc(100% / (var(--card-aspect-ratio)));
  // 310/510 = 0.608
  padding-bottom: calc(100% / 0.608);
}

.flip-card-container {
  margin: 0;
  perspective: 1000px;

  a {
    color: #fff;
    text-decoration: none;
  }

  .flip-card {
    width: inherit;
    height: inherit;
    position: relative;
    transform-style: preserve-3d;
    transition: 0.6s 0.1s;

    .card-front,
    .card-back {
      width: 100%;
      height: 100%;
      border-radius: 12px;

      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;

      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;

      display: flex;
      flex-direction: column;

      -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
        0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.2),
        0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.15);
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.15),
        0 4px 4px rgba(0, 0, 0, 0.2), 0 8px 8px rgba(0, 0, 0, 0.1),
        0 16px 16px rgba(0, 0, 0, 0.15);
    }

    .card-front {
      transform: rotateY(0deg);
      z-index: 2;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top center;

      .card-title--fade-bg {
        width: 45%;
        height: 100%;
        background: -webkit-linear-gradient(
          270deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.4) 100%
        );
        background: linear-gradient(
          270deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.4) 100%
        );
        // justify-self: flex-start;
        // align-self: flex-start;
      }

      .card-title {
        display: block;
        position: absolute;
        font-family: var(--serif-font-family);
        font-weight: var(--medium-font-weight);
        font-size: calc(32px + 0.3vw);
        letter-spacing: 3px;
        // text-transform: uppercase;

        writing-mode: vertical-rl;
        bottom: 40px;
        left: 18px;
        // z-index: 3;
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);

        @media (max-width: 359px) {
          font-size: calc(44px + 0.3vw);
          bottom: 20px;
          left: 10px;
        }
        @media (min-width: 360px) {
          font-size: calc(52px + 0.3vw);
          bottom: 20px;
          left: 10px;
        }
        @media (min-width: 700px) {
          font-size: calc(48px + 0.3vw);
          bottom: 40px;
          left: 18px;
        }
        @media (min-width: 900px) {
          font-size: calc(52px + 0.3vw);
          bottom: 40px;
          left: 18px;
        }
        @media (min-width: 1000px) {
          font-size: calc(54px + 0.3vw);
          bottom: 40px;
          left: 18px;
        }
        @media (min-width: 1220px) {
          font-size: calc(42px + 0.3vw);
          bottom: 25px;
          left: 18px;
        }
        @media (min-width: 1440px) {
          font-size: calc(48px + 0.3vw);
          bottom: 30px;
          left: 18px;
        }
      }
    }

    .card-back {
      justify-content: center;
      align-items: center;
      transform: rotateY(180deg);
      z-index: 1;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top center;
      // background-color: var(--primary-color);

      .card-title {
        font-family: var(--serif-font-family);
        font-size: calc(30px + 0.3vw);
        display: block;
        position: absolute;
        top: 1vw;
        text-align: center;
        width: 75%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      }
      .card-content {
        // max character count that fits = 341 (incl spaces)
        font-family: var(--serif-font-family);
        font-size: calc(18px + 0.3vw);
        font-weight: var(--medium-font-weight);
        display: block;
        position: absolute;
        bottom: 6.5vw;
        text-align: center;
        padding: 1em 2em;
      }
      .card-tagline {
        // font-family: var(--sans-serif-font-family);
        // font-size: calc(20px + 0.3vw);
        // font-weight: var(--strong-font-weight);
        display: block;
        position: absolute;
        width: 100%;
        // max-width: fit-content;
        // text-align: center;
        bottom: 2vw;
      }
      @media (max-width: 329px) {
        .card-title {
          font-size: calc(26px + 0.1vw);
          line-height: calc(29px + 0.3vw);
          top: 3vw;
          padding-bottom: 3vw;
        }
        .card-content {
          font-size: calc(14px + 0.15vw);
          line-height: calc(18px + 0.3vw);
          bottom: 6vw;
        }
        .card-tagline {
          font-size: calc(16px + 0.1vw);
          // padding: 0 1em;
          bottom: 4vw;
        }
      }
      @media (min-width: 330px) {
        .card-title {
          font-size: calc(26px + 0.1vw);
          line-height: calc(29px + 0.3vw);
          top: 3vw;
          padding-bottom: 3vw;
        }
        .card-content {
          font-size: calc(16px + 0.15vw);
          line-height: calc(19px + 0.3vw);
          bottom: 6vw;
        }
        .card-tagline {
          font-size: calc(18px + 0.1vw);
          // padding: 0 1em;
          bottom: 4vw;
        }
      }
      @media (min-width: 380px) {
        .card-title {
          font-size: calc(30px + 0.3vw);
          line-height: calc(33px + 0.3vw);
          top: 2vw;
          padding-bottom: 2vw;
        }
        .card-content {
          font-size: calc(18px + 0.3vw);
          line-height: calc(22px + 0.3vw);
          bottom: 7vw;
        }
        .card-tagline {
          font-size: calc(18px + 0.3vw);
          bottom: 5vw;
        }
      }
      @media (min-width: 450px) {
        .card-title {
          font-size: calc(30px + 0.3vw);
          line-height: calc(33px + 0.3vw);
          top: 2vw;
          padding-bottom: 2vw;
        }
        .card-content {
          font-size: calc(22px + 0.3vw);
          line-height: calc(26px + 0.3vw);
          bottom: 7vw;
        }
        .card-tagline {
          font-size: calc(18px + 0.3vw);
          bottom: 5vw;
        }
      }
      @media (min-width: 570px) {
        .card-title {
          font-size: calc(30px + 0.3vw);
          line-height: calc(33px + 0.3vw);
          top: 1.5vw;
          padding-bottom: 1.5vw;
        }
        .card-content {
          font-size: calc(24px + 0.3vw);
          line-height: calc(28px + 0.3vw);
          bottom: 5vw;
        }
        .card-tagline {
          font-size: calc(18px + 0.3vw);
          bottom: 3vw;
        }
      }
      @media (min-width: 640px) {
        .card-title {
          font-size: calc(32px + 0.3vw);
          line-height: calc(35px + 0.3vw);
          top: 2vw;
          padding-bottom: 2vw;
        }
        .card-content {
          font-size: calc(22px + 0.3vw);
          line-height: calc(26px + 0.3vw);
          bottom: 5vw;
        }
        .card-tagline {
          font-size: calc(22px + 0.3vw);
          bottom: 5vw;
        }
      }
      @media (min-width: 700px) {
        .card-title {
          font-size: calc(30px + 0.3vw);
          line-height: calc(33px + 0.3vw);
          top: 1vw;
          padding-bottom: 1vw;
        }
        .card-content {
          font-size: calc(15px + 0.3vw);
          line-height: calc(19px + 0.3vw);
          bottom: 5vw;
        }
        .card-tagline {
          font-size: calc(18px + 0.3vw);
          bottom: 3vw;
        }
      }
      @media (min-width: 900px) {
        .card-title {
          font-size: calc(32px + 0.3vw);
          line-height: calc(35px + 0.3vw);
          top: 1.5vw;
          padding-bottom: 1.5vw;
        }
        .card-content {
          font-size: calc(16px + 0.3vw);
          line-height: calc(19px + 0.3vw);
          bottom: 5vw;
        }
        .card-tagline {
          font-size: calc(20px + 0.3vw);
          bottom: 2vw;
        }
      }
      @media (min-width: 1000px) {
        .card-title {
          font-size: calc(32px + 0.3vw);
          line-height: calc(35px + 0.3vw);
          top: 1.5vw;
          padding-bottom: 1.5vw;
        }
        .card-content {
          font-size: calc(18px + 0.3vw);
          line-height: calc(21px + 0.3vw);
          bottom: 7vw;
        }
        .card-tagline {
          font-size: calc(20px + 0.3vw);
          bottom: 2vw;
        }
      }
      @media (min-width: 1220px) {
        .card-title {
          font-size: calc(24px + 0.3vw);
          line-height: calc(26px + 0.3vw);
          top: 1vw;
          padding-bottom: 1vw;
        }
        .card-content {
          font-size: calc(15px + 0.3vw);
          line-height: calc(17px + 0.3vw);
          bottom: 7vw;
        }
        .card-tagline {
          font-size: calc(16px + 0.3vw);
          bottom: 2vw;
        }
      }
      @media (min-width: 1300px) {
        .card-title {
          font-size: calc(28px + 0.3vw);
          line-height: calc(31px + 0.3vw);
          top: 0.75vw;
          padding-bottom: 0.75vw;
        }
        .card-content {
          font-size: calc(13px + 0.3vw);
          line-height: calc(16px + 0.3vw);
          bottom: 7vw;
        }
        .card-tagline {
          font-size: calc(18px + 0.3vw);
          bottom: 2vw;
        }
      }
      @media (min-width: 1400px) {
        .card-title {
          font-size: calc(30px + 0.3vw);
          line-height: calc(33px + 0.3vw);
          top: 1vw;
          padding-bottom: 1vw;
        }
        .card-content {
          font-size: calc(14px + 0.3vw);
          line-height: calc(17px + 0.3vw);
          bottom: 7vw;
        }
        .card-tagline {
          font-size: calc(18px + 0.3vw);
          bottom: 2vw;
        }
      }
      @media (min-width: 1700px) {
        .card-title {
          font-size: calc(30px + 0.3vw);
          line-height: calc(33px + 0.3vw);
          top: 1vw;
          padding-bottom: 1vw;
        }
        .card-content {
          font-size: calc(16px + 0.3vw);
          line-height: calc(19px + 0.3vw);
          bottom: 7vw;
        }
        .card-tagline {
          font-size: calc(20px + 0.3vw);
          bottom: 2vw;
        }
      }
    }
  }
}

/* hover and focus-within states */
.flip-card-container:hover .flip-card,
.flip-card-container:focus-within .flip-card {
  transform: rotateY(180deg);
}
