.flip-card-grid {
  display: grid;
  padding: 1em 0;
  margin: 0 auto;
  font-family: var(--sans-serif-font-family);
  color: #fff;
  min-height: fit-content;

  @media (max-width: 599px) {
    max-width: 70%;
    grid-template-columns: 100%;
    grid-gap: 6vw;
  }
  @media (min-width: 600px) {
    max-width: 60%;
    grid-template-columns: 100%;
    grid-gap: 4vw;
  }
  @media (min-width: 700px) {
    max-width: 70%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2.5vw;
  }
  @media (min-width: 1100px) {
    max-width: 60%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2.5vw;
  }
  @media (min-width: 1220px) {
    max-width: 80%;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.2vw;
  }

  &.pair {
    @media (min-width: 1220px) {
      max-width: 39.5%;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1.2vw;
    }
  }
}

.flip-card-grid .flip-card::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 0;
  // --card-aspect-ratio: 310/510; DOES NOT WORK AFTER DEPLOYING TO NETLIFY
  // padding-bottom: calc(100% / (var(--card-aspect-ratio)));
  // 310/510 = 0.608
  padding-bottom: calc(100% / 0.608);
}

.flip-card-container {
  margin: 0;
  perspective: 1000px;

  .flip-card {
    width: inherit;
    height: inherit;
    position: relative;
    transform-style: preserve-3d;
    transition: 0.6s 0.1s;

    .card-front,
    .card-back {
      width: 100%;
      height: 100%;
      border-radius: 12px;

      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;

      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;

      display: flex;
      // justify-content: center;
      // align-items: center;

      -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
        0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1),
        0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
        0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
        0 16px 16px rgba(0, 0, 0, 0.1);
    }

    .card-front {
      transform: rotateY(0deg);
      z-index: 2;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top center;

      .card-title--fade-bg {
        width: 35%;
        height: 100%;
        background: -webkit-linear-gradient(
          270deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.35) 100%
        );
        background: linear-gradient(
          270deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.35) 100%
        );
        // justify-self: flex-start;
        // align-self: flex-start;
      }

      .card-title {
        display: block;
        position: absolute;
        font-weight: var(--medium-font-weight);
        font-size: calc(28px + 0.3vw);
        text-transform: uppercase;

        writing-mode: vertical-rl;
        bottom: 40px;
        left: 18px;
        // z-index: 3;
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);

        @media (max-width: 589px) {
          font-size: calc(36px + 0.3vw);
          bottom: 35px;
          left: 20px;
        }
        @media (min-width: 590px) {
          font-size: calc(52px + 0.3vw);
          bottom: 60px;
          left: 24px;
        }
        @media (min-width: 700px) {
          font-size: calc(28px + 0.3vw);
          bottom: 40px;
          left: 18px;
        }
      }
    }

    .card-back {
      transform: rotateY(180deg);
      z-index: 1;
      background-color: var(--primary-color);

      .card-title {
        font-family: var(--serif-font-family);
        font-size: calc(30px + 0.3vw);
        display: block;
        position: absolute;
        top: 1vw;
        text-align: center;
        width: 75%;
        padding-bottom: 5px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      }
      .card-content {
        font-family: var(--serif-font-family);
        font-size: calc(16px + 0.3vw);
        // TODO: media query for font sizes
        display: block;
        position: absolute;
        top: 4vw;
        // TODO: media query for top values
        text-align: center;
        padding: 1em 2em;
      }
      .card-tagline {
        font-family: var(--sans-serif-font-family);
        font-size: calc(20px + 0.3vw);
        font-weight: var(--strong-font-weight);
        display: block;
        position: absolute;
        text-align: center;
        padding: 0 1.5em;
        bottom: 2vw;
      }

      @media (max-width: 374px) {
        .card-title {
          font-size: calc(30px + 0.1vw);
          top: 1vw;
          padding-bottom: 1vw;
        }
        .card-content {
          font-size: calc(16px + 0.15vw);
          line-height: 19px;
          top: 12vw;
        }
        .card-tagline {
          font-size: calc(18px + 0.1vw);
          padding: 0 1em;
          bottom: 4vw;
        }
      }
      @media (min-width: 375px) {
        .card-title {
          font-size: calc(30px + 0.3vw);
          top: 1vw;
          padding-bottom: 1vw;
        }
        .card-content {
          font-size: calc(18px + 0.3vw);
          line-height: 22px;
          top: 12vw;
        }
        .card-tagline {
          font-size: calc(18px + 0.3vw);
          bottom: 5vw;
        }
      }
      @media (min-width: 570px) {
        .card-title {
          font-size: calc(30px + 0.3vw);
          top: 1.5vw;
          padding-bottom: 1.5vw;
        }
        .card-content {
          font-size: calc(18px + 0.3vw);
          top: 9vw;
        }
        .card-tagline {
          font-size: calc(18px + 0.3vw);
          bottom: 3vw;
        }
      }
      @media (min-width: 640px) {
        .card-title {
          font-size: calc(32px + 0.3vw);
          top: 2vw;
          padding-bottom: 2vw;
        }
        .card-content {
          font-size: calc(20px + 0.3vw);
          line-height: 24px;
          top: 10vw;
        }
        .card-tagline {
          font-size: calc(22px + 0.3vw);
          bottom: 5vw;
        }
      }
      @media (min-width: 700px) {
        .card-title {
          font-size: calc(30px + 0.3vw);
          top: 1vw;
          padding-bottom: 1vw;
        }
        .card-content {
          font-size: calc(16px + 0.3vw);
          line-height: 20px;
          top: 7vw;
        }
        .card-tagline {
          font-size: calc(20px + 0.3vw);
          bottom: 3vw;
        }
      }
      @media (min-width: 900px) {
        .card-title {
          font-size: calc(32px + 0.3vw);
          top: 1.5vw;
          padding-bottom: 1.5vw;
        }
        .card-content {
          font-size: calc(18px + 0.3vw);
          line-height: 24px;
          top: 7vw;
        }
        .card-tagline {
          font-size: calc(20px + 0.3vw);
        }
      }
      @media (min-width: 1220px) {
        .card-title {
          font-size: calc(26px + 0.3vw);
          top: 0.5vw;
          padding-bottom: 0.5vw;
        }
        .card-content {
          font-size: calc(12px + 0.3vw);
          top: 4vw;
        }
        .card-tagline {
          font-size: calc(16px + 0.3vw);
        }
      }
      @media (min-width: 1300px) {
        .card-title {
          font-size: calc(30px + 0.3vw);
          top: 0.75vw;
          padding-bottom: 0.75vw;
        }
        .card-content {
          font-size: calc(13px + 0.3vw);
          top: 5vw;
        }
        .card-tagline {
          font-size: calc(18px + 0.3vw);
        }
      }
      @media (min-width: 1400px) {
        .card-title {
          font-size: calc(30px + 0.3vw);
          top: 1vw;
          padding-bottom: 1vw;
        }
        .card-content {
          font-size: calc(14px + 0.3vw);
          top: 5vw;
        }
        .card-tagline {
          font-size: calc(18px + 0.3vw);
          bottom: 2vw;
        }
      }
      @media (min-width: 1700px) {
        .card-title {
          font-size: calc(30px + 0.3vw);
          top: 1vw;
          padding-bottom: 1vw;
        }
        .card-content {
          font-size: calc(16px + 0.3vw);
          top: 5vw;
        }
        .card-tagline {
          font-size: calc(20px + 0.3vw);
          bottom: 2vw;
        }
      }
    }
  }
}

/* hover and focus-within states */
.flip-card-container:hover .flip-card,
.flip-card-container:focus-within .flip-card {
  transform: rotateY(180deg);
}
