.flip-card-grid {
  display: grid;
  grid-gap: 1em;
  padding: 1em 0;
  max-width: 67%;
  margin: 0 auto;
  font-family: var(--sans-serif-font-family);
}

.flip-card-container {
  .flip-card {
    .card-front {
    }

    .card-back {
    }
  }
}
