#home_tagline {
  z-index: 6;
  min-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-content: center;
  text-align: center;
  position: absolute;
  bottom: 16vh;
  color: #dddddd;
  text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.5);

  .tagline-text {
    display: block;
    font-size: calc(17px + 1vw);
    max-width: 85%;
    align-self: center;
  }
  .tagline-credit {
    display: block;
    font-size: calc(8px + 0.8vw);
    align-self: center;
    line-height: 1.5em;
  }
}
.home-credit {
  position: absolute;
  writing-mode: vertical-rl;
  top: 60vh;
  right: 3px;
  font-size: var(--image-credit-font-size-large);
  font-family: var(--sans-serif-font-family);
  color: var(--image-credit-font-colour);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
  // padding: 0.1em 0.5em;
}

.home-credit::before {
  content: "Photo : ";
}

// Desktop + Tablet
@media only screen and (min-width: 800px) {
  .home-credit {
    top: 60vh;
  }

  #home_tagline {
    // bottom: 60px;
    bottom: 6vh;
  }
}
