.home_tagline {
  z-index: 6;
  
  display: flex;
  flex-direction: column;
  gap: 5px;
  
  position: absolute;
  
  color: #f3f3f3;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.75);

  &.home2 {
    min-width: 50%;
    text-align: left;
    bottom: 3vh;
    left: 60px;
  }

  &.home1 {
    min-width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    text-align: center;
    bottom: 1.5vh;
  }

  &.home3 {
    min-width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    text-align: center;
    bottom: 40%;
    transform: translateY(-40%);
  }

  .tagline-text {
    display: block;
    // font-size: calc(17px + 1vw);
    font-size: calc(10px + 0.90vw);
    
    &.home1 {
      max-width: 90%;
      align-self: center;
    }
    &.home2 {
      max-width: 100%;
    }
    &.home3 {
      max-width: 90%;
      align-self: center;
    }
  }
  .tagline-credit {
    display: block;
    font-size: calc(7px + 0.8vw);
    font-weight: 700;
    line-height: 1.3em;

    &.home1 {
      align-self: center;
    }
  }
}
.home-credit {
  position: absolute;
  writing-mode: vertical-rl;
  top: 60vh;
  right: 3px;
  font-size: var(--image-credit-font-size-large);
  font-family: var(--sans-serif-font-family);
  color: var(--image-credit-font-colour);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
  // padding: 0.1em 0.5em;
}

.home-credit::before {
  content: "Photo : ";
}

// Desktop + Tablet
@media only screen and (min-width: 800px) {
  .home-credit {
    top: 60vh;
  }

  .home_tagline {
    // bottom: 60px;
    // bottom: 5vh;
    bottom: 7vh;
  }
}
