.img-plus {
    width: 100%;
    height: 100%;
    
    picture {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    border-radius: 12px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    // object-fit: cover;

    .img-caption {
        position: absolute;
        top: 100.5%;
        width: 100%;
        text-align: center;
        font-size: 0.75em;
        line-height: 0.95em;
        padding: 0;
    }

    .img-credit {
        position: absolute;
        writing-mode: vertical-rl;
        letter-spacing: 1px;
        bottom: 20px;
        right: 2px;
        font-size: var(--image-credit-font-size);
        font-family: var(--sans-serif-font-family);
        color: #fff;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
    }

    .img-title,
    .img-subtitle {
        max-width: 75%;
        text-align: right;
        color: #fff;
        font-weight: var(--medium-serif-font-weight);
        position: absolute;
        top: 40%;
        right: 35px;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
    }
    .img-title {
        font-size: 2.35em;
        line-height: 1em;
    }
     .img-subtitle {
         margin-top: 1.2em;
         font-size: 2.1em;
     }

    // .img-subtitle {
    //     color: #fff;
    //     font-size: 1.75em;
    //     position: absolute;
    //     top: 52%;
    //     right: 20px;
    //     text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    // }
}