.quad-mosaic-grid-container {
  width: fit-content;
  margin: 0 auto;
}

.quad-mosaic-grid-fixed {
  display: grid;
  height: 100%;
  grid-template-rows: repeat(12, 3.2vw);
  grid-template-columns: repeat(9, 3.2vw);
  grid-gap: 12px;

  &.large-mosaic {
    grid-template-rows: repeat(12, 3.4vw);
    grid-template-columns: repeat(9, 3.4vw);
    grid-gap: 16px;
    // outline: 1px solid hotpink;
  }

  a {
    color: #fff;
    text-decoration: none;
    font-size: var(--medium-fontsize);
    padding: 5px;
    min-width: 100%;
    background-image: none;
    transition: background-image 0.5s;
  }

  .grid-item {
    display: flex;
    align-items: flex-end;
    // font-size: clamp(9px, 5vw, 1.2em);
    border-radius: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    transition: all ease-in-out 300ms;
    overflow: hidden;
    // position: relative;

    .info {
      color: #fff;
      text-decoration: none;
      font-size: var(--medium-fontsize);
      padding: 5px;
      min-width: 100%;
      background-image: none;
      transition: background-image 0.5s;
      i {
        vertical-align: middle;
        filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
        display: inline;
      }

      .hover-label {
        font-size: calc(8px + 0.85vw);
        font-weight: 700;
        filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
        display: none;
      }
    }

    &:hover {
      cursor: pointer;
      .info {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
      }
      i {
        display: none;
      }
      .hover-label {
        display: inline;
      }
    }

    &.top-left {
      grid-row: span 6;
      grid-column: span 4;
    }
    &.top-right-gap {
      grid-row: span 1;
      grid-column: span 5;
      background-color: transparent;
    }
    &.top-right {
      grid-row: span 5;
      grid-column: span 5;
    }
    &.bottom-left {
      grid-row: span 6;
      // grid-row: span 6;
      // grid-column: span 3; o
      grid-column: span 3;
    }
    &.bottom-right {
      grid-row: span 6;
      // grid-row: span 5;
      // grid-column: span 6; o
      grid-column: span 6;
    }
    &.bottom-left-gap {
      grid-row: span 1;
      grid-column: span 3;
      background-color: transparent;
    }
  }
}

.multi-column-section {
  display: flex;
  justify-content: space-between;
  align-content: center;
  max-width: 100%;

  &.solo {
    justify-content: center;
    gap: 30px;
    // gap: 0.75em;
    &.no-gap {
      gap: 0;
    }
  }
  &.primary-section {
    max-width: 67%;
    margin: 0 auto;
  }
  .gap-50 {
    margin-left: 50px;
  }
  .gap-10 {
    margin-left: 10px;
  }
  .gap-2vw {
    margin-left: 2vw;
  }
  .v-center {
    align-self: center;
  }
  .v-bottom { 
    // outline: 1px solid lime;
    align-self: flex-end;
  }
  .w-60 {
    width: 60%;
  }
  .w-40 {
    width: 40%;
  }
  .w-30 {
    max-width: 30%;
  }
  .w-38 {
    max-width: 38%;
  }
}

.multi-row-section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 100%;
  padding: 0;
  gap: 0.75em;
  
  &[data-gridgap="0"] {
    gap: 0;
  }
  &[data-gridgap="0.25em"] {
    gap: 0.25em;
  }
  &[data-gridgap="0.5em"] {
    gap: 0.5em;
  }
  &[data-gridgap="12px"] {
    gap: 12px;
  }
  &[data-gridgap="15px"] {
    gap: 15px;
  }
  &[data-gridgap="30px"] {
    gap: 30px;
  }
  &.primary-section {
    max-width: 67%;
    margin: 0 auto;
  }
}

.std-column-width {
  min-width: 67%;
  max-width: 67%;
  margin: 0 auto;
  // padding-bottom: 0.5em;

  &:last-of-type {
    padding-bottom: 0;
  }

  h1,
  p {
    max-width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 0.5em;
  }

}

.wide-column-width {
  min-width: 67%;
  max-width: 67%;
  margin: 0 auto;

  h1,
  p {
    max-width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 0.5em;
  }

  @media (min-width: 1200px) {
    min-width: 80.5%;
    max-width: 80.5%;
  }
}

.multi-column-grid {
  display: grid;
  width: 100%;
  &[data-columns="2"] {
    grid-template-columns: repeat(2, 1fr);
  }
  &[data-columns="3"] {
    grid-template-columns: repeat(3, 1fr);
  }
  &[data-columns="4"] {
    grid-template-columns: repeat(4, 1fr);
  }
  &[data-gridgap="12px"] {
    gap: 12px;
  }
  &[data-gridgap="15px"] {
    gap: 15px;
  }
}

.space-below {
  margin-bottom: calc(3em + 5vw) !important;
}
.space-above {
  // margin-top: calc(3em + 5vw) !important;
  margin-top: 2em !important;
}
.headline-space-above {
  // margin-top: calc(1em + 5vw) !important;
  margin-top: 0.25em !important;
}
.headline-no-topgap {
  margin-top: 0;
  padding-top: 0;
}

.pad-top {
  padding-top: 0.75em !important;
}
.no-top-padding {
  padding-top: 0 !important;
}

.full-width {
  max-width: 100%;
}
.airgap {
  width: 50px;
}


.page-section {
  padding: 2em 0;
  .emphasis {
    color: var(--primary-color);
  }
  &.salmon {
    background-color: var(--accent-color-5);
  }
  &.red {
    background-color: var(--primary-color);
    color: var(--white-text-color);
    h1, p {
      color: var(--white-text-color);
    }
    .emphasis {
      color: var(--white-text-color);
      font-weight: bold;
    }
  }
  &.extra-pad {
    padding: 3.2em 0;
  }
}

.shout-out {
  p {
    font-size: calc(11px + 1vw);
    padding-bottom: 0.6em;
    &:last-of-type {
      padding-bottom: 0;
    }
  }
}

.salmon-section {
  background-color: var(--accent-color-5);
  padding: 3em 0;
}

.button-overlay {
  position: relative;

  .button-bot-right {
    position: absolute;
    bottom: 12px;
    right: 8px;
    z-index: 2;
  }
}

.two-column-grid {
  display: grid;

  &.wide-narrow {
    grid-template-columns: 2fr 1fr;
  }

  &.equal {
    grid-template-columns: 1fr 1fr;
  }

  align-items: end;
  grid-gap: 1rem;

  .left-edge {
    justify-self: end;
  }
}