dialog {
    position: fixed;
    // vertically align in middle of screen
    top: 50%;
    transform: translateY(-50%);
    // horizontally align in middle of screen
    margin: 0 auto;
    min-width: fit-content;
    height: fit-content;
    border: 0;
    border-radius: 14px 14px 12px 12px;    

    .modal-header {
        color: var(--very-light-grey-color);
        background-color: var(--primary-color);
        min-height: 20px;
        padding: 0.5em 2em;
        border-radius: 12px 12px 0 0;
        position: relative;
        .close-button, .close-subscribe-button {
            position: absolute;
            top: 3px;
            right: 20px;
            padding: 0;
            font-weight: bold;
            font-size: 1.25rem;
            &:hover {
                cursor: pointer;
            }
        }
        &.large {
            height: 30px;
            margin: 0;
        }
        &.sib-subscribe {
            border-radius: 12px 0 0 0;
            height: 30px;
            margin: 0;
        }
    }

    .modal-content {
        padding: 1em 5em;
        padding-left: 2em;

        > * + * {
            margin-top: 0.3em;
        }

        input[type='radio'] {
            margin: 0 8px 0 0;
        }
    }

    &.sib-subscribe {
        border-radius: 14px 0 0 12px;
        overflow-x: hidden;
        &::-webkit-scrollbar {
            width: 8px;
        } 

        scrollbar-width: thin;
        scrollbar-color: var(--grey-color) var(--very-light-grey-color);

        &::-webkit-scrollbar-track {
            background: var(--very-light-grey-color);
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--light-grey-color);
            border-radius: 3px;
            border: 1px solid var(--very-light-grey-color);
        }
    }
}

dialog::backdrop {
    background: rgb(0 0 0 / 0.7);
}