.desk {
  display: none;
}

.mobile {
  display: block;
}

nav {
  position: sticky;
  &.not-sticky {
    position: static;
  }
  top: 0;
  font-family: var(--sans-serif-font-family);
  font-weight: var(--thin-font-weight);
  width: 100%;
  transition: height 0.5s;
  z-index: var(--navbar-z-index);
  // overflow-x: hidden;
}

.navbar .logo {
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: inline-block;
  // height: 80px;
  width: auto;
  transition: height 0.5s;
}

.mobile {
  background: transparent;
  // height: 50px;
  height: var(--navbar-mob-height);
  padding: 0 16px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  /* fade in checked menu */
  .m-logo {
    height: 68px;
    transition: height 0.5s;
  }
}

.mobile .m-menu__checkbox {
  display: none;
}
.mobile label.m-menu__toggle {
  cursor: pointer;
}
.mobile .m-menu {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 0;
  width: 0;
  height: 100vh;
  visibility: hidden;
  -moz-transform: translate3d(100vw, 0, 0);
  -o-transform: translate3d(100vw, 0, 0);
  -ms-transform: translate3d(100vw, 0, 0);
  -webkit-transform: translate3d(100vw, 0, 0);
  transform: translate3d(100vw, 0, 0);
  -moz-transition: transform 0.35s;
  -o-transition: transform 0.35s;
  -webkit-transition: transform 0.35s;
  transition: transform 0.35s;
  z-index: 1;
  overflow: hidden;
  background-color: #000;
  &.top-level {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.mobile .m-menu__header {
  padding: 20px 20px 10px 25px;
  height: 60px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  flex-direction: row-reverse;
  -webkit-justify-content: space-evenly;
  justify-content: space-evenly;
  -ms-flex-pack: space-evenly;
  -webkit-align-items: center;
  align-items: center;
  border-bottom: 1px solid var(--navbar-mobile-border-color);
  color: #fff;
}
.mobile .m-menu__header span {
  font-size: 1.2rem;
  text-align: center;
  width: 100%;
}
.mobile .m-menu .m-menu {
  max-width: 0;
  width: 0;
  visibility: hidden;
  -moz-transform: translate3d(100vw, 0, 0);
  -o-transform: translate3d(100vw, 0, 0);
  -ms-transform: translate3d(100vw, 0, 0);
  -webkit-transform: translate3d(100vw, 0, 0);
  transform: translate3d(100vw, 0, 0);
}
.mobile .m-menu ul {
  height: 100%;
  overflow-y: auto;
}
.mobile .m-menu ul li a, .mobile .m-menu ul li label {
  display: block;
  text-align: left;
  padding: 0 30px;
  // line-height: 47px;
  line-height: 2.2rem;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  font-size: 0.8rem;
  border-bottom: 1px solid var(--navbar-mobile-border-color);
  position: relative;
  
}
.mobile .m-menu ul li a {
  padding: 0;
  border-bottom: none;
}
.mobile .m-menu ul li span.a__chevron {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--navbar-mobile-border-color);
  // menu item name takes up 75% of width
  :first-child {
    width: 75%;
  }
  // chevron takes up remaining width
  :not(:first-child) {
    flex: 1;
  }
}
.mobile .m-menu ul li span.a__chevron a {
  padding: 0 30px;
  text-decoration: none;
  border-bottom: none;
}
.mobile .m-menu ul li span.a__chevron label.a-label__chevron {
  border-bottom: none;
}
.mobile .m-menu ul li label.a-label__chevron::after {
  content: "";
  position: absolute;
  display: inline-block;
  height: 10px;
  width: 10px;
  border-color: var(--navbar-mobile-chevron-color);
  border-style: solid;
  border-width: 1px 1px 0 0;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 50%;
  margin-top: -5px;
  right: 32px;
}
.mobile .m-menu ul li .-invisible {
  border-bottom: 0;
}
.mobile .m-menu .m-menu label.m-menu__toggle {
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  border-bottom: 0;
  padding: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.mobile .m-menu__checkbox:checked ~ .m-menu {
  max-width: 100vw;
  width: 100vw;
  visibility: visible;
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}