// Desktop + Tablet
@media only screen and (min-width: 800px) {
  .desk {
    display: block;
  }

  .mobile {
    display: none;
  }
}

.desk .navbar {
  height: var(--navbar-desk-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5em;
  margin: 0;
  background: var(--navbar-bg-color);
  transition: all 0.5s ease-in-out;
  z-index: var(--navbar-z-index);
  .logo {
    // height: 110px;
    height: 85px;
  }
  position: relative;
}

.desk .navbar.trans {
  background-color: transparent;
}

.desk .menu-groups {
  position: absolute;
  top: var(--navbar-desk-top-pos);
  right: var(--navbar-desk-right-pos);
  display: flex;
  flex-direction: column;
  // margin-top: var(--navbar-desk-vertical-pos);

  .multi-level {
    display: flex;
    justify-content: flex-end;
    padding: 0.8em 0 0.25em;

    .item {
      position: relative;
      // space between top-level menu items
      padding-left: 0.75em;

      a {
        text-decoration: none;
        text-transform: uppercase;
        color: var(--navbar-item-color);
        &:hover {
          text-decoration: underline;
          text-decoration-color: var(--navbar--accent-color);
          text-underline-offset: 2px;
        }
      }

      .item-name {
        font-size: 15px;
        font-weight: 100;
        color: var(--navbar-item-color);
        cursor: pointer;

        ul {
          list-style: none;
          position: absolute;
          top: 18px;
          width: max-content;
          height: -moz-fit-content;
          height: -webkit-fit-content;
          // keep top margin at 2px only
          // greater than 2px will make the dropdown disappear
          // when mouse moves off the item
          margin: 6px 0 0;
          padding: 0;
          z-index: calc(var(--navbar-z-index) + 1);
          background-color: var(--navbar-dropdown-bg-color);
          border: 1px solid var(--navbar-dropdown-border-color);
          border-radius: 4px;
          transform: translateY(10px);
          opacity: 0;
          pointer-events: none;
          transition: all 0.5s;

          li {
            padding: 8px 12px;
            border-top: 1px solid var(--navbar-dropdown-border-color);

            & > a {
              text-transform: uppercase;
              word-spacing: 3px;
            }

            &:first-child {
              border: none;
            }

            .sub-item {
              .item-name {
                & > a {
                  text-transform: uppercase;
                  font-size: 16px;
                  color: #fff;
                }
                ul {
                  position: static;
                  border: none;
                  background-color: transparent;
                  li {
                    padding: 5px 12px;
                    border: none;
                    & > a {
                      text-transform: none;
                      font-size: 16px;
                      // sub-items (space: temple, yoga centre, etc)
                      color: var(--navbar-subitem-color);
                    }
                  }
                }
              }
            }
          }
        }
      }

      &:last-child {
        ul {
          right: 0px;
        }
      }
    }

    .item:first-of-type {
      padding-left: 0;
    }

    .button-bar {
      display: flex;
      justify-content: flex-end;
      padding-left: 1em;
      .button {
        padding: 0 0.5em;
      }
    }
  }
}

.desk .menu-groups .item .item-name:hover ul {
  opacity: 1;
  pointer-events: auto;
  transform: translate(0, 0);
  .sub-item {
    ul {
      opacity: 1;
      pointer-events: auto;
      transform: translate(0, 0);
    }
  }
}

.desk .button-bar {
  .button {
    background-color: var(--accent-color-1);
    border-radius: 15px;
    margin: 0 4px;
    &:last-child {
      margin-right: 0;
    }
    &.round {
      padding: 6px 11px;
      text-align: center;
      border-radius: 25px;
      font-size: 18px;
      i {
        color: var(--accent-color-2);
      }
    }
  }
}

.desk .multi-level .item > .item-name > a {
  font-size: 16px;
}

.desk .multi-level#ml1 {
  .item > .item-name {
    // sets the distance of the top edge of dropdown menu from top-level item
    >ul {
      margin: 2px 0 0;
    }
  }

  > .item > .item-name > ul > li {
    > a {
      color: #fff;
    }
  }

  .item-name {
    > a {
      text-transform: uppercase;
      font-weight: var(--strong-sserif-font-weight);
      color: var(--true-red);
    }
    .sub-item .item-name {
      >a {
        font-size: 16px;
        color: #fff;
        font-weight: var(--medium-sserif-font-weight);
      }
    }
  }

  justify-content: flex-end;

  // setting margin-left to auto makes the button-bar align right
  .button-bar {
    margin-left: auto;
    .button.round {
      padding: 6px 20px;
    }
    a {
      text-decoration: none;
      color: #fff;
    }
  }
}

.desk .multi-level#ml2 {
  padding-top: 8px;
  .item {
    // space between top-level menu items in ml2
    padding-left: 1em;
  }
  .item-name {
    > a {
      text-transform: uppercase;
      font-weight: var(--strong-sserif-font-weight);
      font-size: 19px;
      // ml2 top-level items
      color: #fff;
    }
    .sub-item .item-name {
      > a {
        font-size: 16px;
        color: #fff;
        font-weight: var(--medium-sserif-font-weight);
      }
    }
    li.solo {
      padding: 8px 12px;
      > a {
        font-size: 16px;
        color: #fff;
        font-weight: var(--medium-sserif-font-weight);
      }
    }
  }
}

.desk .multi-level .item>.item-name.lrg {
  margin-top: -0.26em;

  >a {
    font-size: 21px;
  }

  // sets the distance of the top edge of dropdown menu from top-level item
  >ul {
    margin: 4px 0 0 !important;
  }
}

.no-link {
  cursor: default;
}
