$wnd-md: 800px;
$wnd-lg: 1200px;

.red-glass-button {
  /* border: 1px solid var(--ng-timeline-red); */
  border: none;
  border-radius: 0.3rem;
  background: var(--primary-color);
  background: linear-gradient(
    to bottom,
    var(--primary-color) 0%,
    var(--accent-color-2) 100%
  );
  max-width: -moz-fit-content;
  max-width: -webkit-fit-content;
  padding: 0.6em 2em;
  box-shadow: inset 0 -0.3em 0.8em -0.3em rgba(0, 0, 0, 0.1),
    inset 0 0.3em 1em -0.15em rgba(0, 0, 0, 0.6);
  font-family: var(--sans-serif-font-family);
  font-weight: var(--medium-font-weight);
  font-size: calc(15px + 0.27vw);
  color: #fff;
  text-decoration: none;
  position: relative;
  text-shadow: 0 1px 0 #e2e2e2;
  cursor: pointer;
  padding-left: 3em;
  padding-right: 3em;
  margin: 1em auto;
}

.red-glass-button.no-space-above {
  margin-top: 0 !important;
}

.red-glass-button.no-dropshadow {
  // box-shadow: none;
  // remove shadow under the button
  box-shadow: inset 0 -0.3em 0.8em -0.3em rgba(0, 0, 0, 0),
    inset 0 0.3em 1em -0.15em rgba(0, 0, 0, 0.6);
}

.red-glass-button.card {
  padding: 0.8em 1.25em;
  min-width: 85%;
  text-align: center;
  margin: 0;
  
  @media (min-width: $wnd-md) {
    font-size: calc(12px + 0.27vw);
    margin-top: calc(1em + 0.27vw);
  }

  @media (min-width: $wnd-lg) {
    font-size: calc(10px + 0.27vw);
    margin-top: calc(1em + 0.27vw);
  }
}

.red-glass-button.sml {
  font-size: calc(13px + 0.27vw);
  padding: 0.5em 2.5em;
  text-align: center;
  margin: 0.8em auto 0.5em;
}

.red-glass-button.wide {
  padding-left: 5em;
  padding-right: 5em;
}

.red-glass-button.m-wide {
  padding-left: 7em;
  padding-right: 7em;
}

.red-glass-button.x-wide {
  padding-left: 9em;
  padding-right: 9em;
}

.red-glass-button:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 0.25em;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.82) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  width: calc(100% - 0.13em);
  height: calc(40% - 0.1em);
  margin: 0.11em 0.5em 0.11em -0.1em;
  top: -0.05em;
  left: 0.15em;
  box-shadow: 0 1.3em 1em -0.4em #fff, 0 1.3em 1em -0.4em #fff,
    0 1.3em 1em -0.4em #fff;
}

.red-glass-button.no-dropshadow:before {
  box-shadow: none;
}

.red-glass-button:active:before {
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.5) 100%
  );
  height: calc(25% - 0.1em);
}
