.shoutout-w-cards {
  margin: 0 auto;
  max-width: 67%;
  @media (min-width: 1220px) {
    max-width: 80.5%;
  }
  &.full-bleed {
    max-width: 100%;
  }
}

.shoutout-box {
  background-color: var(--primary-color);
  color: var(--white-text-color);
  max-width: 110%;
  min-height: -moz-fit-content;
  min-height: -webkit-fit-content;
  padding: 20px 0 10px;
  // margin: 0 auto calc(3em + 5vw);
  margin: 0 auto;
  &.white-bg {
    background-color: #fff;
    color: var(--black-text-color);
  }

  .shoutout-content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
    // max-width: 67%;
    // width: 110%;

    // @media (min-width: 1220px) {
      // max-width: 80.5%;
    // }

    p {
      font-size: calc(11px + 1vw);
      max-width: 100%;
      &:first-of-type {
        padding-top: 0;
      }
      &:last-of-type {
        padding-bottom: 0;
      }
      &.emphasis {
        color: var(--primary-color);
      }
    }
  }
}

.shoutout-w-cards.full-bleed .shoutout-box {
  margin: 0;
}
