$wnd-md: 800px;
$wnd-lg: 1200px;
$d: 700ms;
$e: cubic-bezier(0.19, 1, 0.22, 1);

.slideup-card__grid {
	display: grid;
	place-items: center;
  justify-items: stretch;
	gap: 0.65rem;
	padding: 1rem 0;
	min-width: 100%;
	margin: 0 auto;

	@media (min-width: $wnd-md) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (min-width: $wnd-lg) {
		grid-template-columns: repeat(4, 1fr);
    // &.card-pair {
    //   min-width: 80.5%;
    // }
	}
}

.slideup-card {
	position: relative;
	display: flex;
	align-items: flex-end;
	overflow: hidden;
	padding: 1rem 0;
	width: 100%;
  border-radius: 12px;
	
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
	color: whitesmoke;
	background-color: whitesmoke;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1),
		0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);

	@media (min-width: $wnd-md) {
		height: 350px;
	}

  &.card-pair {
    height: 350px;
  }

  &.blank {
    background-color: transparent;
    box-shadow: none;
  }

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 110%;
		// background-size: cover;
		// background-position: 0 0;
		transition: transform calc(700ms * 1.5) cubic-bezier(0.19, 1, 0.22, 1);
		pointer-events: none;
	}

	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 200%;
		pointer-events: none;
		background-image: linear-gradient(
			to bottom,
			hsla(0, 0%, 0%, 0) 0%,
			hsla(0, 0%, 0%, 0.009) 11.7%,
			hsla(0, 0%, 0%, 0.034) 22.1%,
			hsla(0, 0%, 0%, 0.072) 31.2%,
			hsla(0, 0%, 0%, 0.123) 39.4%,
			hsla(0, 0%, 0%, 0.182) 46.6%,
			hsla(0, 0%, 0%, 0.249) 53.1%,
			hsla(0, 0%, 0%, 0.32) 58.9%,
			hsla(0, 0%, 0%, 0.394) 64.3%,
			hsla(0, 0%, 0%, 0.468) 69.3%,
			hsla(0, 0%, 0%, 0.54) 74.1%,
			hsla(0, 0%, 0%, 0.607) 78.8%,
			hsla(0, 0%, 0%, 0.668) 83.6%,
			hsla(0, 0%, 0%, 0.721) 88.7%,
			hsla(0, 0%, 0%, 0.762) 94.1%,
			hsla(0, 0%, 0%, 0.79) 100%
		);
		transform: translateY(-50%);
		transition: transform calc(700ms * 2) cubic-bezier(0.19, 1, 0.22, 1);
	}

  &.blank:after {
    background-image: none;
  }
}

.slideup-card__content {
	position: relative;
	display: flex;
	flex-direction: column;
	// align-items: center;
	width: 100%;
  
	transition: transform 700ms cubic-bezier(0.19, 1, 0.22, 1);
	z-index: 1;

	> * + * {
		margin-top: 1.75rem;
	}

  background-image: linear-gradient(to bottom, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0.15) 75%, hsla(0, 0%, 0%, 0) 100%);
  
}

.slideup-card__content__title {
  color: #fff;
	font-size: 1.75rem;
	font-weight: bold;
  padding: 0 1.1rem;
	// line-height: 1.2rem;
	font-family: var(--serif-font-family);
	font-weight: var(--medium-font-weight);
	// font-size: calc(32px + 0.3vw);
	// letter-spacing: 3px;
  margin-bottom: 1.2em;
}

.slideup-card__content__copy {
  margin-top: 1.25rem;
	padding: 0 1.1rem;
	font-size: 0.9rem;
  font-weight: 500;
	line-height: 1rem;
	font-family: var(--serif-font-family);
  text-shadow: 1px 1px rgba(0,0,0,0.5);
  // text-align: center;
	// font-size: calc(16px + 0.3vw);
	// font-weight: var(--medium-font-weight);
}

.slideup-card__content__btn {
	cursor: pointer;
	margin-top: 2rem 1rem 1.5rem;
	padding: 0.75rem 1.5rem;
	font-size: 0.65rem;
	font-weight: bold;
	letter-spacing: 0.025rem;
  line-height: 0.9rem;
	text-transform: uppercase;
	color: white;
	background-color: black;
	border: none;

	&:hover {
		background-color: lighten(black, 5%);
	}
}

@media (hover: hover) and (min-width: $wnd-md) {
	.slideup-card:after {
		transform: translateY(0);
	}

	.slideup-card__content {
		// transform: translateY(calc(100% - 4.5rem));
    transform: translateY(calc(100% - 2.5rem));

		> *:not(.slideup-card__content__title) {
			opacity: 0;
			transform: translateY(1rem);
			transition: transform 700ms cubic-bezier(0.19, 1, 0.22, 1), opacity 700ms cubic-bezier(0.19, 1, 0.22, 1);
		}
	}

	.slideup-card:hover,
	.slideup-card:focus-within {
		align-items: center;

		&:before {
			// transform: translateY(-4%);
      transform: translateY(-10%);
		}

		&:after {
			// transform: translateY(-50%);
      transform: translateY(-30%);
		}

		.slideup-card__content {
			transform: translateY(0);

			> *:not(.slideup-card__content__title) {
				opacity: 1;
				transform: translateY(0);
				transition-delay: calc(700ms / 8);
			}
		}
	}

	.slideup-card:focus-within {
		&:before,
		&:after,
		.slideup-card__content,
		.slideup-card__content > *:not(.slideup-card__content__title) {
			transition-duration: 0s;
		}
	}
}

@media (hover: hover) {
  .slideup-card.card-pair:after {
    transform: translateY(0);
  }

  .slideup-card.card-pair .slideup-card__content {
    // transform: translateY(calc(100% - 4.5rem));
    transform: translateY(calc(100% - 2.5rem));

    >*:not(.slideup-card__content__title) {
      opacity: 0;
      transform: translateY(1rem);
      transition: transform 700ms cubic-bezier(0.19, 1, 0.22, 1), opacity 700ms cubic-bezier(0.19, 1, 0.22, 1);
    }
  }

  .slideup-card.card-pair:hover,
  .slideup-card.card-pair:focus-within {
    align-items: center;

    &:before {
      // transform: translateY(-4%);
      transform: translateY(-10%);
    }

    &:after {
      // transform: translateY(-50%);
      transform: translateY(-30%);
    }

    .slideup-card__content {
      transform: translateY(0);

      >*:not(.slideup-card__content__title) {
        opacity: 1;
        transform: translateY(0);
        transition-delay: calc(700ms / 8);
      }
    }
  }

  .slideup-card.card-pair:focus-within {

    &:before,
    &:after,
    .slideup-card__content,
    .slideup-card__content>*:not(.slideup-card__content__title) {
      transition-duration: 0s;
    }
  }
}
