$wnd-md: 800px;
$wnd-lg: 1230px;
$d: 700ms;
$e: cubic-bezier(0.19, 1, 0.22, 1);

.slideup-card__grid {
	display: grid;
	place-items: center;
  	justify-items: stretch;
	
	padding: 0.6rem 0;
	min-width: 100%;
	margin: 0 auto;

	// mobile
	gap: 1.5rem;

	// tablet
	@media (min-width: $wnd-md) {
		grid-template-columns: repeat(2, 1fr);
		gap: 2.5rem;
	}

	// desktop
	@media (min-width: $wnd-lg) {
		grid-template-columns: repeat(4, 1fr);
		gap: calc(0.62rem + 0.5vw);
	}
}

.slideup-card {
	position: relative;
	display: flex;
	align-items: flex-end;
	overflow: hidden;
	padding: 1rem 0;
	width: 100%;
  	border-radius: 12px;
	
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: top center;
	color: #ffffff;
	background-color: whitesmoke;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1),
		0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);

	// mobile
	height: 55vh;
	padding: 1.25rem 0;

	// tablet
	@media (min-width: $wnd-md) {
		height: 44vw;
		padding: 1.5rem 0;
	}

	// desktop
	@media (min-width: $wnd-lg) {
		height: 29vw;
		padding: 1rem 0;
	}

  	&.card-pair {
		width: 25vw;
		@media (min-width: $wnd-md) {
			height: 44vw;
		}
		@media (min-width: $wnd-lg) {
			height: 29vw;
		}
  	}

  	&.blank {
    	background-color: transparent;
    	box-shadow: none;
  	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 110%;
		transition: transform calc(700ms * 1.5) cubic-bezier(0.19, 1, 0.22, 1);
		pointer-events: none;
	}

	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 200%;
		pointer-events: none;
		background-image: linear-gradient(
			to bottom,
			hsla(0, 0%, 0%, 0) 0%,
			hsla(0, 0%, 0%, 0.009) 11.7%,
			hsla(0, 0%, 0%, 0.034) 22.1%,
			hsla(0, 0%, 0%, 0.072) 31.2%,
			hsla(0, 0%, 0%, 0.123) 39.4%,
			hsla(0, 0%, 0%, 0.182) 46.6%,
			hsla(0, 0%, 0%, 0.249) 53.1%,
			hsla(0, 0%, 0%, 0.32) 58.9%,
			hsla(0, 0%, 0%, 0.394) 64.3%,
			hsla(0, 0%, 0%, 0.468) 69.3%,
			hsla(0, 0%, 0%, 0.54) 74.1%,
			hsla(0, 0%, 0%, 0.607) 78.8%,
			hsla(0, 0%, 0%, 0.668) 83.6%,
			hsla(0, 0%, 0%, 0.721) 88.7%,
			hsla(0, 0%, 0%, 0.762) 94.1%,
			hsla(0, 0%, 0%, 0.79) 100%
		);
		
		transform: translateY(-50%);
		transition: transform calc(700ms * 2) cubic-bezier(0.19, 1, 0.22, 1);
	}

  &.blank:after {
    background-image: none;
  }

  &.blank {
	  @media (max-width: $wnd-lg) {
	  	display: none;
	  }
  }
}

// not using 27/01/22
.slideup-card__bggradient {
	width: 100%;
	padding-bottom: 10px;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 60%, rgba(0, 0, 0, 0.0) 100%);
}

.slideup-card__content {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0 auto;
	padding: 0 8%;

	// background-image: linear-gradient(to bottom,
	// 	hsla(0, 0%, 0%, 0) 0%,
	// 	hsla(0, 0%, 0%, 0.029) 11.7%,
	// 	hsla(0, 0%, 0%, 0.054) 22.1%,
	// 	hsla(0, 0%, 0%, 0.092) 31.2%,
	// 	hsla(0, 0%, 0%, 0.143) 39.4%,
	// 	hsla(0, 0%, 0%, 0.202) 46.6%,
	// 	hsla(0, 0%, 0%, 0.269) 53.1%,
	// 	hsla(0, 0%, 0%, 0.34) 58.9%,
	// 	hsla(0, 0%, 0%, 0.414) 64.3%,
	// 	hsla(0, 0%, 0%, 0.488) 69.3%,
	// 	hsla(0, 0%, 0%, 0.56) 74.1%,
	// 	hsla(0, 0%, 0%, 0.627) 78.8%,
	// 	hsla(0, 0%, 0%, 0.688) 83.6%,
	// 	hsla(0, 0%, 0%, 0.741) 88.7%,
	// 	hsla(0, 0%, 0%, 0.782) 94.1%,
	// 	hsla(0, 0%, 0%, 0.81) 100%);

	background-image: linear-gradient(to bottom, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0.75) 50%, hsla(0, 0%, 0%, 0.75) 100%);

	transition: transform 700ms cubic-bezier(0.19, 1, 0.22, 1);
	z-index: 1;

}

.slideup-card__content__title {
  	color: #fff;
	font-weight: bold;
	width: 100%;

	font-family: var(--serif-font-family);
	font-weight: var(--medium-font-weight);
	text-shadow: 1px 1px rgba(0, 0, 0, 0.65);
	// mobile
	font-size: calc(1.4rem + 1vw);
	// tablet
	@media (min-width: $wnd-md) {
		font-size: calc(1.4rem + 1vw);
	}
	// desktop
	@media (min-width: $wnd-lg) {
		font-size: calc(1rem + 0.9vw);
	}
}

.slideup-card__content__copy {
  	font-weight: 500;
	font-family: var(--serif-font-family);
  	text-shadow: 1px 1px rgba(0,0,0,0.5);
  	width: 100%;
	
	@media (min-width: $wnd-md) {
		font-size: calc(0.77em + 0.7vw);
		line-height: calc(0.82em + 0.7vw);
		margin-top: calc(5em + 0.9vw);
		margin-bottom: calc(0.3em + 0.4vw);
		&.lower-title {
			margin-top: calc(3em + 4vw);
		}
	}

	@media (min-width: $wnd-lg) {
		font-size: clamp(18px, calc(0.52em + 0.7vw), 30px);
		line-height: clamp(19px, calc(0.58em + 0.7vw), 31px);
		margin-top: calc(4em + 4vw);
		margin-bottom: calc(0.3em + 0.4vw);
		&.lower-title {
			margin-top: calc(2.5em + 4vw);
		}
	}
}

.slideup-card__content__btn {
	cursor: pointer;
	width: 100%;
	font-size: 0.65rem;
	font-weight: bold;
	letter-spacing: 0.025rem;
  	line-height: 0.9rem;
	text-transform: uppercase;
	color: white;
	background-color: black;
	border: none;

	&:hover {
		background-color: lighten(black, 5%);
	}
}

// @media (hover: hover) and (min-width: $wnd-md) {
@media (hover: hover) {
	.slideup-card:after {
		transform: translateY(0);
	}

	.slideup-card__content {
    	transform: translateY(calc(100% - 1.5rem));

		> *:not(.slideup-card__content__title) {
			opacity: 0;
			transform: translateY(1rem);
			transition: transform 700ms cubic-bezier(0.19, 1, 0.22, 1), opacity 700ms cubic-bezier(0.19, 1, 0.22, 1);
		}
	}

	.slideup-card:hover,
	.slideup-card:focus-within {

		.slideup-card__content {
			// this formula seems to be working! 
			// bottom of card content lines up with title of next card
			// transform: translateY(calc(1rem + 0.42vw + 2.2em * -1)); //works but title is high
			transform: translateY(calc(1rem + 0.42vw + 1.1em * -1));

			> *:not(.slideup-card__content__title) {
				opacity: 1;
				transform: translateY(0);
				transition-delay: calc(700ms / 8);
			}
		}
	}

	.slideup-card:focus,
	.slideup-card:focus-within {
		&:before,
		&:after,
		.slideup-card__content,
		.slideup-card__content > *:not(.slideup-card__content__title) {
			transition-duration: 0s;
		}
	}
}

@media (pointer: coarse) {
	.slideup-card:after {
		transform: translateY(0);
	}

	.slideup-card__content {
		transform: translateY(calc(100% - 1.5rem));

		>*:not(.slideup-card__content__title) {
			opacity: 0;
			transform: translateY(1rem);
			transition: transform 700ms cubic-bezier(0.19, 1, 0.22, 1), opacity 700ms cubic-bezier(0.19, 1, 0.22, 1);
		}
	}

	.slideup-card:hover,
	.slideup-card:focus-within {

		.slideup-card__content {
			// this formula seems to be working! 
			// bottom of card content lines up with title of next card
			// transform: translateY(calc(1rem + 0.42vw + 2.2em * -1)); //works but title is high
			transform: translateY(calc(1rem + 0.42vw + 1.1em * -1));

			>*:not(.slideup-card__content__title) {
				opacity: 1;
				transform: translateY(0);
				transition-delay: calc(700ms / 8);
			}
		}
	}

	.slideup-card:focus,
	.slideup-card:focus-within {

		&:before,
		&:after,
		.slideup-card__content,
		.slideup-card__content>*:not(.slideup-card__content__title) {
			transition-duration: 0s;
		}
	}
}

// @media (hover: hover) {
//   .slideup-card.card-pair:after {
//     transform: translateY(0);
//   }

//   .slideup-card.card-pair .slideup-card__content {
//     // transform: translateY(calc(100% - 4.5rem));
//     transform: translateY(calc(100% - 1.5rem));

//     >*:not(.slideup-card__content__title) {
//       opacity: 0;
//       transform: translateY(1rem);
//       transition: transform 700ms cubic-bezier(0.19, 1, 0.22, 1), opacity 700ms cubic-bezier(0.19, 1, 0.22, 1);
//     }
//   }

//   .slideup-card.card-pair:hover,
//   .slideup-card.card-pair:focus-within {
//     align-items: center;

//     &:before {
//       // transform: translateY(-4%);
//       transform: translateY(-10%);
//     }

//     &:after {
//       // transform: translateY(-50%);
//       transform: translateY(-30%);
//     }

//     .slideup-card__content {
//       transform: translateY(0);

//       >*:not(.slideup-card__content__title) {
//         opacity: 1;
//         transform: translateY(0);
//         transition-delay: calc(700ms / 8);
//       }
//     }
//   }

//   .slideup-card.card-pair:focus-within {

//     &:before,
//     &:after,
//     .slideup-card__content,
//     .slideup-card__content>*:not(.slideup-card__content__title) {
//       transition-duration: 0s;
//     }
//   }
// }
