@import url("https://fonts.googleapis.com/css?family=Lato:300,400,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=EB+Garamond:400,500,700&display=swap");

html,
body {
  min-height: fit-content;
  margin: 0;
  padding: 0;
  font-family: "EB Garamond", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  font-size: 22px;
  position: relative;
  // overflow: hidden;
}

//  Enable smooth scrolling on the whole document
// TODO: does not work on safari iOS
// html {
//   scroll-behavior: smooth;
// }

// protect image download by blocking mouse events
img {
  pointer-events: none;
}

:focus {
  outline: none;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
// Desktop + Tablet
@media only screen and (min-width: 800px) {
  body {
    font-size: 20px;
  }
}

@import "variables";
@import "navbar";
@import "navbar-desk";
@import "vanillaSlideshow";
// @import "hero";
@import "hero-fixed";
@import "content";
@import "footer";
@import "home";
@import "video-wrapper";
@import "owl-carousel-custom";
