// content {
    /* position: relative; */
    /* display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1vw auto 1vw; */
    /* justify-items: center; */
    // padding: 1rem 0 0;
// }

.timeline--wrapper {
    margin: 1vh 0;
    position: relative;
    background: #fff;

    // outline: 1px solid lime;

    &>.timelinebar {
        /* the timeline bar */
        position: absolute;
        left: 6vw;
        width: 6px;
        height: 100%;
        background: var(--grey-color);
    }

    ul.timeline {
        min-height: fit-content;
        
        li {
            position: absolute;
            top: 0;
            left: 6vw;
            list-style-type: none;
            transition: 0.5s;

            visibility: hidden;

            /* Box containing details */
            div {
                position: relative;
                border-radius: 5px;
                /* border: 0.5px solid #ebebeb; */
                /* width: 400px; */
                margin-top: 8px; 
                width: 78vw;
                /* background: #f1ede6; */
                background: #f7f7f7;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
                /*   outline: 2px dashed orange; */

                img {
                    width: 100%;
                    // max-height: 100%;
                    object-fit: cover;
                    margin: 0;
                    border-radius: 0 0 5px 5px;
                }

                p {
                    padding: 1px 18px 5px;
                    margin: 0;
                    /* min-height: 70px; */
                    font-size: 19px;
                }
                /* draws the dot on the timeline */
                &.dot {
                    content: "";
                    position: absolute;
                    top: 12px;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background: var(--primary-color4);
                    box-shadow: none;
                }
                /* draws the arrow */
                &.tooltip {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    top: 11px;
                    background: transparent;
                    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0);
                }
                /* draws the shadow of arrow */
                &.tooltip-shadow {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    top: 13px;
                    background: transparent;
                    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0);
                }
                /* Gap btw rt-side box and timeline */
                /* Only right-side boxes on mobile */
                left: 38px;
            }
        }
    }
}


time {
    display: block;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 5px 15px 3px;
    color: var(--primary-color4);
}


/* Desktop Media Query */
@media screen and (min-width: 769px) {
    /* {
        position: relative;
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: 1vw auto 1vw;
        padding: 1rem 0 0;
        min-height: 100%;
        max-width: 85vw;
    } */

    .timeline--wrapper > .timelinebar{
        /* the timeline bar */
        position: relative;
        left: 50.25%;
        transform: translateX(-50%);
        width: 6px;
        height: 100%;
        background: var(--grey-color);
    }
    
    .timeline--wrapper ul.timeline li {
        position: absolute;
        top: 0;
        left: 50%;
        list-style-type: none;
        transition: 0.5s;

        div {
             width: 400px;
        }
    }

    /* Gap btw rt-side box and timeline */
    .timeline--wrapper ul.timeline li:nth-child(odd) div {
        left: 38px;
    }

    /* Gap btw lft-side box and timeline */
    .timeline--wrapper ul.timeline li:nth-child(even) div {
        left: -431px;
    }

}