p {
    font-size: var(--desktop-body-fontsize);
    &.emphasis {
        color: var(--primary-color) !important;
        a {
            color: var(--primary-color) !important;
            text-decoration-color: var(--primary-color) !important;
        }
        &.emphasis--bold {
            font-weight: var(--medium-serif-font-weight);
        }
        &.emphasis--large-font {
            font-size: 1.3em;
        }
    }
    &.large {
        font-size: calc(10px + 1vw);
        font-weight: var(--light-serif-font-weight);
        color: var(--body-text-color-lighter);
    }
    &.small {
        font-size: calc(12px + 0.3vw);
    }
}

.red-text {
    color: var(--primary-color);
}
.black-text {
    color: #000;
}
.bold-text {
    font-weight: var(--medium-serif-font-weight);
}

.strike-out {
    color: var(--true-red);
    text-decoration: line-through;
}

h1, h2, h3 {
    color: var(--primary-color);
}

