:root {
  --navbar-height: 100px;
  --navbar-desk-height: 140px;
  --navbar-desk-top-pos: 20px;
  --navbar-desk-right-pos: 30px;
  --navbar-bg-color: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  --sans-serif-font-family: "Lato", sans-serif;
  --serif-font-family: "EB Garamond", serif;
  --navbar-item-color: #fff;
  --navbar-subitem-color: #cfcfcf;
  --navbar--accent-color: #f88538;
  --navbar-dropdown-bg-color: rgba(0, 0, 0, 0.8);
  --navbar-dropdown-border-color: #fff;
  --navbar-z-index: 10;
  --ham-menu-bg-color: #000;
  --ham-menu-accent-color: #161616;
  --ham-link-underline-color: #3b3b3b;
  --ham-menu-item-color: #dadada;
  --ham-menu-subitem-color: #dddddd;
  --ham-menu-border-color: #cfcfcf;
  --ham-menu-chevron-color: #dddddd;
  --ham-menu-icon-color: rgb(210, 31, 38);
  --fullscreen-slideshow-z-index: 5;
  --primary-color: rgb(210, 31, 38);
  --accent-color-1: rgb(219, 61, 69);
  --accent-color-2: rgb(177, 36, 28);
  --body-text-color: #fff;
  --medium-font-weight: 400;
  --strong-font-weight: 600;
  --image-credit-font-size: calc(8px + 0.3vw);
  --image-credit-font-size-large: calc(9px + 0.3vw);
  --image-credit-font-colour: #ddd;
  --cta-font-size-large: calc(28px + 0.3vw);
  --cta-font-size: calc(12px + 0.3vw);
  --cta-font-colour: #ececec;
}
