:root {
  --navbar-height: 100px;
  --navbar-desk-height: 110px;
  --navbar-desk-top-pos: 0px;
  --navbar-desk-right-pos: 15px;
  --navbar-bg-color: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  --sans-serif-font-family: "Lato", sans-serif;
  --serif-font-family: "EB Garamond", serif;
  --navbar-item-color: #fff;
  --navbar-subitem-color: #e0e0e0;
  --navbar-subitem-color-lite: #f3f3f3;
  --navbar--accent-color: rgb(210, 31, 38);
  --navbar-dropdown-bg-color: rgba(0, 0, 0, 0.88);
  --navbar-dropdown-border-color: #fff;
  --navbar-z-index: 10;
  --ham-menu-bg-color: #000;
  --ham-menu-accent-color: #111111;
  --ham-link-underline-color: #3b3b3b;
  --ham-menu-item-color: #dddddd;
  --ham-menu-subitem-color: #dddddd;
  --ham-menu-border-color: #1f1f1f;
  --ham-menu-chevron-color: #dddddd;
  --ham-menu-icon-color: rgb(210, 31, 38);
  --fullscreen-slideshow-z-index: 5;
  --primary-color: rgb(210, 31, 38);
  --accent-color-1: rgb(219, 61, 69);
  --accent-color-2: rgb(177, 36, 28);
  --accent-color-3: #eef2f7;
  --white-text-color: #fff;
  --black-text-color: #1B1B1B;
  --dark-grey-color: #1b1b1b;
  --very-dark-grey-color: #0f0f0f;
  --grey-color: #adadad;
  --light-grey-color: #f2f2f2;
  --very-light-grey-color: #f9f9f9;
  --thin-font-weight: 300;
  --medium-font-weight: 500;
  --strong-font-weight: 600;
  --strong-sserif-font-weight: 700;
  --medium-sserif-font-weight: 400;
  --light-sserif-font-weight: 300;
  --desktop-body-fontsize: 20px;
  --mobile-body-fontsize: 22px;
  --small-fontsize: 14px;
  --small-line-height: 18px;
  --very-small-fontsize: 12px;
  --very-small-line-height: 16px;
  --medium-fontsize: 18px;
  --very-large-fontsize: 50px;
  --image-credit-font-size: calc(8px + 0.3vw);
  --image-credit-font-size-large: calc(9px + 0.3vw);
  --image-credit-font-colour: #bdbdbd;
  --cta-font-size-large: calc(28px + 0.3vw);
  --cta-font-size: calc(12px + 0.3vw);
  --cta-font-colour-light: #ececec;
  --cta-font-colour-dark: #555555;
  // --card-aspect-ratio: 310/510;
}
