---
  layout: "_page.njk"
  title: "About Us"
  heroText: "About Us"
  heroDesk: "https://res.cloudinary.com/nrityagram/image/upload/v1646742042/about-us-masthead_nvehyc.jpg"
  heroTab: "https://res.cloudinary.com/nrityagram/image/upload/v1582806781/ipad/6_ubcnkt.jpg"
  heroMob: "https://res.cloudinary.com/nrityagram/image/upload/v1582614660/mobile/6_lydlqa.jpg"
  heroDeskCredit: "Karthik Venkatraman"
  heroTabCredit: "Karthik Venkatraman"
  heroMobCredit: "Karthik Venkatraman"
  carousels: false
---

<div class="content">
  <div class="wrapper medium inner-page">
    <p class="emphasis quote left-align">
      <em>
        “I dream of building a community of dancers in a forsaken place amidst nature. A place where nothing exists, except dance. A place where you breathe, eat, sleep, dream, talk, imagine - dance.
      </em>
    </p>
    <p class="emphasis quote left-align">
      <em>
        A place where all the five senses can be refined to perfection.
      </em>
    </p>
    <p class="emphasis quote left-align">
      <em>
        A place called Nrityagram.”
      </em>
    </p>
    <p class="emphasis">
      <b>
        <a href="/protima" class="bodylink">Protima Gauri</a>
      </b>
    </p>
  </div>
  <div class="wrapper medium inner-page" data-nopad="top">
    <p>
      A village of artistes dedicated to the practice and nurture of Odissi, a 2000-year-old classical dance of India, Nrityagram is home to a school inspired by the Gurukula, an ancient teaching paradigm, and an internationally renowned Dance Ensemble.
    </p>
    <p>
      Our mission is to nurture dance professionals through the gurukula system, perform on a global stage and forge a community through outreach.
    </p>
    <p>
      We aspire to be a dynamic artistic community that practices and upholds the holistic traditions associated with the classical arts of India. A place that nurtures artistic growth and exchange, and enables deeper connections between people and art, beyond political, social and cultural differences.
    </p>
  </div>
</div>