---
layout: _page.njk
title: "Become a Fan"
heroType: "none"
parentMenuItem: "Support"
---

<div class="content">
  <div class="wrapper narrow inner-page text-less-top-pad">
    <p class="emphasis">Return to <a href="/friendsofng" class="bodylink">Friends of Nrityagram</a>
    </p>
    <div class="img-plus">
      <picture>
        <source media="(min-width: 800px)" srcset="https://res.cloudinary.com/nrityagram/image/upload/v1655173823/friends-of-nrityagram-paypal-desk_yiafoq.jpg"/>
        <img src="https://res.cloudinary.com/nrityagram/image/upload/v1655173823/friends-of-nrityagram-paypal-mob_xyyqlq.jpg" alt="Friends of Nrityagram">
      </picture>
      <div class="img-credit">Photo: Sreedhar Vaidya</div>
    </div>

    <h1 class="center light-font small-margin-top less-margin-bottom">Become a Nrityagram Fan</h1>
    <p>
      Friends of Nrityagram are vital members of our extended family. Your support will help us create uplifting experiences for the community, maintain artistic excellence, expand our unique outreach programs and ensure that Nrityagram continues to inspire future generations of dancers.
    </p>

    <p>
      You will donate via our fiscal sponsor <a href="https://www.pentacle.org" target="_blank" class="bodylink">
        <em>Dance Works, Inc.</em> DBA <em>Pentacle</em>
      </a>.
    </p>
    <p>
      Pentacle (Dance Works Inc.) is a 501(c)(3) not-for-profit organization EIN # 23-7426261.
      <br/>
      Your contribution is <strong>tax-deductible</strong> to the fullest extent allowed by law.   
    </p>
    <p>
       Once you are done, click on return to Dance Works, Inc. DBA Pentacle; you will return to our website.
    </p>
    <p>
      <form
      action="https://www.paypal.com/cgi-bin/webscr"
      method="post"
      target="_top" class="force-center"
    >
        <input type="hidden" name="cmd" value="_s-xclick"/>
        <input type="hidden" name="hosted_button_id" value="VMQQNH3KPCKZ2"/>
        <input
        type="image"
        src="https://res.cloudinary.com/nrityagram/image/upload/v1648735448/ng-donate-now-paypal_yha9yy.png"
        border="0"
        name="submit"
        alt="PayPal – The safer, easier way to pay online!"
/>
        <img
        alt=""
        border="0"
        src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif"
        width="1"
        height="1"
/>
      </form>
    </p>
  </div>
</div>