---
  layout: "_page.njk"
  title: "Behind the Scenes"
  heroText: "Behind the"
  heroText2: "Scenes"
  heroDesk: "https://res.cloudinary.com/nrityagram/image/upload/v1588612792/behind-the-scenes_nbldsk.jpg"
  heroTab: "https://res.cloudinary.com/nrityagram/image/upload/v1589079637/ipad/Behind-the-scenes_lafnlf.jpg"
  heroMob: "https://res.cloudinary.com/nrityagram/image/upload/v1588613128/mobile/behind-the-scenes-mob_cpdpkz.jpg"
  heroDeskCredit: "Courtesy Jacobs Pillow"
  heroTabCredit: "Courtesy Jacobs Pillow"
  heroMobCredit: "Courtesy Jacobs Pillow"
  carousels: false
  lightgallery: true
---

<div class="content">
	<div class="wrapper ultra-wide inner-page">
		<div id="lightgallery">
			<a href="https://res.cloudinary.com/nrityagram/image/upload/v1588782807/media-images/behind-the-scenes/2014-08-17_18.18.32_nvmmdc.jpg">
				<img
                src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588782807/media-images/behind-the-scenes/2014-08-17_18.18.32_nvmmdc.jpg"
                alt=""/>
			</a>

			<a href="https://res.cloudinary.com/nrityagram/image/upload/v1588782807/media-images/behind-the-scenes/6163NG-032_ua7e0r.jpg">
				<img
                src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588782807/media-images/behind-the-scenes/6163NG-032_ua7e0r.jpg"
                alt=""/>
			</a>

			<a href="https://res.cloudinary.com/nrityagram/image/upload/v1588782807/media-images/behind-the-scenes/2013-04-12_16.31.35_axjsv6.jpg">
				<img
                src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588782807/media-images/behind-the-scenes/2013-04-12_16.31.35_axjsv6.jpg"
                alt=""/>
			</a>

			<a href="https://res.cloudinary.com/nrityagram/image/upload/v1588782795/media-images/behind-the-scenes/BACKSTAGE-5_zohi5f.jpg">
				<img
                src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588782795/media-images/behind-the-scenes/BACKSTAGE-5_zohi5f.jpg"
                alt=""/>
			</a>

			<a href="https://res.cloudinary.com/nrityagram/image/upload/v1588782795/media-images/behind-the-scenes/BACKSTAGE-4_z81abl.jpg">
				<img
                src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588782795/media-images/behind-the-scenes/BACKSTAGE-4_z81abl.jpg"
                alt=""/>
			</a>

			<a href="https://res.cloudinary.com/nrityagram/image/upload/v1588782795/media-images/behind-the-scenes/BACKSTAGE-1_a98tsk.jpg">
				<img
                src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588782795/media-images/behind-the-scenes/BACKSTAGE-1_a98tsk.jpg"
                alt=""/>
			</a>

			<a href="https://res.cloudinary.com/nrityagram/image/upload/v1588782783/media-images/behind-the-scenes/CASUAL-5_xe5jg9.jpg">
				<img
                src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588782783/media-images/behind-the-scenes/CASUAL-5_xe5jg9.jpg"
                alt=""/>
			</a>

			<a href="https://res.cloudinary.com/nrityagram/image/upload/v1588782783/media-images/behind-the-scenes/DSCN2696_xppxev.jpg">
				<img
                src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588782783/media-images/behind-the-scenes/DSCN2696_xppxev.jpg"
                alt=""/>
			</a>

			<a href="https://res.cloudinary.com/nrityagram/image/upload/v1588782783/media-images/behind-the-scenes/family_i8cbd6.jpg">
				<img
                src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588782783/media-images/behind-the-scenes/family_i8cbd6.jpg"
                alt=""/>
			</a>

			<a href="https://res.cloudinary.com/nrityagram/image/upload/v1588782770/media-images/behind-the-scenes/IMG_1792_y85mck.jpg">
				<img
                src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588782770/media-images/behind-the-scenes/IMG_1792_y85mck.jpg"
                alt=""/>
			</a>

			<a href="https://res.cloudinary.com/nrityagram/image/upload/v1588782770/media-images/behind-the-scenes/IMG_1783_mmp0he.jpg">
				<img
                src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588782770/media-images/behind-the-scenes/IMG_1783_mmp0he.jpg"
                alt=""/>
			</a>

			<a href="https://res.cloudinary.com/nrityagram/image/upload/v1588782756/media-images/behind-the-scenes/IMG_1797_inoajn.jpg">
				<img
                src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588782756/media-images/behind-the-scenes/IMG_1797_inoajn.jpg"
                alt=""/>
			</a>

			<a href="https://res.cloudinary.com/nrityagram/image/upload/v1588782756/media-images/behind-the-scenes/IMGP0632_ywmoo3.jpg">
				<img
                src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588782756/media-images/behind-the-scenes/IMGP0632_ywmoo3.jpg"
                alt=""/>
			</a>

			<a href="https://res.cloudinary.com/nrityagram/image/upload/v1588782741/media-images/behind-the-scenes/IMGP1077-copy_wpktb2.jpg">
				<img
                src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588782741/media-images/behind-the-scenes/IMGP1077-copy_wpktb2.jpg"
                alt=""/>
			</a>

			<a href="https://res.cloudinary.com/nrityagram/image/upload/v1588782741/media-images/behind-the-scenes/IMGP1072_wpnlyl.jpg">
				<img
                src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588782741/media-images/behind-the-scenes/IMGP1072_wpnlyl.jpg"
                alt=""/>
			</a>

			<a href="https://res.cloudinary.com/nrityagram/image/upload/v1588782723/media-images/behind-the-scenes/Pillow-06-032_hzhcfl.jpg">
				<img
                src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588782723/media-images/behind-the-scenes/Pillow-06-032_hzhcfl.jpg"
                alt=""/>
			</a>

			<a href="https://res.cloudinary.com/nrityagram/image/upload/v1588782724/media-images/behind-the-scenes/nrytiagram_1-49_iqcutl.jpg">
				<img
                src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588782724/media-images/behind-the-scenes/nrytiagram_1-49_iqcutl.jpg"
                alt=""/>
			</a>

			<a href="https://res.cloudinary.com/nrityagram/image/upload/v1588782741/media-images/behind-the-scenes/MISCELLANEOUS-103_ek8giz.jpg">
				<img
                src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588782741/media-images/behind-the-scenes/MISCELLANEOUS-103_ek8giz.jpg"
                alt=""/>
			</a>

			<a href="https://res.cloudinary.com/nrityagram/image/upload/v1588782770/media-images/behind-the-scenes/Feb-06-043_v7i0zx.jpg">
				<img
                src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588782770/media-images/behind-the-scenes/Feb-06-043_v7i0zx.jpg"
                alt=""/>
			</a>

			<a href="https://res.cloudinary.com/nrityagram/image/upload/v1588782724/media-images/behind-the-scenes/SS-makeup---watcher_oorsbu.jpg">
				<img
                src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588782724/media-images/behind-the-scenes/SS-makeup---watcher_oorsbu.jpg"
                alt=""/>
			</a>

			<a href="https://res.cloudinary.com/nrityagram/image/upload/v1588782756/media-images/behind-the-scenes/IMGP0622_k26g4v.jpg">
				<img
                src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588782756/media-images/behind-the-scenes/IMGP0622_k26g4v.jpg"
                alt=""/>
			</a>
		</div>
	</div>
</div>