---
  layout: "_page.njk"
  title: "Bijayini Satpathy"
  heroType: "image"
  heroText: "Bijayini"
  heroText2: "Satpathy"
  heroDesk: "https://res.cloudinary.com/nrityagram/image/upload/v1569697662/bijayini_d44uhh.jpg"
  heroTab: "https://res.cloudinary.com/nrityagram/image/upload/v1589036580/ipad/Bijayini-Sathpathy_eqcdcp.jpg"
  heroMob: "https://res.cloudinary.com/nrityagram/image/upload/v1576166191/mobile/Bijayini-Sathpathy_tdfb4l.jpg"
  heroDeskCredit: "Rupert Lorhaldar & Pieter Vanderbeeken"
  heroTabCredit: "Pieter Vanderbeeken"
  heroMobCredit: "Pieter Vanderbeeken"
  parentMenuItem: "People"
  carousels: false
---

<div class="content">
	<div class="wrapper ultra-wide inner-page text-less-top-pad">
		<div class="two-column-grid narrow-wide">
			<div class="pullquote">
				<div class="quote">“A performer of<br/>exquisite grace<br/>and technique”</div>
				<div class="attribution">The New York Times</div>
			</div>
			<div>
				<p>Bijayini Satpathy made Nrityagram her home in 1993.</p>
				<p>
					She started learning Odissi in Odisha when she was 7 until she moved to Nrityagram, where she trained and
					worked for 25 years.
				</p>
				<p>
					Bijayini’s research on the moving body in all its possibilities resulted in a scientific body training program
					for Nrityagram, sourced from <em>Yoga</em>, <em>Natyashastra</em>, <em>Kalaripayattu</em>, Western fitness
					methods, and Odissi body-conditioning exercises. She also developed Nrityagram’s expanded training program for
					Odissi dancers, which is equally valuable for beginners, advanced learners, performers, and teachers.
				</p>
				<p>
					As Director of Dance Training and Outreach, she worked on extending the vocabulary of the traditional Odissi
					form and formulating our dance pedagogy.
				</p>
				<p>Bijayini was a Principal Dancer and soloist with the Nrityagram Dance Ensemble for 20 years.</p>
				<p>
					She received the Sangeet Natak Akademi’s Bismillah Khan Yuva Puraskar in 2006, the Yagnaraman Award in 2008,
					and the prestigious Nritya Choodamani title from Sri Krishna Gana Sabha, Chennai in 2011.
				</p>
				<p>
					Bijayini left Nrityagram in 2018, seeking to chart an independent journey. We wish a cherished member of our
					family a very successful future.
				</p>
			</div>
		</div>
	</div>
</div>