---
  layout: "_page.njk"
  title: "Community"
  heroType: "image"
  heroText: "Community"
  heroDesk: "https://res.cloudinary.com/nrityagram/image/upload/v1646055237/space-masthead-desk_ajtshm.jpg"
  heroTab: "https://res.cloudinary.com/nrityagram/image/upload/v1646055253/ipad/space-masthead-tablet_adcwua.jpg"
  heroMob: "https://res.cloudinary.com/nrityagram/image/upload/v1646055274/mobile/space-masthead-mobile_fkjcfs.jpg"
  heroDeskCredit: "Surupa Sen"
  heroTabCredit: "Surupa Sen"
  heroMobCredit: "Surupa Sen"
  parentMenuItem: "Community"
  slider: true
  carousels: false
---

<div class="content">
	<div class="wrapper ultra-wide inner-page text-less-top-pad">
		<div class="two-column-grid narrow-wide">
			<div class="pullquote">
				<div class="quote">
					“In creating,<br />
					sharing,<br />
					and experiencing<br />
					our collective humanity<br />
					through our art,<br />
					we end up<br />
					holding hands<br />
					with each other.”
				</div>
				<div class="attribution">Lynne Fernandez</div>
			</div>
			<div>
				<p>
					The Nrityagram community knits together the trees of our dance village,
					<br />
					the teachers whose careful eye instructs not only the alignment of the limbs but of body and spirit,
					<br />
					the students who spend hours perfecting the art,
					<br />
					the tiny insects who are masters of organic architecture,
					<br />
					our shy friend the Paradise Flycatcher,
					<br />
					our families and friends who are our lifeblood,
					<br />
					the mango blossoms whose scented greetings bless us every summer,
					<br />
					our food forest whose bounty we gratefully share,
					<br />
					our patrons and audiences who support and cheer us across world stages, real and virtual,
					<br />
					and artistic souls around the globe.
				</p>
				<p>
					Our community draws on the wisdom of ancient teachers whose fierce intellect and creativity gave us the art
					that we now practice and nurture.
				</p>
				<p>
					Our community is a sanctuary for creative spirits, a crucible for excellence, and a talisman of hope in these
					uncertain times.
				</p>
				<p>Our community is our past, present and ever evolving future.</p>
				<p>Our community transcends the boundaries of time and space.</p>
				<p>Our community is within you, my friend, whoever you are, tree, bird, flower, or human.</p>
			</div>
		</div>
	</div>

	<div id="villageoutreach" class="below-sticky-header"></div>
	<div class="wrapper medium inner-page title-less-top-pad salmon" data-nopad="bottom">
		<h1 class="center light-font">Village Outreach</h1>
		<div class="full-bleed no-pad">
			<div class="owl-carousel owl-theme">
				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1647085632/VO_01_wjxg3k.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1647085632/VO_01_wjxg3k.jpg"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1647085632/VO_01_wjxg3k.jpg"
							alt="village outreach 1"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Shalini Jain</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1649051749/village-outreach-2_ewbjnq.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1649051749/village-outreach-2_ewbjnq.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1649051749/village-outreach-2_ewbjnq.jpg"
							alt="village outreach 2"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Shalini Jain</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1647085632/VO_03_dmnid0.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1647085632/VO_03_dmnid0.jpg"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1647085632/VO_03_dmnid0.jpg"
							alt="village outreach 3"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Shalini Jain</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1647085632/VO_04_iryv6r.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1647085632/VO_04_iryv6r.jpg"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1647085632/VO_04_iryv6r.jpg"
							alt="village outreach 4"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Ravi Shankar</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1647085632/VO_05_vo4sqp.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1647085632/VO_05_vo4sqp.jpg"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1647085632/VO_05_vo4sqp.jpg"
							alt="village outreach 5"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Shalini Jain</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1647085632/VO_06_fa0vmw.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1647085632/VO_06_fa0vmw.jpg"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1647085632/VO_06_fa0vmw.jpg"
							alt="village outreach 6"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : M Srinivas Murthy</div>
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper medium inner-page text-less-top-pad salmon">
		<p>
			Our Village Outreach was started in 1990 by founder <a href="/protima" class="bodylink">Protima Gauri</a>. Her
			focus was to bring classical dance training to rural kids in an effort to popularise the classical arts of India.
		</p>
		<p>
			In 1998, the Village Outreach became a part of our Project Nrityagyān (Dance Education) with a broadened vision to
			also promote personal growth by developing a strong sense of discipline, high standards of excellence and self
			esteem. Thus providing them tools to a successful future.
		</p>
		<p>
			Using a teaching method brought to us by Tracy Straus of the National Dance Institute, New York, our classes are
			full of energy, passion, commitment, honesty and respect on both sides - teacher and students. This helps us to
			almost instantly win each child's trust because they immediately feel safe in class. Children receive honest
			feedback knowing that each of them is special, that there are small achievements every day and that they will
			succeed. The children stay focused with amazingly high energy and concentration for three hours, regardless of
			their age. And that’s how they enthusiastically accept and wholeheartedly put their efforts into new challenges.
		</p>
		<p>The groups are organised as 4 to 12 years, above 12, fresh learners and advanced learners.</p>
		<p>
			<a href="/pavithra" class="bodylink">Pavithra Reddy</a>, who initially joined this programme and was selected for
			further training in 1993, is a stellar example of the success of our Village Outreach.
		</p>
	</div>

	<div id="popularisingarts" class="below-sticky-header"></div>
	<div class="wrapper medium inner-page title-less-top-pad" data-nopad="bottom">
		<h1 class="center light-font">Popularising the Arts</h1>
		<div class="full-bleed no-top-pad">
			<div class="owl-carousel owl-theme">
				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1583851012/poparts_1_wmtns1.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1583851012/poparts_1_wmtns1.jpg"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1583851012/poparts_1_wmtns1.jpg"
							alt="Popularising the Arts 1"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Mahesh Bhat</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1583851012/poparts_2_b1towi.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1583851012/poparts_2_b1towi.jpg"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1583851012/poparts_2_b1towi.jpg"
							alt="Popularising the Arts 2"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Avinash Pasricha</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1583850987/poparts_3_pgzgjl.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1583850987/poparts_3_pgzgjl.jpg"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1583850987/poparts_3_pgzgjl.jpg"
							alt="Popularising the Arts 3"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Mahesh Bhat</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1583851012/poparts_4_jtl8vu.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1583851012/poparts_4_jtl8vu.jpg"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1583851012/poparts_4_jtl8vu.jpg"
							alt="Popularising the Arts 4"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Sonia Manchanda</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1583850987/poparts_5_rufybo.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1583850987/poparts_5_rufybo.jpg"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1583850987/poparts_5_rufybo.jpg"
							alt="Popularising the Arts 5"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Nan Melville</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1583851012/poparts_6_jmq9sn.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1583851012/poparts_6_jmq9sn.jpg"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1583851012/poparts_6_jmq9sn.jpg"
							alt="Popularising the Arts 6"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1583850986/poparts_7_ynrcro.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1583850986/poparts_7_ynrcro.jpg"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1583850986/poparts_7_ynrcro.jpg"
							alt="Popularising the Arts 7"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Avinash Pasricha</div>
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper medium inner-page" data-nopad="top">
		<h2 class="light-font no-margin-bottom center">Vasantahabba</h2>
		<div class="subtitle center" data-nopad="top">The Spring Festival</div>
		<p>
			Vasantahabba, Nrityagram’s annual spring festival, was envisioned to take India’s classical heritage back to its
			roots by bringing the greatest performers to rural Karnataka.
		</p>
		<p>
			Vasantahabba was an all-night festival that hosted great masters of Indian dance and music. People arrived at noon
			for an event that started at 6pm. They came with family; they came with friends. They came from all over India;
			they even came from abroad. City dwellers came; so did the villagers. They knew everything about Indian culture;
			they knew nothing about Indian culture. Whoever they were, they did not leave before dawn. It truly was the
			Woodstock of India.
		</p>
		<p>
			During the course of 15 Vasantahabba celebrations, over 200 performers have presented to more than 400,000 people
			live and thousands more around the world via live-streaming and telecast.
			<span class="red-text open-modal">
				<a class="bodylink">Vasantahabba Performers through the years.</a>
			</span>
		</p>
		<p>
			Nrityagram has also proudly showcased over 5000 children from the village outreach programme. For many of the
			children, performing at Vasantahabba, on the same stage as the great maestros was an incredibly powerful
			experience.
		</p>
		<p>Vasantahabba was discontinued in 2005 and we hope to launch it in a new avatar some day.</p>
	</div>
	<div class="wrapper medium inner-page no-pad">
		<div class="full-bleed no-top-pad">
			<div class="owl-carousel owl-theme">
				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580626036/ajji_1_e8gtyh.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580626036/ajji_1_e8gtyh.jpg"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580626036/ajji_1_e8gtyh.jpg"
							alt="Ajji Kathegalu 1"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Pavithra Reddy</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580626035/ajji_2_y4csic.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580626035/ajji_2_y4csic.jpg"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580626035/ajji_2_y4csic.jpg"
							alt="Ajji Kathegalu 2"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Pavithra Reddy</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580626036/ajji_3_ovavmx.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580626036/ajji_3_ovavmx.jpg"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580626036/ajji_3_ovavmx.jpg"
							alt="Ajji Kathegalu 3"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Pavithra Reddy</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580626035/ajji_4_x8z57z.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580626035/ajji_4_x8z57z.jpg"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580626035/ajji_4_x8z57z.jpg"
							alt="Ajji Kathegalu 4"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Pavithra Reddy</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1655111620/ajji-5-pavi_wtnftn.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1655111620/ajji-5-pavi_wtnftn.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1655111620/ajji-5-pavi_wtnftn.jpg"
							alt="Ajji Kathegalu 5"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Pavithra Reddy</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1655112341/ajji-6_my1ajk.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1655112341/ajji-6_my1ajk.jpg"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1655112341/ajji-6_my1ajk.jpg"
							alt="Ajji Kathegalu 6"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Pavithra Reddy</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1655112341/ajji-7_t2weof.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1655112341/ajji-7_t2weof.jpg"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1655112341/ajji-7_t2weof.jpg"
							alt="Ajji Kathegalu 7"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Pavithra Reddy</div>
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper medium inner-page" data-nopad="top">
		<h2 class="light-font no-margin-bottom center">Ajji Kathegaḷu</h2>
		<div class="subtitle center" data-nopad="top">Tales my grandmother told me</div>
		<p>
			“Once upon a time...” These are magic words, for they make a promise of a scintillating tale to come. We all
			become children when we hear these words, sitting around an elder with evening lamps casting flickering shadows
			that mirror all the fleeting emotions we experience – fear, worry, joy, and of course the fun of listening to
			stories.
		</p>
		<p>
			<em>Ajji Kathegalu</em>, is Nrityagram opening a portal for us to enter our childhood again, an invitation to
			listen to tales from here and there, and laugh and once again experience the wondrous possibilities stories spark
			within us.
		</p>
		<p>1st Sunday of the month, 12pm at Nrityagram.</p>
		<p>All are welcome.</p>
	</div>

	<div id="supportingartists" class="below-sticky-header"></div>
	<div class="wrapper medium inner-page title-less-top-pad salmon" data-nopad="bottom">
		<h1 class="center light-font">Supporting Artistes</h1>
		<div class="full-bleed no-top-pad">
			<div class="owl-carousel owl-theme">
				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1583861344/supportartists_1_h3y1ig.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1583861344/supportartists_1_h3y1ig.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1583861344/supportartists_1_h3y1ig.jpg"
							alt="village outreach 1"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Sanjay Ramachandran</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1583861344/supportartists_2_gek2vu.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1583861344/supportartists_2_gek2vu.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1583861344/supportartists_2_gek2vu.jpg"
							alt="village outreach 2"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Sanjay Ramachandran</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1583861344/supportartists_3_fsov6b.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1583861344/supportartists_3_fsov6b.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1583861344/supportartists_3_fsov6b.jpg"
							alt="village outreach 3"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Sanjay Ramachandran</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1583861344/supportartists_4_cqu6os.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1583861344/supportartists_4_cqu6os.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1583861344/supportartists_4_cqu6os.jpg"
							alt="village outreach 4"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Sanjay Ramachandran</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1583861344/supportartists_5_sjjg9y.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1583861344/supportartists_5_sjjg9y.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1583861344/supportartists_5_sjjg9y.jpg"
							alt="village outreach 5"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Sanjay Ramachandran</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1583861344/supportartists_6_ziatsh.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1583861344/supportartists_6_ziatsh.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1583861344/supportartists_6_ziatsh.jpg"
							alt="village outreach 6"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Sanjay Ramachandran</div>
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper medium inner-page salmon" data-nopad="top">
		<h2 class="light-font no-margin-bottom center">Kula</h2>
		<div class="subtitle center" data-nopad="top">Artistes Residence</div>
		<p>
			For three decades, Nrityagram’s natural surroundings, wholesome lifestyle and inspired practice, have generated
			and nourished artistic dialogue and innovation.
		</p>
		<p>
			Stimulated by the unique ambience, artistes from various disciplines have expressed a desire to live and create
			work at Nrityagram. So, in order to support collaboration and allow access to the holistic energising space that
			we have created, we built Kula, a home for artistes. Kula (from Gurukula meaning home of the Guru) is a space for
			artistes to meet, converse, and create – an interdisciplinary crucible for the arts.
		</p>
		<p>
			Kula has grown organically to be a haven that nurtures the cross-pollination of artistic work and has become a
			centre for both innovation and experimentation, for artistes from diverse backgrounds. Given the paucity of such
			spaces, Kula is sought after by artistes who seek to create, unhindered by distractions of diurnal concerns, in a
			space nurtured by Nrityagram’s single-minded dedication to the arts.
		</p>
		<p>
			Since November 2010, Kula has hosted several hundred dancers, writers, theatre practitioners and musicians, as
			both independent artistes and groups. Located in the heart of a living artistic community, residencies at Kula
			deliver a wonderful support system that allows artistes to thrive.
		</p>
		<h3 class="light-font">Facilities</h3>
		<ul>
			<li>8 twin-bedroom units with attached bathrooms</li>
			<li>Common living room and kitchenette</li>
			<li>Wi-fi</li>
			<li>Dedicated rehearsal space</li>
			<li>Vegetarian meals made from locally grown organic produce</li>
		</ul>
		<p class="more-top-margin">
			Write to us for more details: <a href="mailto:info@nrityagram.org" class="bodylink">info@nrityagram.org</a>
		</p>
	</div>

	<div id="danceaware" class="below-sticky-header"></div>
	<div class="wrapper medium inner-page title-less-top-pad" data-nopad="bottom">
		<h1 class="center light-font">Dance Awareness</h1>
		<div class="full-bleed no-pad">
			<div class="owl-carousel owl-theme">
				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580622153/danceaware_1_acdtmk.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580622153/danceaware_1_acdtmk.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580622153/danceaware_1_acdtmk.jpg"
							alt="dance aware 1"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580622152/danceaware_2_wipowo.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580622152/danceaware_2_wipowo.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580622152/danceaware_2_wipowo.jpg"
							alt="dance aware 2"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580622152/danceaware_3_negugh.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580622152/danceaware_3_negugh.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580622152/danceaware_3_negugh.jpg"
							alt="dance aware 3"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580622152/danceaware_4_bjkuzp.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580622152/danceaware_4_bjkuzp.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580622152/danceaware_4_bjkuzp.jpg"
							alt="dance aware 4"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580622152/danceaware_5_vyntb0.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580622152/danceaware_5_vyntb0.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580622152/danceaware_5_vyntb0.jpg"
							alt="dance aware 5"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580797484/danceaware_6_qrhogy.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580797484/danceaware_6_qrhogy.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580797484/danceaware_6_qrhogy.jpg"
							alt="dance aware 6"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper medium inner-page text-less-top-pad">
		<p>
			Dance is not just about movement, it is about uniting thought, breath, emotion, and body in a whole. In a world
			where artificial binaries of body and mind, emotion and reason, and thought and deed exist, dance provides the
			vocabulary and path to reconceive the relationship we have with ourselves, our communities, and the earth at
			large.
		</p>
		<p>
			Nrityagyān, our initiative to spread awareness about dance was started in the mid-nineties, and strives for as
			many people as possible to access these healing possibilities that dance offers.
		</p>
		<p>Through Nrityagyān we:</p>
		<ul class="more-bottom-pad">
			<li>
				Conduct sensitisation and knowledge building programmes for people so that the audience base for the classical
				arts is expanded.
			</li>
			<li>
				Open the world of classical dance to the young through lecture-demonstrations in schools, universities, and
				community associations.
			</li>
			<li>Research the use of classical dance in education, therapy and rehabilitation</li>
		</ul>
		<p>
			Over the last three decades, over 500,000 children and adults have benefitted from our Project Nrityagyān through
			a range of activities that include workshops and lecture-demonstrations.
		</p>
		<p>
			In the next phase of development, we plan to set-up a Resource Centre for scholars to document and research Indian
			classical dance, and to publish the work done at Nrityagram over the last three decades.
		</p>
	</div>

	<div id="quietspace" class="below-sticky-header"></div>
	<div class="wrapper ultra-wide multi-row-subgrids inner-page salmon">
		<h1 class="center light-font no-margin-bottom">Quiet Space</h1>
		<div class="two-column-grid x-x-gap equal">
			<div class="align-top">
				<p>
					In these troubled times, our spirit is exhausted and we seek solace. We want to rest under the shade of a
					quiet moment. To find comfort and strength in community and shared experiences.
				</p>
				<p>
					So, we created Quiet Space where twice a day, we can gather together and listen to music - multi-faith
					devotional music, songs of hope, music to soothe our souls, perhaps even birdsong from Nrityagram - anything
					that will bring us peace and courage. A Circle of Solace for all of us.
				</p>
				<p>
					<em> These are the timings, though the music plays through the day: </em>
				</p>

				<table class="add-bottom-margin">
					<tr>
						<td>
							<b>India</b>
						</td>
						<td>8am - 11am</td>
						<td>5pm - 8pm</td>
					</tr>
					<tr>
						<td>
							<b>Perth</b>
						</td>
						<td>10.30am - 1.30pm</td>
						<td>7.30pm - 10.30pm</td>
					</tr>
					<tr>
						<td>
							<b>London</b>
						</td>
						<td>3.30am - 6.30am</td>
						<td>12.30pm - 3.30pm</td>
					</tr>
					<tr>
						<td>
							<b>EDT</b>
						</td>
						<td>10.30pm - 1.30am</td>
						<td>7.30am - 10.30am</td>
					</tr>
				</table>

				<p>
					We invite you to join
					<a href="https://spatial.chat/s/nrityagram" class="bodylink" target="_blank">Quiet Space</a> as often as you
					can. Come in at your convenience and leave when your heart tells you to.
				</p>
				<p>It is our small attempt to stitch together a quilt, and take shelter awhile.</p>
				<br />
				<p>Come Home to Nrityagram!</p>

				<!-- <p class="more-top-margin">2. Click Continue</p>
				<p class="more-top-margin">3. Allow Access to Camera (if you wish) and Click Join Space</p>
				<p class="more-top-margin add-bottom-margin">4. And you’re in - Welcome to Quiet Space!!</p> -->
			</div>
			<div class="align-top">
				<div class="img-plus no-stretch align-top">
					<picture>
						<source
							media="(max-width: 800px)"
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1647774613/quiet-space_esntpw.jpg
							"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/v1647774613/quiet-space_esntpw.jpg"
							alt="Quiet Space online community"
							id="quietspace-img"
						/>
					</picture>
					<div class="img-credit">Photo: Lynne Fernandez</div>
				</div>
				<br>
				<p class="emphasis small">
					<b> NOTE </b>
				</p>
				<p class="emphasis small">Please use a Desktop or Laptop.</p>
				<p class="emphasis small">You won't be able to hear the music on a Mobile Device (Phone or Tablet).</p>
				<p class="emphasis small">We hope this will be updated soon, until then use a Desktop or Laptop.</p>
				
			</div>
		</div>
		<div class="two-column-grid x-x-gap equal io-card">
			<div class="align-top">
				<p>
					<b> Here’s how you can join Quiet Space </b>
				</p>
				<p>
					Click on
					<a href="https://spatial.chat/s/nrityagram" class="bodylink" target="_blank"
						>https://spatial.chat/s/nrityagram</a
					>
				</p>
				<p>1. Enter your Name & something about yourself</p>
			</div>
			<div class="img-plus no-stretch align-top">
				<picture>
					<source
						media="(max-width: 800px)"
						srcset="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1633191709/01-f_lztnbh.jpg"
					/>
					<img
						src="https://res.cloudinary.com/nrityagram/image/upload/v1633191709/01-f_lztnbh.jpg"
						alt="Spatial Chat login screen"
					/>
				</picture>
				<div class="img-credit">Photo: Spatial Chat Screen Capture</div>
				<div
					class="img-magnify open-img-modal"
					data-img-url="https://res.cloudinary.com/nrityagram/image/upload/v1633191709/01-f_lztnbh.jpg"
					data-img-credit="Photo: Spatial Chat Screen Capture"
				>
					<img src="{{ '/img/magnify-icon-w.png' | url }}" alt="enlarge image icon" />
				</div>
			</div>
		</div>
		<div class="two-column-grid x-x-gap equal io-card">
			<div class="align-top">
				<p>2. Click Continue</p>
			</div>
			<div class="img-plus no-stretch align-top">
				<picture>
					<source
						media="(max-width: 800px)"
						srcset="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1633191709/02-f_yrvgch.jpg"
					/>
					<img
						src="https://res.cloudinary.com/nrityagram/image/upload/v1633191709/02-f_yrvgch.jpg"
						alt="Spatial Chat login screen"
					/>
				</picture>
				<div class="img-credit">Photo: Spatial Chat Screen Capture</div>
				<div
					class="img-magnify open-img-modal"
					data-img-url="https://res.cloudinary.com/nrityagram/image/upload/v1633191709/02-f_yrvgch.jpg"
					data-img-credit="Photo: Spatial Chat Screen Capture"
				>
					<img src="{{ '/img/magnify-icon-w.png' | url }}" alt="enlarge image icon" />
				</div>
			</div>
		</div>
		<div class="two-column-grid x-x-gap equal io-card">
			<div class="align-top">
				<p>3. Allow Access to Camera (if you wish) and Click Join Space</p>
			</div>
			<div class="img-plus no-stretch align-top">
				<picture>
					<source
						media="(max-width: 800px)"
						srcset="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1633191709/03-f_klzndu.jpg"
					/>
					<img
						src="https://res.cloudinary.com/nrityagram/image/upload/v1633191709/03-f_klzndu.jpg"
						alt="Spatial Chat login screen"
					/>
				</picture>
				<div class="img-credit">Photo: Spatial Chat Screen Capture</div>
				<div
					class="img-magnify open-img-modal"
					data-img-url="https://res.cloudinary.com/nrityagram/image/upload/v1633191709/03-f_klzndu.jpg"
					data-img-credit="Photo: Spatial Chat Screen Capture"
				>
					<img src="{{ '/img/magnify-icon-w.png' | url }}" alt="enlarge image icon" />
				</div>
			</div>
		</div>
		<div class="two-column-grid x-x-gap equal io-card">
			<div class="align-top">
				<p>4. And you’re in - Welcome to Quiet Space!!</p>
			</div>
			<div class="img-plus no-stretch align-top">
				<picture>
					<source
						media="(max-width: 800px)"
						srcset="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1633191709/04-f_ebef0v.jpg"
					/>
					<img
						src="https://res.cloudinary.com/nrityagram/image/upload/v1633191709/04-f_ebef0v.jpg"
						alt="Spatial Chat login screen"
					/>
				</picture>
				<div class="img-credit">Photo: Spatial Chat Screen Capture</div>
				<div
					class="img-magnify open-img-modal"
					data-img-url="https://res.cloudinary.com/nrityagram/image/upload/v1633191709/04-f_ebef0v.jpg"
					data-img-credit="Photo: Spatial Chat Screen Capture"
				>
					<img src="{{ '/img/magnify-icon-w.png' | url }}" alt="enlarge image icon" />
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Dialog Popup Itself -->
<dialog id="vh-performers">
	<div class="modal-header red-glass-button light no-dropshadow large">
		<div class="close-button" aria-label="close">&#215;</div>
		<p>Vasantahabba Performers through the years</p>
	</div>

	<div class="modal-content set-maxwidth">
		<h1 class="medium-font no-margin-bottom">Dance</h1>
		<ul class="no-bullets less-top-margin">
			<li>Aditi Magaldas (Kathak)</li>
			<li>Alarmel Valli (Bharatnatyam)</li>
			<li>Astad Deboo (Contemporary Dance)</li>
			<li>Bharati Shivaji (Mohiniattam)</li>
			<li>Bijayini Satpathy (Odissi)</li>
			<li>Daksha Sheth (Contemporary Dance)</li>
			<li>Guru Jayaram & Vanashree Rao (Kuchipudi)</li>
			<li>Guru Kelucharan Mahapatra (Odissi)</li>
			<li>Guru Kelucharan Mahapatra & Pt. Birju Maharaj (Odissi & Kathak Jugalbandi)</li>
			<li>Hemang Mehta (Hindustani Vocal)</li>
			<li>Kadamb (Kathak)</li>
			<li>Kathak Kendra, Delhi (Kathak)</li>
			<li>Indira Kadambi (Bharatnatyam)</li>
			<li>Leela Samson (Bharatnatyam)</li>
			<li>Leela Samson & Spanda (Bharatnatyam)</li>
			<li>Madhu Natraj & STEM Dance Theatre (Contemporary Dance)</li>
			<li>Malavika Sarukkai (Bharatnatyam)</li>
			<li>Mandakini Trivedi (Mohiniattam)</li>
			<li>Manju Bhargavi (Kuchipudi)</li>
			<li>Nirupama & Rajendra (Kathak)</li>
			<li>Nrityagram Dance Ensemble (Odissi)</li>
			<li>Nrityagram Village Outreach Children (Odissi, Mohiniattam, Kathak, Bharatnatyam)</li>
			<li>Nrityakalamandiram, Bangalore (Bharatnatyam)</li>
			<li>Odissi Research Centre, Bhubaneswar (Odissi)</li>
			<li>Padmini Ravi (Bharatnatyam)</li>
			<li>Priyadarsini Govind (Bharatnatyam)</li>
			<li>Pratibha Prahlad (Bharatnatyam)</li>
			<li>Protima Gauri (Odissi)</li>
			<li>Raja Radha Reddy (Kuchipudi)</li>
			<li>Ranjabati Sircar & Dancers Guild (Creative Dance)</li>
			<li>Rudrakshya, Bhubaneswar (Odissi)</li>
			<li>Sujata Mahapatra (Odissi)</li>
			<li>Surupa Sen (Odissi)</li>
			<li>Usha Datar (Kuchipudi)</li>
		</ul>
		<h1 class="medium-font no-margin-bottom">Music</h1>
		<ul class="no-bullets less-top-margin">
			<li>Aruna Sairam (Carnatic Vocal)</li>
			<li>Begum Parveen Sultana (Hindustani Vocal)</li>
			<li>Bombay Jayashri (Carnatic Vocal)</li>
			<li>Dr. Chitti Babu (Carnatic Veena)</li>
			<li>Dr. L. Subramaniam (Carnatic Violin)</li>
			<li>Dr. Suma Sudhindra with an Ensemble of 25 Veenas</li>
			<li>Ganesh Kumaresh (Carnatic Violin)</li>
			<li>Gundecha Brothers (Dhrupad)</li>
			<li>Kalaimamani Kadri Gopalnath (Carnatic Saxophone)</li>
			<li>Malini Rajurkar (Hindustani Vocal)</li>
			<li>Master U. Srinivas (Carnatic Mandolin)</li>
			<li>Mysore Dr. Doreswamy Iyengar (Carnatic Veena)</li>
			<li>Naseer & Nazeer Warsi (Qawwali)</li>
			<li>Pt. Bhimsen Joshi (Hindustani Vocal)</li>
			<li>Pt. Hariprasad Chaurasia (Hindustani Flute)</li>
			<li>Pt. Jasraj (Hindustani Vocal)</li>
			<li>Pt. Shivkumar Sharma & Ustad Zakir Hussain (Santoor & Tabla Vadan)</li>
			<li>Pt. Vishwamohan Bhatt (Mohan Veena)</li>
			<li>Rajan Sajan Misra (Hindustani Vocal)</li>
			<li>Raju Ananthaswamy & Party (Tribute to Kuvempu)</li>
			<li>Rashid Khan (Hindustani Vocal)</li>
			<li>Ronu Majumdar (Hindustani Flute)</li>
			<li>Shashank Subramanyam (Carnatic Flute)</li>
			<li>Shubha Mudgal (Hindustani Vocal)</li>
			<li>Shubhendra Rao (Hindustani Sitar)</li>
			<li>Shubendra Rao & Saskia Rao-de Haas (Hindustani Sitar & Cello)</li>
			<li>Ustad Amjad Ali Khan (Hindustani Sarod)</li>
			<li>Ustad Zakir Hussain (Tabla)</li>
			<li>Veena Sahasrebuddhe (Hindustani Vocal)</li>
		</ul>
		<h1 class="medium-font no-margin-bottom">Taalvadya Kacheri</h1>
		<ul class="no-bullets less-top-margin">
			<li>
				Guru Kelucharan Mahapatra (Pakhawaj), Pt. Birju Maharaj (Dhol), Ustad Zakir Hussain (Tabla), H. P. Ramachar
				(Khanjira), Vidwan Vikku Vinayakram (Ghatam), K. Venkatram (Konagolu), Shivu (Mridangam), Rajshekhar (Morsing)
			</li>
			<li>Kalaimamani Kadri Gopalnath & Party</li>
			<li>
				Selvaganesh (Khanjira), Vidwan Vikku Vinayakram (Ghatam), Dilawar Khan (Nagada), Fazal Qureshi (Tabla), Dr. N.
				Muralirathnam (Thavil), Vellore Ramabhadran (Mridangam)
			</li>
			<li>
				Stree Shakti: Anuradha Pal (Tabla), Tanjore V Padma (Mridangam), Sukanya Ramgopal (Ghatam), Latha Ramachar
				(Khanjira), V. Nalina Mohan (Violin), Pushpa Kashinath (Veena)
			</li>
			<li>
				Vid. Umayalpuram K. Sivaraman (Mridangam), Ustad Zakir Hussain (Tabla), Vidwan H. P. Ramachar (Kanjira), Vidwan
				E. M. Subramaniam (Ghatam)
			</li>
		</ul>
		<h1 class="medium-font no-margin-bottom">Contemporary / World Music</h1>
		<ul class="no-bullets less-top-margin">
			<li>Amit Heri Group</li>
			<li>Brahmma - Ganesh Kumaresh</li>
			<li>
				D. Wood (Guitar), Storms (Bass Guitar), Sri Ram Iyer (Violin), Bhooshan Munj (Tabla), Bobby Duggal (Percussion)
			</li>
			<li>Indian Ocean (Progressive Indian Music)</li>
			<li>Louis Banks & Party</li>
			<li>Nadaka (Guitar), Ganesh Kumaresh (Violin), Shivamani (Percussion), Vidwan Vikku Vinayakram (Ghatam)</li>
			<li>Raghu Dixit & Antaragni</li>
			<li>Taufiq Qureshi & Friends</li>
			<li>Talvin Singh</li>
		</ul>
		<h1 class="medium-font no-margin-bottom">Other Performances</h1>
		<ul class="no-bullets less-top-margin">
			<li>
				Belliappa & Party (Dollu Kunita)
				<br />
				Opening Act at Vasantahabba for 10 years
			</li>
			<li>Bhangra: Buta Singh & Party</li>
			<li>Dodda Gombe</li>
			<li>Kalaripayattu: CVN Kalari Sangam, Trivandrum</li>
			<li>Kamasale</li>
			<li>Karadi Majalu</li>
			<li>Nadaswaram: Dollu Venkatesh & Party</li>
			<li>Puja Kunita</li>
			<li>Somana Kunita</li>
			<li>Veeragase</li>
			<li>Yakshagana: Keremane Shambhu Hegde & Sri Idagunji<br />Mahaganapathi Yakshagana Mandali</li>
			<li>Yakshagana: Makkala Mela, Saligrama, Dakshina Kannada</li>
		</ul>
	</div>
</dialog>

<script type="text/javascript">
	const modal = document.querySelector('#vh-performers');
	const openModal = document.querySelector('.open-modal');
	const closeModal = document.querySelector('.close-button');
	const body = document.querySelector('body');

	openModal.addEventListener('click', () => {
		modal.showModal();
		// Disable scroll
		body.style.overflow = 'hidden';
	});

	closeModal.addEventListener('click', () => {
		modal.close();
		// Enable scroll
		body.style.overflow = 'auto';
	});
</script>
