---
  layout: "_page.njk"
  title: "Community"
  heroText: "Community"
  heroDesk: "https://res.cloudinary.com/nrityagram/image/upload/v1646055237/space-masthead-desk_ajtshm.jpg"
  heroTab: "https://res.cloudinary.com/nrityagram/image/upload/v1646055253/ipad/space-masthead-tablet_adcwua.jpg"
  heroMob: "https://res.cloudinary.com/nrityagram/image/upload/v1646055274/mobile/space-masthead-mobile_fkjcfs.jpg"
  heroDeskCredit: "Surupa Sen"
  heroTabCredit: "Surupa Sen"
  heroMobCredit: "Surupa Sen"
  slider: true
  carousels: false
---

<div class="content">
	<div class="wrapper medium inner-page">
		<p>
			The Nrityagram community knits together the trees of our dance village,
			<br />
			the teachers whose careful eye instructs not only the alignment of the limbs but of body and spirit,
			<br />
			the students who spend hours perfecting the art,
			<br />
			the tiny insects who are masters of organic architecture,
			<br />
			our shy friend the Paradise Flycatcher,
			<br />
			our families and friends who are our lifeblood,
			<br />
			the mango blossoms whose scented greetings bless us every summer,
			<br />
			our food forest whose bounty we gratefully share,
			<br />
			our patrons and audiences who support and cheer us across world stages, real and virtual,
			<br />
			and artistic souls around the globe.
		</p>
		<p>
			Our community draws on the wisdom of ancient teachers whose fierce intellect and creativity gave us the art that
			we now practice and nurture.
		</p>
		<p>
			Our community is a sanctuary for creative spirits, a crucible for excellence, and a talisman of hope in these
			uncertain times.
		</p>
		<p>Our community is our past, present and ever evolving future.</p>
		<p>Our community transcends the boundaries of time and space.</p>
		<p>Our community is within you, my friend, whoever you are, tree, bird, flower, or human.</p>
	</div>
	<div id="danceaware"></div>
	<div class="wrapper medium inner-page less-top-pad salmon">
		<h1 class="center medium-font">Dance Awareness</h1>
		<div class="full-bleed more-bottom-pad">
			<div class="owl-carousel owl-theme">
				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580622153/danceaware_1_acdtmk.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580622153/danceaware_1_acdtmk.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580622153/danceaware_1_acdtmk.jpg"
							alt="dance aware 1"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580622152/danceaware_2_wipowo.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580622152/danceaware_2_wipowo.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580622152/danceaware_2_wipowo.jpg"
							alt="dance aware 2"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580622152/danceaware_3_negugh.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580622152/danceaware_3_negugh.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580622152/danceaware_3_negugh.jpg"
							alt="dance aware 3"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580622152/danceaware_4_bjkuzp.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580622152/danceaware_4_bjkuzp.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580622152/danceaware_4_bjkuzp.jpg"
							alt="dance aware 4"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580622152/danceaware_5_vyntb0.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580622152/danceaware_5_vyntb0.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580622152/danceaware_5_vyntb0.jpg"
							alt="dance aware 5"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580797484/danceaware_6_qrhogy.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580797484/danceaware_6_qrhogy.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580797484/danceaware_6_qrhogy.jpg"
							alt="dance aware 6"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>
			</div>
		</div>

		<p>Nrityagyān is a programme of Dance Awareness set up as part of our policy of popularising the classical arts.</p>
		<p>The aims of Nrityagyān are:</p>
		<ul class="more-bottom-pad">
			<li>To conduct sensitisation and knowledge building programmes for people so that the audience base for the classical arts is expanded.</li>
			<li>To open the world of classical dance to students. To conduct lecture-demonstrations in schools, universities, and community associations so that young people learn about our classical culture.</li>
			<li>To research the use of classical dance in education, therapy, rehabilitation, etc.</li>
			<li>To set up a resource centre for scholars from all over the world to document, research and develop classical dance.</li>
		</ul>
		<p>
            Over the last three decades, over 500,000 children and adults have benefitted from our Project Nrityagyān through a range of activities that include workshops and lecture-demonstrations. Our Research Wing has compiled invaluable knowledge that will be published soon. And we plan to set-up a resource centre for scholars in the next phase of development.
          </p>
	</div>
	<div id="villageoutreach"></div>
	<div class="wrapper medium inner-page less-top-pad">
		<h1 class="center medium-font">Village Outreach</h1>
		<div class="full-bleed more-bottom-pad">
			<div class="owl-carousel owl-theme">
				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1647085632/VO_01_wjxg3k.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1647085632/VO_01_wjxg3k.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1647085632/VO_01_wjxg3k.jpg"
							alt="village outreach 1"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1647085632/VO_02_eypf9j.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1647085632/VO_02_eypf9j.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1647085632/VO_02_eypf9j.jpg"
							alt="village outreach 2"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1647085632/VO_03_dmnid0.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1647085632/VO_03_dmnid0.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1647085632/VO_03_dmnid0.jpg"
							alt="village outreach 3"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1647085632/VO_04_iryv6r.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1647085632/VO_04_iryv6r.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1647085632/VO_04_iryv6r.jpg"
							alt="village outreach 4"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1647085632/VO_05_vo4sqp.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1647085632/VO_05_vo4sqp.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1647085632/VO_05_vo4sqp.jpg"
							alt="village outreach 5"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1647085632/VO_06_fa0vmw.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1647085632/VO_06_fa0vmw.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1647085632/VO_06_fa0vmw.jpg"
							alt="village outreach 6"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>
			</div>
		</div>
		<p>
            Our Village Outreach was started in 1990 by founder <a href="/protima" class="bodylink">Protima Gauri</a>. Her focus was to bring classical dance training to rural kids in an effort to popularize the classical arts of India.
          </p>
          <p>
            In 1998, the Village Outreach became a part of our Project Nrityagyān (Dance Education) with a broadened vision to also promote personal growth by developing a strong sense of discipline, high standards of excellence and self esteem. Thus providing them tools to a successful future.
          </p>
          <p>
            Using a teaching method brought to us by Tracy Straus of the National Dance Institute, New York, our classes are full of energy, passion, commitment, honesty and respect on both sides - teacher and students. This helps us to almost instantly win each child's trust because they immediately feel safe in class. Children receive honest feedback knowing that each of them is special, that there are small achievements every day and that they will succeed. The children stay focused with amazingly high energy and concentration for three hours, regardless of their age. And that’s how they enthusiastically accept and wholeheartedly put their efforts into new challenges.
          </p>
          <p>
            The groups are organized as 4 to 12 years, above 12, fresh learners and advanced learners.
          </p>
          <p>
            <a href="/pavithra" class="bodylink">Pavithra Reddy</a>, who initially joined this programme and was selected for further training in 1993, is a stellar example of the success of our Village Outreach.
          </p>
	</div>
	<div id="supportingartists"></div>
	<div class="wrapper medium inner-page less-top-pad salmon">
		<h1 class="center medium-font">Supporting Artists</h1>
		<div class="full-bleed">
			<div class="owl-carousel owl-theme">
				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1583861344/supportartists_1_h3y1ig.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1583861344/supportartists_1_h3y1ig.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1583861344/supportartists_1_h3y1ig.jpg"
							alt="village outreach 1"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1583861344/supportartists_2_gek2vu.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1583861344/supportartists_2_gek2vu.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1583861344/supportartists_2_gek2vu.jpg"
							alt="village outreach 2"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1583861344/supportartists_3_fsov6b.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1583861344/supportartists_3_fsov6b.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1583861344/supportartists_3_fsov6b.jpg"
							alt="village outreach 3"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1583861344/supportartists_4_cqu6os.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1583861344/supportartists_4_cqu6os.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1583861344/supportartists_4_cqu6os.jpg"
							alt="village outreach 4"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1583861344/supportartists_5_sjjg9y.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1583861344/supportartists_5_sjjg9y.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1583861344/supportartists_5_sjjg9y.jpg"
							alt="village outreach 5"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1583861344/supportartists_6_ziatsh.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1583861344/supportartists_6_ziatsh.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1583861344/supportartists_6_ziatsh.jpg"
							alt="village outreach 6"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>
			</div>
		</div>
		<h2 class="medium-font no-margin-bottom center">Kula</h2>
		<div class="subtitle center" data-nopad="top">Artists Residence</div>
		<p>
            For two decades, Nrityagram’s natural surroundings, wholesome lifestyle and inspired practice generated and nourished artistic dialogue and innovation. Stimulated by the unique ambience, artists from various disciplines expressed a desire to live and create work at our campus.
          </p>
          <p>
            To share acquired knowledge, support collaboration and create access to our holistic energizing space, in 2010 we built Kula, a home for artist residencies. It is a space for artists to meet, converse, and create – an interdisciplinary crucible for the arts.
          </p>
		  <div class="subtitle">Facilities</div>
		  <ul>
			<li>8 twin-bedroom units with attached bathrooms</li>
            <li>Common living room and kitchenette</li>
            <li>Wi-fi</li>
            <li>Dedicated rehearsal space</li>
            <li>Vegetarian meals made from locally grown organic produce</li>
		  </ul>
	</div>
</div>
