---
layout: _page.njk
title: "Confirmation of Newsletter Subscription"
heroType: "none"
---

<div class="content">
  <div class="wrapper narrow inner-page text-less-top-pad">
      <div class="img-plus">
        <picture>
          <source media="(min-width: 800px)" srcset="https://res.cloudinary.com/nrityagram/image/upload/v1629207294/dancers-protima_cpnnfv.webp"/>
          <img src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_500/v1629207294/dancers-protima_cpnnfv.webp" alt="Subscription to Newsletter">
        </picture>
        <!-- <div class="img-credit">Photo: Guillermo Consejo</div> -->
      </div>
      
      <h2 class="medium-font small-margin-top center">Subscription confirmed</h2>
    <p>
     Your subscription to our newsletter has been confirmed and you will receive news from us soon.
     <br>
     Please check your email for a confirmation message from us.
    </p>
    <p>
       Thank you for subscribing.
    </p>
    <p class="emphasis">Return to <a href="/" class="bodylink">Home Page</a></p>
  </div>
</div>