---
  layout: "_page.njk"
  title: "Dance Unlimited"
  heroText: "Dance"
  heroText2: "Unlimited"
  heroDesk: "https://res.cloudinary.com/nrityagram/image/upload/v1580617695/take_a_class-desk_a39xcn.jpg"
  heroTab: "https://res.cloudinary.com/nrityagram/image/upload/v1589039867/ipad/take-a-class_hhn6gs.jpg"
  heroMob: "https://res.cloudinary.com/nrityagram/image/upload/v1583863704/mobile/take-a-class-mob_odg2f9.jpg"
  heroDeskCredit: "Ravi Shankar"
  heroTabCredit: "Ravi Shankar"
  heroMobCredit: "Ravi Shankar"
  carousels: false
---

<div class="content">
	<div class="wrapper medium inner-page">
		<p>
			We believe everyone can dance! That dance has the power to engage people and motivate them towards excellence. All
			our students learn to work together and develop personal standards of merit, a curiosity about the world and pride
			of achievement that supports their success in life.
		</p>
		<p>Our Dance Unlimited programme has students from four to forty, enrolled in different courses:</p>
	</div>
	<div id="residential"></div>
	<div class="wrapper medium inner-page very-less-top-pad salmon" data-nopad="bottom">
		<h1 class="center medium-font">Residential Workshops</h1>
		<div class="img-plus">
			<picture>
				<source
					media="(max-width: 800px)"
					srcset="
						https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580737469/1_Summer_Dancing_kksi0l.jpg
					"
				/>
				<img
					src="https://res.cloudinary.com/nrityagram/image/upload/v1580737469/1_Summer_Dancing_kksi0l.jpg"
					alt="Summer Dance Workshop"
				/>
			</picture>
			<div class="img-credit">Photo: Surupa Sen</div>
		</div>
		<h2 class="medium-font small-margin-top less-margin-bottom center">Summer Dancing</h2>
		<p>
			Our Summer Workshop is a unique programme, which brings to students a compact experience of our philosophy of
			“learning as a way of life”.
		</p>
		<p>
			Students engage in a rigorous daily schedule where they participate in 5 hours of supervised classes, and have
			time and studio space for independent rehearsal. Even though the workshop offers basic training in Odissi, in true
			Nrityagram fashion students are also taught <em>Yoga,</em>
			<em>Kalaripayattu,</em> and western physical
			conditioning techniques. The study of dance-scriptures like <em>Abhinaya Darpana</em> and <em>Natyashastra</em> is
			an integral part of the experience, in addition to learning complex rhythm structures. Students are also
			encouraged to create their own choreography based on the vocabulary they have learned at Nrityagram.
		</p>
	</div>
	<div class="wrapper medium inner-page salmon" data-nopad="bottom">
		<div class="img-plus">
			<picture>
				<source
					media="(max-width: 800px)"
					srcset="
						https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580737468/2_Summer_Fun_For_Kids_hp99w6.jpg
					"
				/>
				<img
					src="https://res.cloudinary.com/nrityagram/image/upload/v1580737468/2_Summer_Fun_For_Kids_hp99w6.jpg"
					alt="Summer Workshop for Kids"
				/>
			</picture>
			<div class="img-credit">Photo: Dhruvatara Sharma</div>
		</div>
		<h2 class="medium-font small-margin-top less-margin-bottom center">Summer Fun for Kids</h2>
		<p>
			Our Summer Fun for Kids is a one-of-a-kind residential workshop designed to help young ones understand community
			living. Every year a small group of children enrol in Nrityagram’s Summer Fun for Kids to find out for themselves,
			what is the Nrityagram way of life. Far away from television sets and video games, surrounded by lush foliage,
			beautiful birds and flowering trees, they experience life in a place where all residents take care of themselves
			and their home and where the entire community lives mindfully. The focus is dance and theatre but they also go for
			nature walks, tell stories, play games and most importantly, have lots of fun. Most of the children (and their
			parents) describe the experience as “life changing”.
		</p>
	</div>
	<div class="wrapper medium inner-page salmon">
		<div class="img-plus">
			<picture>
				<source
					media="(max-width: 800px)"
					srcset="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580737468/3_NG101_r33pqg.jpg"
				/>
				<img
					src="https://res.cloudinary.com/nrityagram/image/upload/v1580737468/3_NG101_r33pqg.jpg"
					alt="NG101 Course"
				/>
			</picture>
			<div class="img-credit">Photo: Shalini Jain</div>
		</div>
		<h2 class="medium-font small-margin-top less-margin-bottom center">NG101</h2>
		<p>
			NG101 is crafted for our younger dancers who are ready to take this step of making a deeper commitment to dance
			and to start on the path of a life-changing relationship with Nrityagram. By engaging them in our everyday
			practice, our goal is to nurture a nuanced appreciation of Odissi and for these young dancers to grow into dance
			practitioners or attentive <em>rasikas</em>.
		</p>
	</div>
	<div id="parttime"></div>
	<div class="wrapper medium very-less-top-pad inner-page" data-nopad="bottom">
		<h1 class="center medium-font">Non-Residential Training</h1>
		<div class="img-plus">
			<picture>
				<source
					media="(max-width: 800px)"
					srcset="
						https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1600100164/4_City_Classes_dpbt0e.jpg
					"
				/>
				<img
					src="https://res.cloudinary.com/nrityagram/image/upload/v1600100164/4_City_Classes_dpbt0e.jpg"
					alt="City Class"
				/>
			</picture>
			<div class="img-credit">Photo: Shalini Jain</div>
		</div>
		<h2 class="medium-font small-margin-top less-margin-bottom center">City Class</h2>
		<p>
			In Bangalore, <a href="/surupa" class="bodylink">Surupa Sen</a> has a training programme for people with an
			interest in Odissi who may not have the option to become professional dancers or have successful careers or
			families of their own or all of the above. This is a specially satisfying programme for our teachers because of
			the noticeable change and growth in the students.
		</p>
		<p>
			Classes are for 2 hours a day on Thursdays and Saturdays. There are 2 groups - under 12 and above 12, and there
			are several Mother-Daughter combinations in this programme.
		</p>
	</div>
	<div class="wrapper medium inner-page">
		<div class="img-plus">
			<picture>
				<source
					media="(max-width: 800px)"
					srcset="
						https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580737468/5_Sunday_Class_vjc0nw.jpg
					"
				/>
				<img
					src="https://res.cloudinary.com/nrityagram/image/upload/v1580737468/5_Sunday_Class_vjc0nw.jpg"
					alt="Sunday Class"
				/>
			</picture>
			<div class="img-credit">Photo: Shalini Jain</div>
		</div>
		<h2 class="medium-font small-margin-top less-margin-bottom center">Sunday Class</h2>
		<p>
			Every Sunday, young students from the city who have a keen interest in Odissi come for the special Sunday Class.
			These students, aged between seven and fifteen undergo a specially crafted programme, which prepares them for
			advanced training, if they choose to. Many students from the Sunday Class have moved on to the advanced class,
			demonstrating the success of such a focused intervention.
		</p>
		<p>Write to us for details <a href="mailto:learn@nrityagram.org" class="bodylink">learn@nrityagram.org</a>
		</p>
	</div>
</div>