---
  layout: "_page.njk"
  title: "Dance Professionals"
  heroText: "Dance"
  heroText2: "Professionals"
  heroDesk: "https://res.cloudinary.com/nrityagram/image/upload/v1580617696/dance-professionals-desk_q1mnsc.jpg"
  heroTab: "https://res.cloudinary.com/nrityagram/image/upload/v1589039867/ipad/dance-professionals_kximrn.jpg"
  heroMob: "https://res.cloudinary.com/nrityagram/image/upload/v1580617695/mobile/dance-professionals-mob_jwkl0j.jpg"
  heroDeskCredit: "Karthik Venkatraman"
  heroTabCredit: "Karthik Venkatraman"
  heroMobCredit: "Karthik Venkatraman"
  slider: true
---

<div class="content">

  <div class="wrapper medium inner-page">
  
    <div class="full-bleed more-bottom-pad">
      <div class="owl-carousel owl-theme">
        <div class="item rounded">
          <picture>
            <source
              srcset="
                https://res.cloudinary.com/nrityagram/image/upload/v1580738672/danceprof_1_elw180.jpg
              "
              media="(min-width: 1400px)"
            />
            <source
              srcset="
                https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738672/danceprof_1_elw180.jpg
              "
              media="(min-width: 1000px)"
            />
            <img
              src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738672/danceprof_1_elw180.jpg"
              alt="dance professionals 1"
              height="auto"
            />
          </picture>
          <div class="photo-credit">Photo : Courtesy Nrityagram</div>
        </div>

        <div class="item rounded">
          <picture>
            <source
              srcset="
                https://res.cloudinary.com/nrityagram/image/upload/v1580738671/danceprof_2_lq2g0m.jpg
              "
              media="(min-width: 1400px)"
            />
            <source
              srcset="
                https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738671/danceprof_2_lq2g0m.jpg
              "
              media="(min-width: 1000px)"
            />
            <img
              src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738671/danceprof_2_lq2g0m.jpg"
              alt="dance professionals 2"
              height="auto"
            />
          </picture>
          <div class="photo-credit">Photo : Courtesy Nrityagram</div>
        </div>

        <div class="item rounded">
          <picture>
            <source
              srcset="
                https://res.cloudinary.com/nrityagram/image/upload/v1580738672/danceprof_3_xbqybo.jpg
              "
              media="(min-width: 1400px)"
            />
            <source
              srcset="
                https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738672/danceprof_3_xbqybo.jpg
              "
              media="(min-width: 1000px)"
            />
            <img
              src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738672/danceprof_3_xbqybo.jpg"
              alt="dance professionals 3"
              height="auto"
            />
          </picture>
          <div class="photo-credit">Photo : Courtesy Nrityagram</div>
        </div>

        <div class="item rounded">
          <picture>
            <source
              srcset="
                https://res.cloudinary.com/nrityagram/image/upload/v1580738672/danceprof_4_bk6dgu.jpg
              "
              media="(min-width: 1400px)"
            />
            <source
              srcset="
                https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738672/danceprof_4_bk6dgu.jpg
              "
              media="(min-width: 1000px)"
            />
            <img
              src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738672/danceprof_4_bk6dgu.jpg"
              alt="dance professionals 4"
              height="auto"
            />
          </picture>
          <div class="photo-credit">Photo : Courtesy Nrityagram</div>
        </div>

        <div class="item rounded">
          <picture>
            <source
              srcset="
                https://res.cloudinary.com/nrityagram/image/upload/v1580738672/danceprof_5_zt0jjd.jpg
              "
              media="(min-width: 1400px)"
            />
            <source
              srcset="
                https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738672/danceprof_5_zt0jjd.jpg
              "
              media="(min-width: 1000px)"
            />
            <img
              src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738672/danceprof_5_zt0jjd.jpg"
              alt="dance professionals 5"
              height="auto"
            />
          </picture>
          <div class="photo-credit">Photo : Courtesy Nrityagram</div>
        </div>

        <div class="item rounded">
          <picture>
            <source
              srcset="
                https://res.cloudinary.com/nrityagram/image/upload/v1580738672/danceprof_6_ouk3xr.jpg
              "
              media="(min-width: 1400px)"
            />
            <source
              srcset="
                https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738672/danceprof_6_ouk3xr.jpg
              "
              media="(min-width: 1000px)"
            />
            <img
              src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738672/danceprof_6_ouk3xr.jpg"
              alt="dance professionals 6"
              height="auto"
            />
          </picture>
          <div class="photo-credit">Photo : Courtesy Nrityagram</div>
        </div>
      </div>
    </div>

    <p>
      We aim to prepare dancers for careers that combine performance with teaching, community outreach, and leadership. To enrich their practice, dancers are taught yoga, meditation, martial arts as well as Sanskrit and literature.
    </p>
    <p>
      Choreographers, movement-specialists, sculptors, painters, writers, musicians and theatre practitioners from all over the world frequently visit Nrityagram. They perform and conduct workshops and seminars in their area of practice to further deepen the breadth of our dancer’s knowledge.
    </p>
    <p>
      The daily schedule of the Nrityagram dancers includes a unique, scientific body-conditioning and training programme that is sourced from <em>Yoga,</em> <em>Natyashastra,</em> <em>Kalaripayattu,</em> Western fitness methods and Odissi body-conditioning exercises. This makes the practice of dance injury-proof and increases the performance lifespan of a dancer. This technique is now sought-after by accomplished dancers and performers of different disciplines and we frequently teach and advise performers how to benefit from our body-conditioning and training programme.
    </p>
    
    <div class="subtitle all-caps">
      Courses for dance professionals include:
    </div>
    <ul class="no-bullets">
      <li><b>Odissi 101</b>: Residential; Full-time; 1year</li>
      <li><b>Basic Training</b>: Residential; Full-time; 3 years</li>
      <li><b>Advanced Training</b>: Residential; Full-time; 3 years</li>
      <li>
        <b>Day Scholar Training</b>: Residential; 8 hours a day x 4 days a
        week
      </li>
    </ul>
    <p>
      Write to us for details <a href="mailto:learn@nrityagram.org" class="bodylink">learn@nrityagram.org</a>
    </p>
  </div>

</div>