---
  layout: "_page.njk"
  title: "Downtime"
  heroType: "image"
  heroText: "Downtime"
  heroDesk: "https://res.cloudinary.com/nrityagram/image/upload/v1588612792/downtime_l3towz.jpg"
  heroTab: "https://res.cloudinary.com/nrityagram/image/upload/v1589079637/ipad/Downtime_lub0mk.jpg"
  heroMob: "https://res.cloudinary.com/nrityagram/image/upload/v1588613128/mobile/downtime-mob_taizu0.jpg"
  heroDeskCredit: "Lynne Fernandez"
  heroTabCredit: "Lynne Fernandez"
  heroMobCredit: "Lynne Fernandez"
  parentMenuItem: "About"
  carousels: false
  lightgallery: true
---

<div class="content">
	<div class="wrapper ultra-wide inner-page">
		<div id="lightgallery">
			<a
				href="https://res.cloudinary.com/nrityagram/image/upload/v1588854679/media-images/downtime/_MG_5615_yrwydg.jpg"
			>
				<img
					src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588854679/media-images/downtime/_MG_5615_yrwydg.jpg"
					alt=""
				/>
			</a>

			<a
				href="https://res.cloudinary.com/nrityagram/image/upload/v1588854679/media-images/downtime/CASUAL-6_xiaz6q.jpg"
			>
				<img
					src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588854679/media-images/downtime/CASUAL-6_xiaz6q.jpg"
					alt=""
				/>
			</a>

			<a
				href="https://res.cloudinary.com/nrityagram/image/upload/v1588854662/media-images/downtime/IMG_0487_jz3k8u.jpg"
			>
				<img
					src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588854662/media-images/downtime/IMG_0487_jz3k8u.jpg"
					alt=""
				/>
			</a>

			<a
				href="https://res.cloudinary.com/nrityagram/image/upload/v1588854662/media-images/downtime/2016-09-20-11.29.24_mwsmbv.jpg"
			>
				<img
					src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588854662/media-images/downtime/2016-09-20-11.29.24_mwsmbv.jpg"
					alt=""
				/>
			</a>

			<a
				href="https://res.cloudinary.com/nrityagram/image/upload/v1588854662/media-images/downtime/CASUAL-1_oia3la.jpg"
			>
				<img
					src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588854662/media-images/downtime/CASUAL-1_oia3la.jpg"
					alt=""
				/>
			</a>

			<a
				href="https://res.cloudinary.com/nrityagram/image/upload/v1588854662/media-images/downtime/MISCELLANEOUS-52_bfcdqf.jpg"
			>
				<img
					src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588854662/media-images/downtime/MISCELLANEOUS-52_bfcdqf.jpg"
					alt=""
				/>
			</a>

			<a
				href="https://res.cloudinary.com/nrityagram/image/upload/v1588854648/media-images/downtime/IMG_9843_edited_u7ugvi.jpg"
			>
				<img
					src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588854648/media-images/downtime/IMG_9843_edited_u7ugvi.jpg"
					alt=""
				/>
			</a>

			<a
				href="https://res.cloudinary.com/nrityagram/image/upload/v1588854648/media-images/downtime/IMG_3625_pk2oru.jpg"
			>
				<img
					src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588854648/media-images/downtime/IMG_3625_pk2oru.jpg"
					alt=""
				/>
			</a>

			<a
				href="https://res.cloudinary.com/nrityagram/image/upload/v1588854648/media-images/downtime/IMGP0655_vb4udh.jpg"
			>
				<img
					src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588854648/media-images/downtime/IMGP0655_vb4udh.jpg"
					alt=""
				/>
			</a>

			<a
				href="https://res.cloudinary.com/nrityagram/image/upload/v1588854648/media-images/downtime/2014-04-16-13.10.05_hpkby5.jpg"
			>
				<img
					src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588854648/media-images/downtime/2014-04-16-13.10.05_hpkby5.jpg"
					alt=""
				/>
			</a>

			<a
				href="https://res.cloudinary.com/nrityagram/image/upload/v1588854630/media-images/downtime/2013-05-22-09.16.32_wc99s2.jpg"
			>
				<img
					src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588854630/media-images/downtime/2013-05-22-09.16.32_wc99s2.jpg"
					alt=""
				/>
			</a>

			<a
				href="https://res.cloudinary.com/nrityagram/image/upload/v1588854630/media-images/downtime/2013-05-22-12.23.35_a7uip3.jpg"
			>
				<img
					src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588854630/media-images/downtime/2013-05-22-12.23.35_a7uip3.jpg"
					alt=""
				/>
			</a>

			<a
				href="https://res.cloudinary.com/nrityagram/image/upload/v1588854630/media-images/downtime/2013-12-08-20.42.59_byix9o.jpg"
			>
				<img
					src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588854630/media-images/downtime/2013-12-08-20.42.59_byix9o.jpg"
					alt=""
				/>
			</a>

			<a
				href="https://res.cloudinary.com/nrityagram/image/upload/v1588854630/media-images/downtime/2014-04-16-11.47.40_dzcj71.jpg"
			>
				<img
					src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588854630/media-images/downtime/2014-04-16-11.47.40_dzcj71.jpg"
					alt=""
				/>
			</a>

			<a
				href="https://res.cloudinary.com/nrityagram/image/upload/v1588854612/media-images/downtime/IMG_9002_bo49gq.jpg"
			>
				<img
					src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588854612/media-images/downtime/IMG_9002_bo49gq.jpg"
					alt=""
				/>
			</a>

			<a
				href="https://res.cloudinary.com/nrityagram/image/upload/v1588854612/media-images/downtime/2013-05-07-12.35.46_hf12tu.jpg"
			>
				<img
					src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588854612/media-images/downtime/2013-05-07-12.35.46_hf12tu.jpg"
					alt=""
				/>
			</a>

			<a
				href="https://res.cloudinary.com/nrityagram/image/upload/v1588854612/media-images/downtime/2013-01-11-13.55.30_ohmejo.jpg"
			>
				<img
					src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588854612/media-images/downtime/2013-01-11-13.55.30_ohmejo.jpg"
					alt=""
				/>
			</a>

			<a
				href="https://res.cloudinary.com/nrityagram/image/upload/v1588854612/media-images/downtime/2013-03-10-15.54.48_xby5sm.jpg"
			>
				<img
					src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588854612/media-images/downtime/2013-03-10-15.54.48_xby5sm.jpg"
					alt=""
				/>
			</a>

			<a
				href="https://res.cloudinary.com/nrityagram/image/upload/v1588854596/media-images/downtime/IMG_7305_j2nqdh.jpg"
			>
				<img
					src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588854596/media-images/downtime/IMG_7305_j2nqdh.jpg"
					alt=""
				/>
			</a>

			<a
				href="https://res.cloudinary.com/nrityagram/image/upload/v1588854596/media-images/downtime/IMG_7470_udhcvh.jpg"
			>
				<img
					src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588854596/media-images/downtime/IMG_7470_udhcvh.jpg"
					alt=""
				/>
			</a>

			<a
				href="https://res.cloudinary.com/nrityagram/image/upload/v1588854596/media-images/downtime/IMG_8766_yn5tva.jpg"
			>
				<img
					src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588854596/media-images/downtime/IMG_8766_yn5tva.jpg"
					alt=""
				/>
			</a>

			<a
				href="https://res.cloudinary.com/nrityagram/image/upload/v1588854596/media-images/downtime/IMG_7595_vgrbwg.jpg"
			>
				<img
					src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588854596/media-images/downtime/IMG_7595_vgrbwg.jpg"
					alt=""
				/>
			</a>
		</div>
	</div>
</div>