---
  layout: "_page.njk"
  title: "Ensemble"
  heroType: "image"
  heroText: "Ensemble"
  heroDesk: "https://res.cloudinary.com/nrityagram/image/upload/v1569697661/ensemble_shfto0.jpg"
  heroTab: "https://res.cloudinary.com/nrityagram/image/upload/v1589038701/ipad/Ensemble_tqz1nl.jpg"
  heroMob: "https://res.cloudinary.com/nrityagram/image/upload/v1576166113/mobile/Ensemble_vaiqx7.jpg"
  heroDeskCredit: "Anita Anand"
  heroTabCredit: "Anita Anand"
  heroMobCredit: "Anita Anand"
  carousels: false
---

<div class="content">

  <div class="wrapper ultra-wide inner-page text-less-top-pad">
    <div class="two-column-grid narrow-wide">
      <div class="pullquote">
        <div class="quote">“The only<br>proper response</br>to dancers this amazing<br/>is worship!”</div>
        <div class="attribution">The New York Times</div>
      </div>
      <div>
        <p>
          Nrityagram is regarded as one of the foremost dance companies of India, with over three decades of diligent practice, teaching and performance.
        </p>
        <p>
          Led by Artistic Director <a href="/surupa" class="bodylink">Surupa Sen</a>, the Ensemble has achieved global critical acclaim, performing across India and the world, with tours to Australia, Europe, the Far East, the Middle East, South Africa, United Kingdom and the United States.
        </p>
        <p>
          Nrityagram is devoted to bringing Odissi - one of the oldest dance traditions in the world - to audiences worldwide. Performed as far back as 200 BC as a sacred ritual dedicated to the gods, Odissi speaks of love and union, between human and divine, transporting viewers to enchanting worlds of magic and spirituality. Its lush lyricism reflects both the motifs of Odisha temple sculpture as well as the poetry from the deep wellsprings of Oriya music. 
        </p>
        <p>
          Although steeped in and dedicated to ancient practice, the Ensemble is also committed to carrying Indian dance into the future. Enabled by grants from International Arts Funding organisations, Nrityagram’s dancers not only explore creative expansions of tradition but are also able to commission fresh compositions from leading musicians.
        </p>
        <p>
          At Nrityagram, traditional practice is infused with a bright contemporary spirit, which has captured the imagination of people worldwide.
        </p>
        <p>
          Classical is the New Cool!
        </p>
        <br>
        <p class="grey-text">
          Exclusive US Representation: Pentacle (DanceWorks, Inc.), 75 Broad
          Street, New York, NY 10004 <br/>
          <a href="https://www.pentacle.org" target="_blank">www.pentacle.org</a> | <a href="mailto:sandyg@pentacle.org" target="_blank">sandyg@pentacle.org</a> | +1 (212) 278-8111 ext. 3425
        </p>
      </div>
    </div>
  </div>

</div>