---
  layout: "_page.njk"
  title: "Find Your Way"
  heroType: "image"
  heroText: "Find"
  heroText2: "Your Way"
  heroDesk: "https://res.cloudinary.com/nrityagram/image/upload/v1571774928/find-your-way_bxtvdo.jpg"
  heroTab: "https://res.cloudinary.com/nrityagram/image/upload/v1589076431/ipad/find-your-way_odskjn.jpg"
  heroMob: "https://res.cloudinary.com/nrityagram/image/upload/v1576171773/mobile/find-your-way_ljdpm4.jpg"
  heroDeskCredit: "Karthik Venkatraman"
  heroTabCredit: "Karthik Venkatraman"
  heroMobCredit: "Karthik Venkatraman"
  carousels: false
---

<div class="content">
	<div class="wrapper medium inner-page text-less-top-pad very-less-bottom-pad">
		<p>Nrityagram is 35 kilometres from MG Road and 5 kilometres from Hessaraghatta village. There are several options to get here:</p>
	</div>
	<div class="wrapper medium inner-page" data-nopad="top">
		<h1 class="center light-font">Car</h1>
		<iframe
			src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d1192.5589560826568!2d77.45979436871723!3d13.163328428545444!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sen!2sin!4v1643316702354!5m2!1sen!2sin"
			width="100%"
			height="300"
			frameborder="0"
			style="border: 0;"
			allowfullscreen=""
		></iframe>
	</div>
	<div class="wrapper medium inner-page title-less-top-pad salmon">
		<h1 class="center light-font">Bus</h1>
		<p>Buses stop at Hessaraghatta village, where you can get an auto-rickshaw (Approximately ₹100 one-way).</p>
		<ul class="more-top-margin">
			<li>From City Market take bus number 266A, 253C, 253D, 253E</li>
			<li>From Majestic take bus number 253J</li>
		</ul>
	</div>
	<div class="wrapper medium inner-page title-less-top-pad">
		<h1 class="center light-font">Metro</h1>
		<ul>
			<li>
				The closest Metro station is Dasarahalli.
			</li>
			<li>
				From Dasarahalli take bus number 253D, 253E, 253F or 253J to Hessaraghatta village, where you can get an auto-rickshaw (Approximately ₹100 one-way).
			</li>
		</ul>
	</div>
</div>