---
  layout: "_page.njk"
  title: "Friends of Nrityagram"
  heroType: "image"
  heroText: "Friends of"
  heroText2: "Nrityagram"
  heroDesk: "https://res.cloudinary.com/nrityagram/image/upload/v1570033516/friends-of-nrityagram-banner_fg7kzg.jpg"
  heroTab: "https://res.cloudinary.com/nrityagram/image/upload/v1589077339/ipad/friends-of-nrityagram_ohfsfo.jpg"
  heroMob: "https://res.cloudinary.com/nrityagram/image/upload/v1576172128/mobile/friends-of-nrityagram_amc3kn.jpg"
  heroDeskCredit: "Sreedhar Vaidya"
  heroTabCredit: "Sreedhar Vaidya"
  heroMobCredit: "Sreedhar Vaidya"
  parentMenuItem: "Support"
  carousels: false
---

<div class="content">
	<div class="wrapper ultra-wide inner-page text-less-top-pad" data-nopad="bottom">
		<p>
			Friends of Nrityagram are vital members of our extended family.
		</p>
		<p> 
			Your Annual Support, at any level, will help us create uplifting experiences for the community, maintain artistic excellence, expand our unique outreach programs and ensure that Nrityagram continues to inspire future generations of dancers.
		</p>
	</div>
	<div class="wrapper ultra-wide multi-row-subgrids inner-page very-less-top-pad">
		<h1 class="center light-font no-margin-bottom">Areas of Support</h1>
		<div class="two-column-grid x-x-gap equal">
			<div class="align-top" style="height: max-content">
				<details open data-img-id="support1">
					<summary class="no-top-pad">Village Children Arts Programme</summary>
					<p>
						We believe dance has the power to engage people and motivate them towards excellence. 
					</p>
					<p>
						With your Annual Donation, we can continue our 30-year old community outreach to bring free dance training to hundreds of village children, which will support their overall success in life.
					</p>
				</details>
				<details data-img-id="support2">
					<summary>Re-stage, Restore and Rebuild Early Works</summary>
					<p>
						We regularly re-stage works from <a href="/surupa" class="bodylink">Surupa Sen</a>’s repertoire in addition
						to heritage pieces from Guru Kelucharan Mahapatra’s legacy.
					</p>
					<p>
						Your Annual Donation will allow us to rejuvenate and nourish these works of art.
					</p>
				</details>
				<details data-img-id="support3">
					<summary>Nrityagyān: Dance Awareness</summary>
					<p>
						We conduct free lecture-demonstrations in schools, universities, and local villages to spread knowledge about
						the classical arts. Over three decades, more than 100,000 children and adults have benefitted from our
						Project Nrityagyān endeavours.
					</p>
					<p>
						Your Annual Donation will enable us to continue this valuable work.
					</p>
				</details>
				<details data-img-id="support4">
					<summary>Subsidised Creative Space for Artists</summary>
					<p>
						We aim to be a place that nurtures artistic growth and exchange - a haven for artistes ranging from dancers to writers to theatre practitioners, and more. We also offer subsidies of 50% - 100% on Lodge and Board.
					</p>
					<p>
						Your Annual Donation will make it possible to help a community that typically lacks support.
					</p>
				</details>
			</div>

			<div class="img-stack">
				<div class="img-stack-child" id="support1" style="opacity: 1">
					<div class="img-plus">
						<picture>
							<img
								src="https://res.cloudinary.com/nrityagram/image/upload/v1570033519/friendsofng_1_yvj2sr.jpg"
								alt="Areas of Support"
								id="areasofsupport-img"
							/>
						</picture>
						<div class="img-credit" id="areasofsupport-img-credit">Photo: Surupa Sen</div>
					</div>
				</div>
				<div class="img-stack-child" id="support2" style="opacity: 0">
					<div class="img-plus">
						<picture>
							<img
								src="https://res.cloudinary.com/nrityagram/image/upload/v1570033516/friendsofng_2_cco1jk.jpg"
								alt="Areas of Support"
								id="areasofsupport-img"
							/>
						</picture>
						<div class="img-credit" id="areasofsupport-img-credit">Photo: Protima Gauri</div>
					</div>
				</div>
				<div class="img-stack-child" id="support3" style="opacity: 0">
					<div class="img-plus stack">
						<picture>
							<img
								src="https://res.cloudinary.com/nrityagram/image/upload/v1580797774/friends_of_ng_3_t4jnto.jpg"
								alt="Areas of Support"
								id="areasofsupport-img"
							/>
						</picture>
						<div class="img-credit" id="areasofsupport-img-credit">Photo: Lynne Fernandez</div>
					</div>
				</div>
				<div class="img-stack-child" id="support4" style="opacity: 0">
					<div class="img-plus stack">
						<picture>
							<img
								src="https://res.cloudinary.com/nrityagram/image/upload/v1591011122/4_syzq7f.jpg"
								alt="Areas of Support"
								id="areasofsupport-img"
							/>
						</picture>
						<div class="img-credit" id="areasofsupport-img-credit">Photo: Per Bloch Courtesy Sangam House</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper ultra-wide multi-row-subgrids inner-page less-top-pad salmon">
		<div class="vardan-category-list">
			<button class="vardan-donor-level active" data-donorlevel-id="1" data-donorlevel-name="Become a Young Giver">
				<div class="vardan-donor-level-details">
					<p>Young Giver</p>
					<p>&#8377;2,100 / $51</p>
					<p>(Under 21)</p>
				</div>
			</button>
			<button class="vardan-donor-level" data-donorlevel-id="2" data-donorlevel-name="Become a Fan">
				<div class="vardan-donor-level-details">
					<p>Fan</p>
					<p>&#8377;5,100 / $110</p>
				</div>
			</button>
			<button class="vardan-donor-level" data-donorlevel-id="3" data-donorlevel-name="Become a Believer">
				<div class="vardan-donor-level-details">
					<p>Believer</p>
					<p>&#8377;11,000 / $210</p>
				</div>
			</button>
			<button class="vardan-donor-level" data-donorlevel-id="4" data-donorlevel-name="Become a Supporter">
				<div class="vardan-donor-level-details">
					<p>Supporter</p>
					<p>&#8377;31,000 / $510</p>
				</div>
			</button>
			<button class="vardan-donor-level" data-donorlevel-id="5" data-donorlevel-name="Become a Champion">
				<div class="vardan-donor-level-details">
					<p>Champion</p>
					<p>&#8377;1,10,000 / $2,100</p>
				</div>
			</button>
		</div>
		<div class="donor-benefits--list">
			<div class="donor-benefits--column">
				<div class="donor-benefit--wrapper">
					<input type="checkbox" class="benefit fr12345" name="fr1" value="fr12345" checked/>
					<div class="donor-benefit">
						<span>&#x2713;</span>
						<p>Nrityagram Keepsake - set of 5 postcards, poster, fridge magnet and bookmark</p>
					</div>
				</div>

				<div class="donor-benefit--wrapper">
					<input type="checkbox" class="benefit fr12345" name="fr1" value="fr12345" checked/>
					<div class="donor-benefit">
						<span>&#x2713;</span>
						<p>Inclusion in mailing list</p>
					</div>
				</div>

				<div class="donor-benefit--wrapper">
					<input type="checkbox" class="benefit fr12345" name="fr1" value="fr12345" checked/>
					<div class="donor-benefit">
						<span>&#x2713;</span>
						<p>Alerts</p>
					</div>
				</div>

				<div class="donor-benefit--wrapper">
					<input type="checkbox" class="benefit fr12345" name="fr1" value="fr12345" checked/>
					<div class="donor-benefit">
						<span>&#x2713;</span>
						<p>Nrityagram eNewsletter</p>
					</div>
				</div>

				<div class="donor-benefit--wrapper">
					<input type="checkbox" class="benefit fr12345" name="fr1" value="fr12345" checked/>
					<div class="donor-benefit">
						<span>&#x2713;</span>
						<p>Exclusive “Friend of Nrityagram” T-shirt</p>
					</div>
				</div>

				<div class="donor-benefit--wrapper">
					<input type="checkbox" class="benefit fr345" name="fr3" value="fr345"/>
					<div class="donor-benefit">
						<span>&#x2713;</span>
						<p>Complimentary visit for 2 to Nrityagram</p>
					</div>
				</div>

				<div class="donor-benefit--wrapper">
					<input type="checkbox" class="benefit fr345" name="fr3" value="fr345"/>
					<div class="donor-benefit">
						<span>&#x2713;</span>
						<p>Discount for shows, whenever applicable</p>
					</div>
				</div>

				<div class="donor-benefit--wrapper">
					<input type="checkbox" class="benefit fr345" name="fr3" value="fr345"/>
					<div class="donor-benefit">
						<span>&#x2713;</span>
						<p>10% Discount on Nrityagram Souvenirs</p>
					</div>
				</div>
			</div>

			<div class="donor-benefits--column">
				<div class="donor-benefit--wrapper">
					<input type="checkbox" class="benefit fr3" name="fr31" value="fr3"/>
					<div class="donor-benefit">
						<span>&#x2713;</span>
						<p>Advance Notice to Purchase Tickets to a special Nrityagram Performance</p>
					</div>
				</div>

				<div class="donor-benefit--wrapper">
					<input type="checkbox" class="benefit fr45" name="fr4" value="fr45"/>
					<div class="donor-benefit">
						<span>&#x2713;</span>
						<p>Nrityagram calendar</p>
					</div>
				</div>

				<div class="donor-benefit--wrapper">
					<input type="checkbox" class="benefit fr4" name="fr41" value="fr4"/>
					<div class="donor-benefit">
						<span>&#x2713;</span>
						<p>
							Invitation for 4 to a special Nrityagram Performance (Seating on first-come first-served basis; RSVP
							required)
						</p>
					</div>
				</div>

				<div class="donor-benefit--wrapper">
					<input type="checkbox" class="benefit fr5" name="fr5" value="fr5"/>
					<div class="donor-benefit">
						<span>&#x2713;</span>
						<p>Invitation for 4 to a special Nrityagram Performance (Reserved seating; RSVP required)</p>
					</div>
				</div>

				<div class="donor-benefit--wrapper">
					<input type="checkbox" class="benefit fr5" name="fr5" value="fr5"/>
					<div class="donor-benefit">
						<span>&#x2713;</span>
						<p>
							Family Sunday at Nrityagram: Invitation for a family of 6 to visit, watch classes, Private Tour of
							Nrityagram and Lunch with our Community
						</p>
					</div>
				</div>

				<div class="donor-benefit--wrapper">
					<input type="checkbox" class="benefit fr5" name="fr5" value="fr5"/>
					<div class="donor-benefit">
						<span>&#x2713;</span>
						<p>
							Nrityagram Unplugged: Invitation for you and your family (4 people) to a Closed Rehearsal followed by a
							meal with our Community (Children 8 and over)
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="red-glass-button light no-dropshadow sml no-space-above open-modal wide-pad" id="donateButton">
			Become a Young Giver
		</div>
	</div>
</div>

<!-- Dialog Popup Itself -->
<dialog id="citizen-options">
	<div class="modal-header red-glass-button light no-dropshadow">
		<div class="close-button" aria-label="close">&#215;</div>
		<p>Select one</p>
	</div>
	<div id="passport">
		<div class="modal-content payment-choice-list">
			<div class="payment-choice">
				<label for="india" class="radio">
					<input type="radio" value="india" name="nationality" class="show-input radio-input citizen-type" id="india"/>
					Citizen of India (Tax Deductible)
				</label>
			</div>
			<div class="payment-choice">
				<label for="nri" class="radio">
					<input type="radio" value="nri" name="nationality" class="show-input radio-input citizen-type" id="nri"/>
					NRI / India Tax Deductible
				</label>
			</div>
			<div class="payment-choice">
				<label for="usa" class="radio">
					<input type="radio" value="usa" name="nationality" class="show-input radio-input citizen-type" id="usa"/>
					Citizen of USA / USA Tax Deductible
				</label>
			</div>
			<div class="payment-choice">
				<label for="othercountry" class="radio">
					<input
						type="radio"
						value="othercountry"
						name="nationality"
						class="show-input radio-input citizen-type"
						id="othercountry"
					/>
					Citizen of another country
				</label>
			</div>
		</div>
	</div>
</dialog>

<script>
	// Fetch all the details element.
	const details = document.querySelectorAll('details');
	// Fetch img element for areas of support
	const imgElm = document.getElementById('areasofsupport-img');
	// Fetch img credit element for areas of support
	const imgElmCredit = document.getElementById('areasofsupport-img-credit');
	// Save id of from data attribute of current targetDetail
	var curID = 'support1';

	// Add the onclick listeners.
	details.forEach((targetDetail) => {
		targetDetail.addEventListener('click', () => {
			// Close all the details that are not targetDetail.
			details.forEach((detail) => {
				if (detail !== targetDetail) {
					detail.removeAttribute('open');
				}
			});
			// Change image for targetDetail
			document
				.getElementById(curID)
				.style
				.opacity = 0;
			document
				.getElementById(targetDetail.dataset.imgId)
				.style
				.opacity = 1;
			curID = targetDetail.dataset.imgId;
		});
	});

	// Fetch all donor level button elements
	const donorLevels = document.querySelectorAll('.vardan-donor-level');
	// Fetch all donor benefit elements
	const donorBenefits = document.querySelectorAll('.benefit');
	// Active donor level
	var donorLevelId = '1';

	// Add the onclick listeners to donor level buttons
	donorLevels.forEach((targetLevel) => {
		targetLevel.addEventListener('click', () => {
			// Make inactive all donor level buttons that are not targetLevel
			donorLevels.forEach((level) => {
				if (level !== targetLevel) {
					level
						.classList
						.remove('active');
				}
			});
			// Make targetLevel button active
			targetLevel
				.classList
				.add('active');
			// Fetch active donor level id
			donorLevelId = targetLevel.dataset.donorlevelId;
			// Check all benefits that contain donor level id in their value
			donorBenefits.forEach((benefit) => {
				// Set benefit to false
				benefit.checked = false;
				// If donor level id is present in checkbox value string, set it to checked
				if (benefit.value.includes(donorLevelId)) {
					benefit.checked = true;
				}
			});
			// Update the red glass button text to the active donor level
			document
				.getElementById('donateButton')
				.innerHTML = targetLevel.dataset.donorlevelName;
		});
	});

	// Donation options by citizenship
	const modal = document.querySelector('#citizen-options');
	const openModal = document.querySelector('.open-modal');
	const closeModal = document.querySelector('.close-button');
	const body = document.querySelector('body');

	// If a browser doesn't support the dialog, then hide the
	// dialog contents by default.
	if (typeof modal.showModal !== 'function') {
		modal.hidden = true;
	}

	openModal.addEventListener('click', () => {
		const allOptions = document.querySelectorAll('.citizen-type');
		allOptions.forEach((option) => {
			// Clear any previous selection of citizen type
			option.checked = false;
		});
		if (typeof modal.showModal !== 'function') {
			modal.hidden = true;
			alert("Please update your browser to the latest version");
		} else {
			modal.showModal();
			// Disable scroll
			body.style.overflow = 'hidden';
		}
	});

	closeModal.addEventListener('click', () => {
		modal.close();
		// Enable scroll
		body.style.overflow = 'auto';
	});

	const allCitizenOptions = document.querySelectorAll('.citizen-type');
	allCitizenOptions.forEach((targetOption) => {
		targetOption.addEventListener('click', () => {
			// Load appropriate donation page based
			// on the citizenship choice made
			switch (targetOption.id) {
				case 'india':
					switch (donorLevelId) {
						case '1':
							location.href = '/becomeyounggiver';
							break;
						case '2':
							location.href = '/becomefan';
							break;
						case '3':
							location.href = '/becomebeliever';
							break;
						case '4':
							location.href = '/becomesupporter';
							break;
						case '5':
							location.href = '/becomechampion';
							break;
						default:
							break;
					}
					break;
				case 'nri':
					switch (donorLevelId) {
						case '1':
							location.href = '/becomeyounggiver';
							break;
						case '2':
							location.href = '/becomefan';
							break;
						case '3':
							location.href = '/becomebeliever';
							break;
						case '4':
							location.href = '/becomesupporter';
							break;
						case '5':
							location.href = '/becomechampion';
							break;
						default:
							break;
					}
					break;
				case 'usa':
					switch (donorLevelId) {
						case '1':
							location.href = '/becomeyounggiver-usa';
							break;
						case '2':
							location.href = '/becomefan-usa';
							break;
						case '3':
							location.href = '/becomebeliever-usa';
							break;
						case '4':
							location.href = '/becomesupporter-usa';
							break;
						case '5':
							location.href = '/becomechampion-usa';
							break;
						default:
							break;
					}
					break;
				case 'othercountry':
					switch (donorLevelId) {
						case '1':
							location.href = '/becomeyounggiver-other';
							break;
						case '2':
							location.href = '/becomefan-other';
							break;
						case '3':
							location.href = '/becomebeliever-other';
							break;
						case '4':
							location.href = '/becomesupporter-other';
							break;
						case '5':
							location.href = '/becomechampion-other';
							break;
						default:
							break;
					}
					break;
				default:
					break;
			}
		});
	});
</script>