---
  layout: "_page.njk"
  title: "Gurukula"
  heroText: "Gurukula"
  heroDesk: "https://res.cloudinary.com/nrityagram/image/upload/v1647152836/02b-masthead-desk_z2k37r.jpg"
  heroTab: "https://res.cloudinary.com/nrityagram/image/upload/v1647152862/ipad/02b-masthead-tab_gwhjdj.jpg"
  heroMob: "https://res.cloudinary.com/nrityagram/image/upload/v1647152893/mobile/02b-masthead-mob_r2vtmn.jpg"
  heroDeskCredit: "M Srinivas Murthy"
  heroTabCredit: "M Srinivas Murthy"
  heroMobCredit: "M Srinivas Murthy"
  carousels: false
---

<div class="content">

  <div class="wrapper ultra-wide inner-page">
    <div class="two-column-grid narrow-wide">
      <div class="pullquote">
        <div class="quote">Learning is a way of life</div>
      </div>
      <div>
        <p>
            Nrityagram is dedicated to creating excellence in Odissi through the traditional method of learning, the <i>Guru-Shishya Parampara</i>, a unique and sacred relationship between mentor and disciple.
          </p>
        <p>
            Our dance pedagogy is inspired by the <i>Gurukula</i>, an ancient Indian residential teaching paradigm where students and teachers live together in an integrated environment of practice, theory and discipline. Learning is a way of life and students have a rare opportunity to imbibe the spirit of the <i>Guru</i> by living with them and observing them at work.
          </p>
        <p>
            Conceived this way, for almost 30 years, Nrityagram imparts not only technique in dance but nurtures a philosophy of being that embraces holistic practice, mindful living and the pursuit of excellence.
          </p>
        <p>
            For over two decades, <a href="/surupa" class="bodylink">Surupa Sen</a> researched and expanded the vocabulary of Odissi dance and developed a style that distinguishes the dancers of the Nrityagram School. Former Director Training and Outreach <a href="/bijayini" class="bodylink">Bijayini Satpathy</a>, developed an expanded, systematic and accessible training programme for Odissi dancers, which is equally valuable for beginners, advanced learners and performers.
          </p>
        <p>
            This unique blend of traditional knowledge with contemporary understanding and application makes Nrityagram the only institution of its kind in the world.
          </p>
        <p>
            With a student strength of over 200, we provide an environment that fosters the artistic, intellectual and personal growth of our dancers and prepares them for successful and productive lives as artists and citizens, as well as to become leaders in their professions.
          </p>
      </div>
    </div>
  </div>

</div>