---
layout: _home.njk
heroSlider: true
carousels: true
fb_feed: true
title: 'Home Version2'
cta_headline: 'Come home to Nrityagram'
cta_bodytext: 'Lorem ipsum dolor sit amet consectetur, adipisicing elit.'
---

<div class="content no-top-padding">
	<!-- <div id="cta-box-mobile">
    <div class="cta-headline">{{ cta_headline }}</div>
    <div class="cta-bodytext">
      {{ cta_bodytext }}
    </div>
    <div class="red-glass-button no-dropshadow">Subscribe</div>
  </div> -->

	<div class="shoutout-w-cards" style="display: flex; flex-direction: column">
		<div class="shoutout-box white-bg">
			<div class="shoutout-content">
				<div>
					<p class="pad-top">
						A village of artistes dedicated to the practice and nurture of a 2000-year-old art form, Nrityagram is home
						to a school inspired by the Gurukula, an ancient teaching paradigm, and an internationally renowned Dance
						Ensemble.
					</p>
					<p class="emphasis">
						Our mission is to nurture dance professionals through the gurukula system, perform on a global stage and
						forge a community through outreach.
					</p>
				</div>
			</div>
		</div>

		<div class="slideup-card__grid">
			<div
				class="slideup-card"
				style="
					background-image: url('https://res.cloudinary.com/nrityagram/image/upload/v1620734207/ensemble-card_emts3o.jpg');
				"
			>
				<div class="slideup-card__content">
					<div class="slideup-card__content__title">Ensemble</div>
					<div class="slideup-card__content__copy">
						Practice,<br />Research,<br />Innovate,<br />Create<br />original work,<br />and perform worldwide
					</div>

					<div class="red-glass-button no-dropshadow card">Brilliance on a Global Stage</div>
				</div>
			</div>

			<div
				class="slideup-card"
				style="
					background-image: url('https://res.cloudinary.com/nrityagram/image/upload/v1620734207/school-card_m5avwv.jpg');
				"
			>
				<div class="slideup-card__content">
					<div class="slideup-card__content__title">School</div>
					<div class="slideup-card__content__copy">
						Blend<br />traditional<br />knowledge with<br />contemporary<br />understanding<br />and application
					</div>
					<div class="red-glass-button no-dropshadow card">Nurturing Excellence</div>
				</div>
			</div>

			<div
				class="slideup-card"
				style="
					background-image: url('https://res.cloudinary.com/nrityagram/image/upload/v1620734640/community-card_bko3br.jpg');
				"
			>
				<div class="slideup-card__content">
					<div class="slideup-card__content__title">Community</div>
					<div class="slideup-card__content__copy">
						Forge<br>a community<br>around the world,<br>through<br>performance and<br>outreach
					</div>
					<div class="red-glass-button no-dropshadow card">Enriching Lives</div>
				</div>
			</div>

			<div
				class="slideup-card"
				style="
					background-image: url('https://res.cloudinary.com/nrityagram/image/upload/v1620734207/rasa-card_tx1ohy.jpg');
				"
			>
				<div class="slideup-card__content">
					<div class="slideup-card__content__title">Rasa</div>
					<div class="slideup-card__content__copy">
						Meld art and<br />technology to<br />create immersive<br />experiences through<br />our Virtual Avatar,<br />Nrityagram Rasa
					</div>
					<div class="red-glass-button no-dropshadow card">Coming Soon</div>
				</div>
			</div>
		</div>
	</div>

	<div class="multi-column-section primary-section space-above">
		<div class="quad-mosaic-grid-fixed">
			<div
				class="grid-item top-left"
				style="
					background-image: url('https://res.cloudinary.com/nrityagram/image/upload/v1628149510/pavi-mosaic_affkup.png');
				"
			>
				<a href="#"> <i class="fas fa-info-circle"></i><span class="hover-label">Pavithra Reddy</span> </a>
			</div>
			<div class="grid-item top-right-gap">&nbsp;</div>
			<div
				class="grid-item top-right"
				style="
					background-image: url('https://res.cloudinary.com/nrityagram/image/upload/v1628149510/surupa-mosaic_hxzdoa.png');
				"
			>
				<a href="#"> <i class="fas fa-info-circle"></i><span class="hover-label">Surupa Sen</span> </a>
			</div>
			<div
				class="grid-item bottom-left"
				style="
					background-image: url('https://res.cloudinary.com/nrityagram/image/upload/v1628149510/lynne-mosaic_hftg4d.png');
				"
			>
				<a href="#"> <i class="fas fa-info-circle"></i><span class="hover-label">Lynne Fernandez</span> </a>
			</div>
			<div
				class="grid-item bottom-right"
				style="
					background-image: url('https://res.cloudinary.com/nrityagram/image/upload/v1628149510/protima-mosaic_wpzhwl.png');
				"
			>
				<a href="#"> <i class="fas fa-info-circle"></i><span class="hover-label">Protima Gauri</span> </a>
			</div>
		</div>
		<div class="v-bottom gap-50">
			<h1 class="full-width">People of<br />Nrityagram</h1>
			<p class="full-width">
				<em
					>"I believe in miracles and though there are moments when dark clouds pass overhead, I am convinced that
					everything Nrityagram needs, will come to it.”</em
				>
				<br />
				<b>Protima Gauri</b>
			</p>
		</div>
	</div>

	<h1 class="headline-space-above">Performances</h1>
	<p>
		The Nrityagram Dance Ensemble has performed at some of the most notable theatres in 25 countries across 5
		continents. <br />
		<a href="#" class="no-decoration"> <span class="red-text">View a map of performances.</span></a>
	</p>

	<div class="flick-carousel--wraparound-autoplay venues full-width is-flkty-hidden">
		<div class="carousel-cell">
			<div class="slide-img">
				<img
					src="https://res.cloudinary.com/nrityagram/image/upload/v1628320980/chowdaiah-logo_cqfgjt.png"
					alt="chowdaiah memorial hall logo"
				/>
			</div>
			<div class="slide-caption">Chowdaiah Memorial Hall<br />Bangalore INDIA</div>
		</div>
		<div class="carousel-cell">
			<div class="slide-img">
				<img
					src="https://res.cloudinary.com/nrityagram/image/upload/v1628320981/ncpa-mumbai-logo_yp1jny.jpg"
					alt="NCPA Mumbai logo"
				/>
			</div>
			<div class="slide-caption">National Centre for Performing Arts<br />Mumbai INDIA</div>
		</div>
		<div class="carousel-cell">
			<div class="slide-img">
				<img
					src="https://res.cloudinary.com/nrityagram/image/upload/v1628320981/esplanade-singapore-logo_jxjijm.jpg"
					alt="Esplanade Theatre Singapore logo"
				/>
			</div>
			<div class="slide-caption">Esplanade Theatre<br />SINGAPORE</div>
		</div>
		<div class="carousel-cell">
			<div class="slide-img">
				<img
					src="https://res.cloudinary.com/nrityagram/image/upload/v1628320981/sydney-opera-house_trflry.jpg"
					alt="Sydney Opera House logo"
				/>
			</div>
			<div class="slide-caption">Sydney Opera House<br />Sydney AUSTRALIA</div>
		</div>
		<div class="carousel-cell">
			<div class="slide-img">
				<img src="https://res.cloudinary.com/nrityagram/image/upload/v1628320981/fringe-logo_nqkgfr.png" alt="" />
			</div>
			<div class="slide-caption">Edinburgh Fringe Festival<br />Edinburgh UK</div>
		</div>
		<div class="carousel-cell">
			<div class="slide-img">
				<img
					src="https://res.cloudinary.com/nrityagram/image/upload/v1628320981/southbank_centre_logo_xnskxa.png"
					alt="Southbank Centre London logo"
				/>
			</div>
			<div class="slide-caption">Southbank Centre<br />London UK</div>
		</div>
		<div class="carousel-cell">
			<div class="slide-img">
				<img
					src="https://res.cloudinary.com/nrityagram/image/upload/v1628320981/playhouse-logo_t1qhak.jpg"
					alt="The Playhouse Company Durban logo"
				/>
			</div>
			<div class="slide-caption">The Playhouse Company<br />Durban SOUTH AFRICA</div>
		</div>
		<div class="carousel-cell">
			<div class="slide-img">
				<img
					src="https://res.cloudinary.com/nrityagram/image/upload/v1628320981/joyce-logo_uxi78l.jpg"
					alt="Joyce Theater logo"
				/>
			</div>
			<div class="slide-caption">Joyce Theater<br />New York NY USA</div>
		</div>
		<div class="carousel-cell">
			<div class="slide-img">
				<img
					src="https://res.cloudinary.com/nrityagram/image/upload/v1628320981/kennedy-center-logo_vuthcf.png"
					alt="Kennedy Center for the Performing Arts logo"
				/>
			</div>
			<div class="slide-caption">Kennedy Center for the Performing Arts<br />Washington DC USA</div>
		</div>
		<div class="carousel-cell">
			<div class="slide-img">
				<img
					src="https://res.cloudinary.com/nrityagram/image/upload/v1628320980/lincoln-center-logo_mv5wvw.png"
					alt="Lincoln Center NYC logo"
				/>
			</div>
			<div class="slide-caption">Lincoln Center's White Light Festival<br />New York NY USA</div>
		</div>
		<div class="carousel-cell">
			<div class="slide-img">
				<img
					src="https://res.cloudinary.com/nrityagram/image/upload/v1628320981/met-logo_sreyrc.png"
					alt="MET Museum logo"
				/>
			</div>
			<div class="slide-caption">Temple of Dendur, MET Museum<br />New York NY USA</div>
		</div>
	</div>

	<h1 class="headline-space-above">Reviews</h1>

	<div class="reviews">
		<div class="airgap"></div>
		<div class="review-sliders--grid-container">
			<div class="review-content--container">
				<div class="review-content--carousel is-flkty-hidden" id="review-content-flkty">
					<div class="carousel-cell">
						<p class="full-width">
							<i>
								“The dancers from Nrityagram stormed the bastion of dance in Chennai, wowing the knowledgeable audience
								into a standing ovation!”
							</i>
						</p>
						<p class="full-width">
							<b>The Hindu</b>
						</p>
					</div>
					<div class="carousel-cell">
						<p class="full-width">
							<i>
								“This was dance that never seemed to stop, even in those curvilinear poses. Should we dare compare it to
								George Balanchine's work with the New York City Ballet, where ballerinas seemed to float while seemingly
								encased in a simple fifth position? Like NYCB, Sen's dancers would erupt into movement that surged
								across the stage with remarkable speed and agility!”
							</i>
						</p>
						<p class="full-width">
							<b>Pittsburgh Post-Gazette</b>
						</p>
					</div>
					<div class="carousel-cell">
						<p class="full-width">
							<i> “The ensemble mesmerized a sold-out audience with its artistry, energy, technique and beauty.” </i>
						</p>
						<p class="full-width">
							<b>Dance Magazine</b>
						</p>
					</div>
					<div class="carousel-cell">
						<p class="full-width">
							<i
								>“Watching Sen’s choreography is like encountering a chef with a perfect palate or a singer with perfect
								pitch. The sense of proportion and balance is immaculate. A line of dancers will shift, stamp and swirl
								in unison and imperceptibly one of them will glide back from the group to pose and watch. Sen has an
								unerring sense of when to keep dancers in formation and when to vary the picture as if she could
								anticipate the audience’s desires. Her use of space is similar. The patterns aren’t complex; they’re
								simply right.”</i
							>
						</p>
						<p class="full-width">
							<b>Danceview Times</b>
						</p>
					</div>
					<div class="carousel-cell">
						<p class="full-width">
							<i
								>“Nrityagram is the best Indian classical company to come to this area in a long time. It’s confident.
								It’s cutting edge. It’s a winner!”</i
							>
						</p>
						<p class="full-width">
							<b>The Washington Post</b>
						</p>
					</div>
					<div class="carousel-cell">
						<p class="full-width">
							<i>“Dazzling Āhuti!”</i>
						</p>
						<p class="full-width">
							<b>Narthaki</b>
						</p>
					</div>
					<div class="carousel-cell">
						<p class="full-width">
							<i
								>“Surupa Sen seems to be literally tearing open the lexicon of the Odissi movement vocabulary, looking
								deeper at the etymology and histories of its movements and stringing together more powerful phrases of
								the dance. But this ability to hold Odissi in her body is at par with her skill at speaking it through
								her face with her finesse in abhinaya.”</i
							>
						</p>
						<p class="full-width">
							<b>news9live.com</b>
						</p>
					</div>
				</div>
				<div class="button-accent is-flkty-hidden bottom-right-anchor" id="view-all-button">View All Reviews</div>
			</div>
			<div class="review-img review-img--carousel is-flkty-hidden" id="review-img-flkty">
				<div class="carousel-cell">
					<img
						src="https://res.cloudinary.com/nrityagram/image/upload/v1642805189/review-slider-pic1_bkvdur.jpg"
						alt="Still image from a performance"
					/>
				</div>
				<div class="carousel-cell">
					<img
						src="https://res.cloudinary.com/nrityagram/image/upload/v1642805191/review-slider-pic2_vkx0gj.jpg"
						alt="Still image from a performance"
					/>
				</div>
				<div class="carousel-cell">
					<img
						src="https://res.cloudinary.com/nrityagram/image/upload/v1642805189/review-slider-pic3_xreyty.jpg"
						alt="Still image from a performance"
					/>
				</div>
				<div class="carousel-cell">
					<img
						src="https://res.cloudinary.com/nrityagram/image/upload/v1642805189/review-slider-pic4_b5zvir.jpg"
						alt="Still image from a performance"
					/>
				</div>
				<div class="carousel-cell">
					<img
						src="https://res.cloudinary.com/nrityagram/image/upload/v1642805189/review-slider-pic5_zfohfs.jpg"
						alt="Still image from a performance"
					/>
				</div>
				<div class="carousel-cell">
					<img
						src="https://res.cloudinary.com/nrityagram/image/upload/v1642805190/review-slider-pic6_dyttws.jpg"
						alt="Still image from a performance"
					/>
				</div>
				<div class="carousel-cell">
					<img
						src="https://res.cloudinary.com/nrityagram/image/upload/v1642805191/review-slider-pic7_f1g3a2.jpg"
						alt="Still image from a performance"
					/>
				</div>
			</div>
			<div class="review-nav-buttons is-flkty-hidden" id="review-nav-buttons">
				<button class="button button--previous">&lsaquo;</button>
				<button class="button button--next">&rsaquo;</button>
				<!-- <button class="button button--previous">{{'/img/left-chevron.svg' | url }}</button> -->
				<!-- <button class="button button--next">{{'/img/right-chevron.svg' | url }}</button> -->
			</div>
		</div>
	</div>

	<div style="background-color: rgb(210, 31, 38); min-width: 100%; padding: 10px 0" class="space-above">
		<h1 class="white-text">Support Us</h1>
		<p class="white-text">
			Help us develop and expand our artistic, educational and community programmes, for people from nearby villages and
			around the world.<br /><br />Fund key initiatives - from training the next generation of performers and teachers, to the
			creation of new works of art, to village outreach.
		</p>

		<div class="slideup-card__grid card-pair">
			<div class="slideup-card card-pair blank"></div>
			<div
				class="slideup-card card-pair"
				style="
					background-image: url('https://res.cloudinary.com/nrityagram/image/upload/v1626111289/join-vardan_card_rcxqoe.jpg');
				"
			>
				<div class="slideup-card__content">
					<div class="slideup-card__content__title">Giving Annually</div>
					<div class="slideup-card__content__copy">
						Join our Annual Giving<br />programme Vardān and<br />participate through a<br />wide range of pledge<br />levels, with wonderful<br />benefits for everyone
					</div>

					<div class="red-glass-button no-dropshadow card">Join Vardān</div>
				</div>
			</div>

			<div
				class="slideup-card card-pair"
				style="
					background-image: url('https://res.cloudinary.com/nrityagram/image/upload/v1626111289/donate_card_a8lurn.jpg');
				"
			>
				<div class="slideup-card__content">
					<div class="slideup-card__content__title">Make a<br />Donation</div>
					<div class="slideup-card__content__copy">
						Your Contribution will<br />enable us to continue<br />to serve you and our<br />community, while<br />supporting our dancers,<br />teachers, and staff
					</div>
					<div class="red-glass-button no-dropshadow card">Donate Now</div>
				</div>
			</div>
			<div class="slideup-card card-pair blank"></div>
		</div>
	</div>

	<h1 class="headline-space-above">Nrityagram Social</h1>

	<div class="multi-row-section primary-section" data-gridgap="30px">
		<div class="multi-column-section solo">
			<div class="multi-row-section" data-gridgap="15px">
				<div class="multi-column-grid" data-columns="1" data-gridgap="15px">
					<div class="card">
						<img src="https://res.cloudinary.com/nrityagram/image/upload/v1628516821/insta-frame1_sslu26.jpg" alt="" />
					</div>
				</div>
				<div class="multi-column-section solo">
					<div class="button-accent white-bg" data-icon>
						<i class="fab fa-instagram"></i>
						<span>Follow us on Instagram</span>
					</div>
				</div>
			</div>
			<!-- TODO: Make FB Page Plugin into a 11ty shortcode -->
			<div class="fb-container gap-2vw">
				<div
					class="fb-page"
					data-href="https://www.facebook.com/nrityagram"
					data-tabs="timeline,events"
					data-width=""
					data-height=""
					data-small-header="false"
					data-adapt-container-width="true"
					data-hide-cover="false"
					data-show-facepile="true"
				>
					<blockquote cite="https://www.facebook.com/nrityagram" class="fb-xfbml-parse-ignore">
						<a href="https://www.facebook.com/nrityagram" class="red-text no-decoration">Nrityagram Facebook Page</a>
					</blockquote>
				</div>
			</div>
		</div>
		{% youtube 'qJO9sDmxNEU' %}
		<div class="multi-column-section solo">
			<div class="button-accent white-bg" data-icon>
				<i class="fab fa-youtube"></i>
				<span>Subscribe on Youtube</span>
			</div>
		</div>
	</div>
</div>
