---
layout: _home.njk
heroSlider: true
carousels: false
title: Home
cta_headline: "Lorem ipsum dolor"
cta_bodytext: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam earum
ipsa accusamus quis eius itaque."
---

<div class="content">
  <div id="cta-box-mobile">
    <div class="cta-headline">{{ cta_headline }}</div>
    <div class="cta-bodytext">
      {{ cta_bodytext }}
    </div>
    <div class="red-glass-button no-dropshadow">Subscribe</div>
  </div>

  <p class="pad-top">
    A village of dancers (artistes) dedicated to the practice and nurture of a
    2000-year-old art form, Nrityagram is home to a school inspired by the
    Gurukula, an ancient teaching paradigm, and an internationally renowned
    Dance Ensemble.
    <br />
    Our mission is
    <em>
      To nurture dance professionals through the gurukula system, perform on a
      global stage and enrich the community through outreach.
    </em>
  </p>

  <p></p>
  {{ content | safe }}
</div>
