---
layout: _home.njk
heroSlider: false
carousels: false
title: Home
cta_headline: "Lorem ipsum dolor"
cta_bodytext: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam earum
ipsa accusamus quis eius itaque."
---

<div class="content">
  <div id="cta-box-mobile">
    <div class="cta-headline">{{ cta_headline }}</div>
    <div class="cta-bodytext">
      {{ cta_bodytext }}
    </div>
    <div class="red-glass-button no-dropshadow">Subscribe</div>
  </div>

  <p class="pad-top">
    A village of artistes dedicated to the practice and nurture of a
    2000-year-old art form, Nrityagram is home to a school inspired by the
    Gurukula, an ancient teaching paradigm, and an internationally renowned
    Dance Ensemble.
  </p>
  <p>
    Our mission is
    <em>
      to nurture dance professionals through the gurukula system, perform on a
      global stage and forge / create a community through outreach.
    </em>
  </p>

  <div class="flip-card-grid">
    <div class="flip-card-container">
      <div class="flip-card">
        <div
          class="card-front"
          style="
            background-image: url('https://res.cloudinary.com/nrityagram/image/upload/v1620734207/ensemble-card_emts3o.jpg');
          "
        >
          <div class="card-title">Ensemble</div>
        </div>
        <div class="card-back">
          <div class="card-title">Ensemble</div>
          <div class="card-content">
            Create original work and perform to worldwide acclaim <span style="font-size: 12px;">&#9679</span> Set the
            highest standards of presentation and performance <span style="font-size: 12px;">&#9679</span> Twelve evening-length shows made over two decades <span style="font-size: 12px;">&#9679</span> Over 250 sold-out
            performances in 25 countries across 5 continents
          </div>
          <div class="card-tagline">Brilliance on a Global Stage</div>
        </div>
      </div>
    </div>

    <div class="flip-card-container">
      <div class="flip-card">
        <div
          class="card-front"
          style="
            background-image: url('https://res.cloudinary.com/nrityagram/image/upload/v1620734207/school-card_m5avwv.jpg');
          "
        >
          <div class="card-title">School</div>
        </div>
        <div class="card-back">
          <div class="card-title">School</div>
          <div class="card-content">
            Teach dance through the ancient Gurukula system <span style="font-size: 12px;">&#9679</span> Residential open
            school with a village and city outreach program <span style="font-size: 12px;">&#9679</span> Over 100 students a
            year for 25 years enrolled in residential and non-residential
            courses for professional dancers and enthusiasts <span style="font-size: 12px;">&#9679</span> Globally
            celebrated alumni
          </div>
          <div class="card-tagline">Nurturing Excellence</div>
        </div>
      </div>
    </div>

    <div class="flip-card-container">
      <div class="flip-card">
        <div
          class="card-front"
          style="
            background-image: url('https://res.cloudinary.com/nrityagram/image/upload/v1620734640/community-card_bko3br.jpg');
          "
        >
          <div class="card-title">Community</div>
        </div>
        <div class="card-back">
          <div class="card-title">Community</div>
          <div class="card-content">
            Forge /Create a community through performance and outreach, in India
            and around the world <span style="font-size: 12px;">&#9679</span> Promote awareness through lectures, workshops
            and events <span style="font-size: 12px;">&#9679</span> Over 500,000 reached through activities at Nrityagram
            and in communities, schools and universities
          </div>
          <div class="card-tagline">Enriching Lives</div>
        </div>
      </div>
    </div>

    <div class="flip-card-container">
      <div class="flip-card">
        <div
          class="card-front"
          style="
            background-image: url('https://res.cloudinary.com/nrityagram/image/upload/v1620734207/rasa-card_tx1ohy.jpg');
          "
        >
          <div class="card-title">Rasa</div>
        </div>
        <div class="card-back">
          <div class="card-title">Rasa</div>
          <div class="card-content">
            Experience a new reality<br />
            Where history moves into the future<br />
            <br />
            Nrityagram Rasa<br />
            The experience from within
          </div>
          <div class="card-tagline">Coming Soon</div>
        </div>
      </div>
    </div>
  </div>
</div>
