---
layout: _home.njk
heroSlider: true
carousels: false
title: Home
cta_headline: "Lorem ipsum dolor"
cta_bodytext: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam earum
ipsa accusamus quis eius itaque."
---

<div class="content">
  <div id="cta-box-mobile">
    <div class="cta-headline">{{ cta_headline }}</div>
    <div class="cta-bodytext">
      {{ cta_bodytext }}
    </div>
    <div class="red-glass-button no-dropshadow">Subscribe</div>
  </div>

  <p class="pad-top">
    A village of dancers (artistes) dedicated to the practice and nurture of a
    2000-year-old art form, Nrityagram is home to a school inspired by the
    Gurukula, an ancient teaching paradigm, and an internationally renowned
    Dance Ensemble.
  </p>
  <p>
    Our mission is
    <em>
      To nurture dance professionals through the gurukula system, perform on a
      global stage and enrich the community through outreach.
    </em>
  </p>

  <div class="hover-card-container">
    <div
      class="hover-card"
      style="
        background-image: url('https://res.cloudinary.com/nrityagram/image/upload/v1620734207/ensemble-card_emts3o.jpg');
      "
    >
      <div class="content">
        <h2 class="title">ENSEMBLE</h2>
        <a href="/ensemble">
          <p class="copy">
            Create original work and perform to worldwide acclaim. Set the
            highest standards of presentation and performance.
            <br />
            Twelve evening-length shows made over two decades.
            <br />
            Over 250 sold-out performances in 25 countries across 5 continents.
            <br />
            <div class="highlight">Brilliance on a Global Stage</div>
          </p>
        </a>
      </div>
    </div>

    <div
      class="hover-card"
      style="
        background-image: url('https://res.cloudinary.com/nrityagram/image/upload/v1620734207/school-card_m5avwv.jpg');
      "
    >
      <div class="content">
        <h2 class="title">SCHOOL</h2>
        <a href="/school">
          <p class="copy">
            Teach dance through the ancient Gurukula system.
            <br />
            Residential open school with a village and city outreach program.
            <br />
            Over 200 students a year for 25 years enrolled in residential and
            non-residential courses for professional dancers and enthusiasts.
            <br />
            Globally celebrated alumni.
            <br />
            <div class="highlight">Nurturing Excellence</div>
          </p>
        </a>
      </div>
    </div>

    <div
      class="hover-card"
      style="
        background-image: url('https://res.cloudinary.com/nrityagram/image/upload/v1620734640/community-card_bko3br.jpg');
      "
    >
      <div class="content">
        <h2 class="title">COMMUNITY</h2>
        <a href="/community">
          <p class="copy">
            Build a community through performance and outreach, in India and
            around the world.
            <br />
            Promote awareness through lectures, workshops and events.
            <br />
            Over 500,000 reached through activities at Nrityagram and in
            communities, schools and universities.
            <br />
            <div class="highlight">Enriching Lives</div>
          </p>
        </a>
      </div>
    </div>

    <div
      class="hover-card"
      style="
        background-image: url('https://res.cloudinary.com/nrityagram/image/upload/v1620734207/rasa-card_tx1ohy.jpg');
      "
    >
      <div class="content">
        <h2 class="title">Rasā</h2>
        <a href="/rasa">
          <p class="copy">
            Experience a new reality
            <br />
            Where history moves into the future.
            <br />
            <br />
            Nrityagram Rasa
            <br />
            The experience from within
            <br />
            <div class="highlight">Coming Soon</div>
          </p>
        </a>
      </div>
    </div>
  </div>
  <div class="hover-card-container wide">
    <div
      class="hover-card"
      style="
        background-image: url('https://res.cloudinary.com/nrityagram/image/upload/v1620734958/support-card_dujekm.jpg');
      "
    >
      <div class="content">
        <h2 class="title">SUPPORT</h2>
        <a href="/support">
          <p class="copy">
            Fund key initiatives from village outreach, to training the next
            generation of performers and teachers, to the creation of new works
            of art.
            <br />
            Help us develop and expand our artistic, educational and community
            programmes, for people from nearby villages and around the world.
            <br />
            <div class="highlight">Make a Donation Today!</div>
          </p>
        </a>
      </div>
    </div>
  </div>
</div>
