---
  layout: "_page.njk"
  title: "Life at Nrityagram"
  heroType: "image"
  heroText: "Life at"
  heroText2: "Nrityagram"
  heroDesk: "https://res.cloudinary.com/nrityagram/image/upload/v1588612792/life-at-nrityagram_bid8w5.jpg"
  heroTab: "https://res.cloudinary.com/nrityagram/image/upload/v1589079635/ipad/life-at-nrityagram_d3atdx.jpg"
  heroMob: "https://res.cloudinary.com/nrityagram/image/upload/v1588613128/mobile/life-at-nrityagram-mob_d7vc49.jpg"
  heroDeskCredit: "Pavan Kumar"
  heroTabCredit: "Pavan Kumar"
  heroMobCredit: "Pavan Kumar"
  carousels: false
  lightgallery: true
---

<div class="content">
	<div class="wrapper ultra-wide inner-page">
		<div id="caption1" style="display: none;">Aikido Workshop</div>
		<div id="lightgallery">
			<a
              href="https://res.cloudinary.com/nrityagram/image/upload/v1588851135/media-images/life-at-ng/AIKIDO-WORKSHOP-6_r4qjdp.jpg" data-sub-html="#caption1"       
            >
				<img
                src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588851135/media-images/life-at-ng/AIKIDO-WORKSHOP-6_r4qjdp.jpg"
                alt=""
/>
			</a>

			<a
              href="https://res.cloudinary.com/nrityagram/image/upload/v1588851135/media-images/life-at-ng/CASUAL-10_hi7xkx.jpg"
            >
				<img
                src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588851135/media-images/life-at-ng/CASUAL-10_hi7xkx.jpg"
                alt=""
/>
			</a>

			<a
              href="https://res.cloudinary.com/nrityagram/image/upload/v1588851135/media-images/life-at-ng/PGB-Dancing-at-the-Yoga-Center_zfrm93.jpg"
            >
				<img
                src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588851135/media-images/life-at-ng/PGB-Dancing-at-the-Yoga-Center_zfrm93.jpg"
                alt=""
/>
			</a>

			<a
              href="https://res.cloudinary.com/nrityagram/image/upload/v1588851119/media-images/life-at-ng/CASUAL-17_rgtibc.jpg" 
            >
				<img
                src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588851119/media-images/life-at-ng/CASUAL-17_rgtibc.jpg"
                alt=""
/>
			</a>

			<a
              href="https://res.cloudinary.com/nrityagram/image/upload/v1588851078/media-images/life-at-ng/GURU-TRINATH-MAHAJAN-3_xdtber.jpg"
            >
				<img
                src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588851078/media-images/life-at-ng/GURU-TRINATH-MAHAJAN-3_xdtber.jpg"
                alt=""
/>
			</a>

			<a
              href="https://res.cloudinary.com/nrityagram/image/upload/v1588851062/media-images/life-at-ng/CLASSES-1_wgpe09.jpg"
            >
				<img
                src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588851062/media-images/life-at-ng/CLASSES-1_wgpe09.jpg"
                alt=""
/>
			</a>

			<a
              href="https://res.cloudinary.com/nrityagram/image/upload/v1588851062/media-images/life-at-ng/MARC-MORRIS-8_xzvdmr.jpg" 
            >
				<img
                src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588851062/media-images/life-at-ng/MARC-MORRIS-8_xzvdmr.jpg"
                alt=""
/>
			</a>

			<a
              href="https://res.cloudinary.com/nrityagram/image/upload/v1588851047/media-images/life-at-ng/PGB-with-Village-Kids_igmdeb.jpg"
            >
				<img
                src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588851047/media-images/life-at-ng/PGB-with-Village-Kids_igmdeb.jpg"
                alt=""
/>
			</a>

			<a
              href="https://res.cloudinary.com/nrityagram/image/upload/v1588851078/media-images/life-at-ng/WORKSHOPS-27_fxr4is.jpg" 
            >
				<img
                src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588851078/media-images/life-at-ng/WORKSHOPS-27_fxr4is.jpg"
                alt=""
/>
			</a>

			<a
              href="https://res.cloudinary.com/nrityagram/image/upload/v1588851000/media-images/life-at-ng/Picture_0721_ltqm7c.jpg"
            >
				<img
                src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588851000/media-images/life-at-ng/Picture_0721_ltqm7c.jpg"
                alt=""
/>
			</a>

			<a
              href="https://res.cloudinary.com/nrityagram/image/upload/v1588851031/media-images/life-at-ng/IMG_2411_qbo75t.jpg"
            >
				<img
                src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588851031/media-images/life-at-ng/IMG_2411_qbo75t.jpg"
                alt=""
/>
			</a>

			<a
              href="https://res.cloudinary.com/nrityagram/image/upload/v1588851031/media-images/life-at-ng/IMG_2397-2_sedfrr.jpg" 
            >
				<img
                src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588851031/media-images/life-at-ng/IMG_2397-2_sedfrr.jpg"
                alt=""
/>
			</a>

			<a
              href="https://res.cloudinary.com/nrityagram/image/upload/v1588851062/media-images/life-at-ng/DSCN2764_ltkxqc.jpg"
            >
				<img
                src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588851062/media-images/life-at-ng/DSCN2764_ltkxqc.jpg"
                alt=""
/>
			</a>

			<a
              href="https://res.cloudinary.com/nrityagram/image/upload/v1588851062/media-images/life-at-ng/DSCN3539_nskxsc.jpg" 
            >
				<img
                src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588851062/media-images/life-at-ng/DSCN3539_nskxsc.jpg"
                alt=""
/>
			</a>

			<a
              href="https://res.cloudinary.com/nrityagram/image/upload/v1588851078/media-images/life-at-ng/PERFORMANCES-9_sjtun5.jpg" 
            >
				<img
                src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588851078/media-images/life-at-ng/PERFORMANCES-9_sjtun5.jpg"
                alt=""
/>
			</a>

			<a
              href="https://res.cloudinary.com/nrityagram/image/upload/v1588851000/media-images/life-at-ng/DSCN2308_jimhdk.jpg"              
            >
				<img
                src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588851000/media-images/life-at-ng/DSCN2308_jimhdk.jpg"
                alt=""
/>
			</a>

			<a
              href="https://res.cloudinary.com/nrityagram/image/upload/v1588851000/media-images/life-at-ng/KAR_0118_jsvewo.jpg"
            >
				<img
                src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588851000/media-images/life-at-ng/KAR_0118_jsvewo.jpg"
                alt=""
/>
			</a>

			<a
              href="https://res.cloudinary.com/nrityagram/image/upload/v1588851032/media-images/life-at-ng/nrytiagram_1-77_qk3d6x.jpg"
            >
				<img
                src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588851032/media-images/life-at-ng/nrytiagram_1-77_qk3d6x.jpg"
                alt=""
/>
			</a>

			<a
              href="https://res.cloudinary.com/nrityagram/image/upload/v1588851047/media-images/life-at-ng/BS-LF-SS_ryk7mu.jpg"
            >
				<img
                src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588851047/media-images/life-at-ng/BS-LF-SS_ryk7mu.jpg"
                alt=""
/>
			</a>

			<a
              href="https://res.cloudinary.com/nrityagram/image/upload/v1588851119/media-images/life-at-ng/2015-03-06-11.24.31_wtlmnu.jpg"
            >
				<img
                src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588851119/media-images/life-at-ng/2015-03-06-11.24.31_wtlmnu.jpg"
                alt=""
/>
			</a>

			<a
              href="https://res.cloudinary.com/nrityagram/image/upload/v1588851017/media-images/life-at-ng/IMGP9499_kqp6eo.jpg"
            >
				<img
                src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588851017/media-images/life-at-ng/IMGP9499_kqp6eo.jpg"
                alt=""
/>
			</a>

			<a
              href="https://res.cloudinary.com/nrityagram/image/upload/v1588851118/media-images/life-at-ng/IMG_1912_ji1oc4.jpg"
            >
				<img
                src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588851118/media-images/life-at-ng/IMG_1912_ji1oc4.jpg"
                alt=""
/>
			</a>

			<a
              href="https://res.cloudinary.com/nrityagram/image/upload/v1588851097/media-images/life-at-ng/IMG_1007_iw2hbo.jpg"              
            >
				<img
                src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588851097/media-images/life-at-ng/IMG_1007_iw2hbo.jpg"
                alt=""
/>
			</a>

			<a
              href="https://res.cloudinary.com/nrityagram/image/upload/v1588851119/media-images/life-at-ng/2013-06-23-12.39.29_pyzqx2.jpg"
            >
				<img
                src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588851119/media-images/life-at-ng/2013-06-23-12.39.29_pyzqx2.jpg"
                alt=""
/>
			</a>

			<a
              href="https://res.cloudinary.com/nrityagram/image/upload/v1588851135/media-images/life-at-ng/poses_gfelxs.jpg"
            >
				<img
                src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588851135/media-images/life-at-ng/poses_gfelxs.jpg"
                alt=""
/>
			</a>

			<a
              href="https://res.cloudinary.com/nrityagram/image/upload/v1588851047/media-images/life-at-ng/DSC00924_rthkpq.jpg"
            >
				<img
                src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588851047/media-images/life-at-ng/DSC00924_rthkpq.jpg"
                alt=""
/>
			</a>

			<a
              href="https://res.cloudinary.com/nrityagram/image/upload/v1588851017/media-images/life-at-ng/IMGP6673_i1by6b.jpg"
            >
				<img
                src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1588851017/media-images/life-at-ng/IMGP6673_i1by6b.jpg"
                alt=""
/>
			</a>
		</div>
	</div>
</div>