---
  layout: "_page.njk"
  title: "Lynne Fernandez"
  heroText: "Lynne"
  heroText2: "Fernandez"
  heroDesk: "https://res.cloudinary.com/nrityagram/image/upload/v1569697662/lynne_fovtag.jpg"
  heroTab: "https://res.cloudinary.com/nrityagram/image/upload/v1589036580/ipad/Lynne-Fernandez_dwjljz.jpg"
  heroMob: "https://res.cloudinary.com/nrityagram/image/upload/v1576167448/mobile/Lynne-Fernandez_pkfpsz.jpg"
  heroDeskCredit: "Surupa Sen & Dasha Larina"
  heroTabCredit: "Dasha Larina"
  heroMobCredit: "Dasha Larina"
  carousels: false
---

<div class="content">

  <div class="wrapper ultra-wide inner-page">
    <div class="two-column-grid narrow-wide">
      <div class="pullquote">
        <div class="quote">Light is fundamental<br/>to life itself</div>
      </div>
      <div>
        <p>
            Had Lynne Fernandez lived in the 15th Century, she would have been
            deemed a Renaissance woman – her insatiable curiosity of the world
            and its deepest mysteries led her to explore sciences and the arts,
            and the blurry lines that criss-crossed them.
          </p>
        <p>
            Long before mental health became a topic for drawing room
            conversation, she trained to be a psychologist, and worked with
            severely disturbed young adults for several years. Her work in
            psychology and counselling led her to split open the artificial
            binary of body and mind, and brought her to art and theatre.
          </p>
        <p>
            She worked as an actor and technician with several notable theatre
            directors including her Guru Barry John, Joy Michael, Ranjit Kapoor and
            <a href="/board/#lillete" class="bodylink">Lillete Dubey</a>. Her work in theatre has been presented at the
            Edinburgh Festival Fringe, the West End and off-Broadway, in
            addition to Malaysia, Singapore, Sri Lanka and across India. That is when she became captivated by light.
          </p>
        <p>
            “I spent many hours playing with a flashlight, trying to figure out how beams work and what can be done with shadows. And once I lit my first performance, I knew this was it. I had found my true calling,” she said, recollecting how wielding light became her lifelong pursuit. The mysteries of light dappled across both science and magic. “Light is fundamental to life itself – can we see without light? It’s a mystery - is it a wave or a particle? It’s magic!”
          </p>
        <p>
            After collaborating with Nrityagram, with its then newly founded Ensemble, she was appointed Managing Trustee of the Odissi Dance Centre Trust and Executive Director of the Nrityagram School and Ensemble in 1997, and her responsibilities included administration, fund-raising and project development.
          </p>
        <p>
            As the administrator of Nrityagram, Lynne brought her fearless curiosity to every facet of
            arts administration and her work continues to set new benchmarks.
            She helmed the emergence of the Nrityagram Ensemble onto the
            international arena, something which no other Indian classical dance
            company had achieved. Her projects include Kula, a residence where
            arts practitioners can live and create new work, a Performing
            Arts Centre comprising a theatre, exhibition space and rehearsal
            studios, and more recently, Food Foresting.
          </p>
        <p>
            She continues to pursue her love for light, and as Lighting Director
            of Nrityagram, Lynne has lit the Ensemble on stages across India
            (from NCPA, Mumbai to Konarak, Orissa, Music Academy, Chennai to the
            Purana Qila, Delhi) and the globe, including The Joyce Theatre, New
            York, Sydney Opera House, Royal Festival Hall, London, The
            Esplanade, Singapore, and others. 
          </p>
        <p>
            In other words, lighting is to a performance what art administration is to the art itself, and Lynne
            is to Nrityagram, integral at the same time unobtrusive.
          </p>
      </div>
    </div>
  </div>

</div>