---
layout: _page.njk
title: "Make a Donation"
heroType: "none"
parentMenuItem: "Support"
---

<div class="content">
  <div class="wrapper narrow inner-page text-less-top-pad">
    <p class="emphasis">Return to <a href="/donate" class="bodylink">Donate</a>
    </p>
    <div class="img-plus">
      <picture>
        <source media="(min-width: 800px)" srcset="https://res.cloudinary.com/nrityagram/image/upload/v1608802587/donate_paypal_desk_asqpyn.jpg"/>
        <img src="https://res.cloudinary.com/nrityagram/image/upload/v1608799396/mobile/donate_paypal_mob_vkecwb.jpg" alt="Pavithra reddy">
      </picture>
      <div class="img-credit">Photo: Guillermo Consejo</div>
    </div>

    <p class="less-top-margin">
      You will donate via our fiscal sponsor <a href="https://www.pentacle.org" target="_blank" class="bodylink">
        <em>Dance Works, Inc.</em> DBA <em>Pentacle</em>
      </a>.
    </p>
    <p>
      Pentacle (Dance Works Inc.) is a 501(c)(3) not-for-profit organization EIN # 23-7426261.
      <br/>
      Your contribution is <strong>tax-deductible</strong> to the fullest extent allowed by law.   
    </p>
    <p>
       Once you are done, click on return to Dance Works, Inc. DBA Pentacle; you will return to our website.
    </p>
    <p>
      <form
      action="https://www.paypal.com/cgi-bin/webscr"
      method="post"
      target="_top" class="force-center"
    >
        <input type="hidden" name="cmd" value="_s-xclick"/>
        <input type="hidden" name="hosted_button_id" value="TS968LYRJTVUC"/>
        <input
        type="image"
        src="https://res.cloudinary.com/nrityagram/image/upload/v1648735448/ng-donate-now-paypal_yha9yy.png"
        border="0"
        name="submit"
        alt="PayPal – The safer, easier way to pay online!"
/>
        <img
        alt=""
        border="0"
        src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif"
        width="1"
        height="1"
/>
      </form>
    </p>
  </div>
</div>