---
  layout: "_page.njk"
  title: "Repertoire"
  heroText: "Repertoire"
  heroDesk: "https://res.cloudinary.com/nrityagram/image/upload/v1569697663/repertory_xcac1z.jpg"
  heroTab: "https://res.cloudinary.com/nrityagram/image/upload/v1589038701/ipad/repertory_tv5x3r.jpg"
  heroMob: "https://res.cloudinary.com/nrityagram/image/upload/v1576166583/mobile/repertory_igyac9.jpg"
  heroDeskCredit: "Uma Dhanwatey"
  heroTabCredit: "Uma Dhanwatey"
  heroMobCredit: "Uma Dhanwatey"
  slider: true
  carousels: false
---

<div class="content">
	<div class="wrapper medium inner-page" data-nopad="bottom">
		<p class="center">
			Since 2000, Nrityagram’s repertoire has been choreographed by Artistic Director
			<a href="/surupa" class="bodylink">Surupa Sen</a>
		</p>
	</div>

	<div id="sri"></div>
	<div class="wrapper medium inner-page less-top-pad">
		<div class="full-bleed no-top-pad">
			<div class="owl-carousel owl-theme">
				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1595101534/1_sri_cl7yxn.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1595101534/1_sri_cl7yxn.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1595101534/1_sri_cl7yxn.jpg"
							alt="Śrī: In Search of the Goddess - Performance Photo"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Sonia Manchanda</div>
				</div>

        <div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1595101533/2_sri_zxicgb.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1595101533/2_sri_zxicgb.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1595101533/2_sri_zxicgb.jpg"
							alt="Śrī: In Search of the Goddess - Performance Photo"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Nan Melville</div>
				</div>

        <div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1595101533/3_sri_dej6lh.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1595101533/3_sri_dej6lh.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1595101533/3_sri_dej6lh.jpg"
							alt="Śrī: In Search of the Goddess - Performance Photo"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Nan Melville</div>
				</div>

        <div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1595101533/4_sri_x86bym.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1595101533/4_sri_x86bym.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1595101533/4_sri_x86bym.jpg"
							alt="Śrī: In Search of the Goddess - Performance Photo"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Nan Melville</div>
				</div>

        <div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1595101533/5_sri_vuc5ki.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1595101533/5_sri_vuc5ki.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1595101533/5_sri_vuc5ki.jpg"
							alt="Śrī: In Search of the Goddess - Performance Photo"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Nan Melville</div>
				</div>

        <div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1595101533/6_sri_sfb0gr.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1595101533/6_sri_sfb0gr.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1595101533/6_sri_sfb0gr.jpg"
							alt="Śrī: In Search of the Goddess - Performance Photo"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Nan Melville</div>
				</div>

        <div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1595101549/7_sri_ioks0j.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1595101549/7_sri_ioks0j.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1595101549/7_sri_ioks0j.jpg"
							alt="Śrī: In Search of the Goddess - Performance Photo"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Nan Melville</div>
				</div>

        <div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1595101549/8_sri_rm7rj2.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1595101549/8_sri_rm7rj2.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1595101549/8_sri_rm7rj2.jpg"
							alt="Śrī: In Search of the Goddess - Performance Photo"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Nan Melville</div>
				</div>

        <div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1595101549/9_sri_cawsur.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1595101549/9_sri_cawsur.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1595101549/9_sri_cawsur.jpg"
							alt="Śrī: In Search of the Goddess - Performance Photo"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Nan Melville</div>
				</div>

        <div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1595101549/10_sri_swgytf.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1595101549/10_sri_swgytf.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1595101549/10_sri_swgytf.jpg"
							alt="Śrī: In Search of the Goddess - Performance Photo"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Nan Melville</div>
				</div>

        <div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1595101549/11_sri_z0bamo.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1595101549/11_sri_z0bamo.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1595101549/11_sri_z0bamo.jpg"
							alt="Śrī: In Search of the Goddess - Performance Photo"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Nan Melville</div>
				</div>

        <div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1595101549/12_sri_eoz5gq.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1595101549/12_sri_eoz5gq.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1595101549/12_sri_eoz5gq.jpg"
							alt="Śrī: In Search of the Goddess - Performance Photo"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Nan Melville</div>
				</div>

        <div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1595101549/12_sri_eoz5gq.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1595101549/12_sri_eoz5gq.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1595101549/12_sri_eoz5gq.jpg"
							alt="Śrī: In Search of the Goddess - Performance Photo"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Nan Melville</div>
				</div>

        <div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1595101576/13_sri_dbjsqg.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1595101576/13_sri_dbjsqg.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1595101576/13_sri_dbjsqg.jpg"
							alt="Śrī: In Search of the Goddess - Performance Photo"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Nan Melville</div>
				</div>

        <div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1595101576/14_sri_atvdmk.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1595101576/14_sri_atvdmk.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1595101576/14_sri_atvdmk.jpg"
							alt="Śrī: In Search of the Goddess - Performance Photo"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Nan Melville</div>
				</div>

        <div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1595101576/15_sri_u6bldc.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1595101576/15_sri_u6bldc.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1595101576/15_sri_u6bldc.jpg"
							alt="Śrī: In Search of the Goddess - Performance Photo"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Nan Melville</div>
				</div>

        <div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1595101576/16_sri_bkrxih.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1595101576/16_sri_bkrxih.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1595101576/16_sri_bkrxih.jpg"
							alt="Śrī: In Search of the Goddess - Performance Photo"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Nan Melville</div>
				</div>

        <div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1595101576/17_sri_vs9bmo.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1595101576/17_sri_vs9bmo.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1595101576/17_sri_vs9bmo.jpg"
							alt="Śrī: In Search of the Goddess - Performance Photo"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Nan Melville</div>
				</div>
			</div>
		</div>
		<h1 class="center medium-font">Śrī: In Search of the Goddess | 2001</h1>
		<p>Śrī embodies the divine female principle. In a single syllable, myriad facets of a woman are ensconced.</p>
		<p>
			The performance explores female energy within the framework of Odissi. It is conceived as a search for the Goddess
			within, which carries us beyond mythological images and definitions, towards a consciousness that this world
			driven by the mind, rationality and power, needs in order to reach fulfilment.
		</p>
		<p class="grey-text">
			Śrī: In Search of the Goddess was made possible by the Doris Duke Fund for Dance of the National Dance Project, a
			program administered by the New England Foundation for the Arts, with funding from the National Endowment for the
			Arts, the Doris Duke Charitable Foundation, the Andrew W. Mellon Foundation and Philip Morris Companies, Inc.
		</p>
	</div>

	<div id="ansh"></div>
	<div class="wrapper medium inner-page salmon">
		<div class="full-bleed no-top-pad">
			<div class="owl-carousel owl-theme">
				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1595098981/1_Ansh_h2mb6w.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1595098981/1_Ansh_h2mb6w.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1595098981/1_Ansh_h2mb6w.jpg"
							alt="Ansh - Performance Photo"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Nan Melville</div>
				</div>

        <div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1595098981/2_Ansh_wuqhqx.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1595098981/2_Ansh_wuqhqx.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1595098981/2_Ansh_wuqhqx.jpg"
							alt="Ansh - Performance Photo"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Nan Melville</div>
				</div>

        <div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1595098981/3_Ansh_nbttbu.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1595098981/3_Ansh_nbttbu.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1595098981/3_Ansh_nbttbu.jpg"
							alt="Ansh - Performance Photo"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Nan Melville</div>
				</div>
			</div>
		</div>
		<h1 class="center medium-font">Ansh | 2005</h1>
		<p>
			The genesis of Ansh stems from a re-conception of a typical Odissi recital, which normally progresses from
			mangalacharan through pallavi and traditional abhinaya, to moksh. Ansh traces the arc of a sacred transfiguration,
			from stage to temple, and from woman to goddess.
		</p>
		<p>Ansh was Nrityagram’s first appearance at the Joyce Theater, New York.</p>
	</div>

	<div id="sspace"></div>
	<div class="wrapper medium inner-page">
		<div class="full-bleed no-top-pad">
			<div class="owl-carousel owl-theme">
				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580738672/danceprof_1_elw180.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738672/danceprof_1_elw180.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738672/danceprof_1_elw180.jpg"
							alt="dance professionals 1"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580738671/danceprof_2_lq2g0m.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738671/danceprof_2_lq2g0m.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738671/danceprof_2_lq2g0m.jpg"
							alt="dance professionals 2"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580738672/danceprof_3_xbqybo.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738672/danceprof_3_xbqybo.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738672/danceprof_3_xbqybo.jpg"
							alt="dance professionals 3"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580738672/danceprof_4_bk6dgu.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738672/danceprof_4_bk6dgu.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738672/danceprof_4_bk6dgu.jpg"
							alt="dance professionals 4"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580738672/danceprof_5_zt0jjd.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738672/danceprof_5_zt0jjd.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738672/danceprof_5_zt0jjd.jpg"
							alt="dance professionals 5"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580738672/danceprof_6_ouk3xr.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738672/danceprof_6_ouk3xr.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738672/danceprof_6_ouk3xr.jpg"
							alt="dance professionals 6"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>
			</div>
		</div>
		<h1 class="center medium-font">Sacred Space | 2005</h1>
		<p>
			In Indian thought, a network of power lines traverse and divide cosmic space, charging the universe with the
			energy of the Godhead. Temples were built and rituals devised, to capture and reflect this energy, generating
			power-fields within. If an energy grid can be created in temples, can Odissi dance - originally a temple ritual -
			be based on the same principles? Is it possible that the dance can be constructed to reflect and create energy in
			much the same way as other temple rituals? Can Odissi become a journey to a higher source? The exploration of
			these questions led to the creation of Sacred Space.
		</p>
		<p>
			Sacred Space was Nrityagram’s debut appearance at Spoleto Festival, USA, Jacob’s Pillow Dance Festival, amongst
			others.
		</p>
		<p class="grey-text">
			Sacred Space was made possible by the Doris Duke Fund for Dance of the National Dance Project, a program
			administered by the New England Foundation for the Arts with funding from the National Endowment for the Arts, the
			Doris Duke Charitable Foundation and the Ford Foundation.
		</p>
	</div>

	<div id="pratima"></div>
	<div class="wrapper medium inner-page salmon">
		<div class="full-bleed no-top-pad">
			<div class="owl-carousel owl-theme">
				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580738672/danceprof_1_elw180.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738672/danceprof_1_elw180.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738672/danceprof_1_elw180.jpg"
							alt="dance professionals 1"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580738671/danceprof_2_lq2g0m.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738671/danceprof_2_lq2g0m.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738671/danceprof_2_lq2g0m.jpg"
							alt="dance professionals 2"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580738672/danceprof_3_xbqybo.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738672/danceprof_3_xbqybo.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738672/danceprof_3_xbqybo.jpg"
							alt="dance professionals 3"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580738672/danceprof_4_bk6dgu.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738672/danceprof_4_bk6dgu.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738672/danceprof_4_bk6dgu.jpg"
							alt="dance professionals 4"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580738672/danceprof_5_zt0jjd.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738672/danceprof_5_zt0jjd.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738672/danceprof_5_zt0jjd.jpg"
							alt="dance professionals 5"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580738672/danceprof_6_ouk3xr.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738672/danceprof_6_ouk3xr.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738672/danceprof_6_ouk3xr.jpg"
							alt="dance professionals 6"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>
			</div>
		</div>
		<h1 class="center medium-font">Pratimā: Reflection | 2008</h1>
		<p>
			Images of the dance and the dancer. Never separate, one enhancing the other. The reflections unite, multiply,
			gently embellish themselves and grow languidly ...
		</p>
		<p>Pratimā explores this dialogue inherent in any duality through the sensuous realms of Odissi.</p>
		<p>
			<i>Vibhakta</i> from Pratimā was listed among the ‘ten best dance performances of 2008’ by The New Yorker and one
			of ‘20 Top Works of the Last 20 Years’ by Dance Magazine (March 2020).
		</p>
		<p class="grey-text">
			Pratimā: Reflection was commissioned by the Joyce Theater’s Stephen and Cathy Weinroth Fund for New Work.
		</p>
	</div>

	<div id="sriyah"></div>
	<div class="wrapper medium inner-page">
		<div class="full-bleed">
			<div class="owl-carousel owl-theme">
				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580738672/danceprof_1_elw180.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738672/danceprof_1_elw180.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738672/danceprof_1_elw180.jpg"
							alt="dance professionals 1"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580738671/danceprof_2_lq2g0m.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738671/danceprof_2_lq2g0m.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738671/danceprof_2_lq2g0m.jpg"
							alt="dance professionals 2"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580738672/danceprof_3_xbqybo.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738672/danceprof_3_xbqybo.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738672/danceprof_3_xbqybo.jpg"
							alt="dance professionals 3"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580738672/danceprof_4_bk6dgu.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738672/danceprof_4_bk6dgu.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738672/danceprof_4_bk6dgu.jpg"
							alt="dance professionals 4"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580738672/danceprof_5_zt0jjd.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738672/danceprof_5_zt0jjd.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738672/danceprof_5_zt0jjd.jpg"
							alt="dance professionals 5"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580738672/danceprof_6_ouk3xr.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738672/danceprof_6_ouk3xr.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738672/danceprof_6_ouk3xr.jpg"
							alt="dance professionals 6"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>
			</div>
		</div>
		<h1 class="center medium-font">Śriyaḥ | 2010</h1>
		<p>Śriyaḥ is a selection of works from a creative journey that started with Śrī: in Search of the Goddess.</p>
		<p>
			The show has been presented at the Edinburgh International Festival, White Light Festival of Lincoln Center for
			the Performing Arts, Sydney Opera House, Cairo Opera House, amongst others.
		</p>
		<p>Śriyaḥ was listed in the “Best Dance of 2016” by The New York Times.</p>
	</div>

	<div id="samhara"></div>
	<div class="wrapper medium inner-page salmon">
		<div class="full-bleed no-top-pad">
			<div class="owl-carousel owl-theme">
				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580738672/danceprof_1_elw180.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738672/danceprof_1_elw180.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738672/danceprof_1_elw180.jpg"
							alt="dance professionals 1"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580738671/danceprof_2_lq2g0m.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738671/danceprof_2_lq2g0m.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738671/danceprof_2_lq2g0m.jpg"
							alt="dance professionals 2"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580738672/danceprof_3_xbqybo.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738672/danceprof_3_xbqybo.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738672/danceprof_3_xbqybo.jpg"
							alt="dance professionals 3"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580738672/danceprof_4_bk6dgu.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738672/danceprof_4_bk6dgu.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738672/danceprof_4_bk6dgu.jpg"
							alt="dance professionals 4"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580738672/danceprof_5_zt0jjd.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738672/danceprof_5_zt0jjd.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738672/danceprof_5_zt0jjd.jpg"
							alt="dance professionals 5"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580738672/danceprof_6_ouk3xr.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738672/danceprof_6_ouk3xr.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738672/danceprof_6_ouk3xr.jpg"
							alt="dance professionals 6"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>
			</div>
		</div>
		<h1 class="center medium-font">Saṃhāra | 2012</h1>
		<p>
			Nrityagram’s first international collaboration with the Chitrasena Dance Company from Sri Lanka, which explores
			the meeting point between the sensuousness of Nrityagram’s Odissi and the masculine dynamism of the Chitrasena
			Dance Company’s Kandyan dance.
		</p>
		<p>
			Saṃhāra premiered in Bangalore in February 2012, toured the United States, Sri Lanka, the far-East and India to
			great critical acclaim. After a four year hiatus Saṃhāra returned to the stage in 2017, performing to sold out
			audiences in Bangalore, The Royal Festival Hall, London and Colombo, Sri Lanka in 2017, and a six-week tour of the
			US in Fall 2018, including performances at the Temple of Dendur, New York.
		</p>
	</div>

	<div id="samyoga"></div>
	<div class="wrapper medium inner-page">
		<div class="full-bleed">
			<div class="owl-carousel owl-theme">
				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580738672/danceprof_1_elw180.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738672/danceprof_1_elw180.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738672/danceprof_1_elw180.jpg"
							alt="dance professionals 1"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580738671/danceprof_2_lq2g0m.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738671/danceprof_2_lq2g0m.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738671/danceprof_2_lq2g0m.jpg"
							alt="dance professionals 2"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580738672/danceprof_3_xbqybo.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738672/danceprof_3_xbqybo.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738672/danceprof_3_xbqybo.jpg"
							alt="dance professionals 3"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580738672/danceprof_4_bk6dgu.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738672/danceprof_4_bk6dgu.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738672/danceprof_4_bk6dgu.jpg"
							alt="dance professionals 4"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580738672/danceprof_5_zt0jjd.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738672/danceprof_5_zt0jjd.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738672/danceprof_5_zt0jjd.jpg"
							alt="dance professionals 5"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580738672/danceprof_6_ouk3xr.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738672/danceprof_6_ouk3xr.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738672/danceprof_6_ouk3xr.jpg"
							alt="dance professionals 6"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>
			</div>
		</div>
		<h1 class="center medium-font">Saṃyoga | 2012</h1>
		<p>
			Saṃyoga is a celebration of the dialogue between two artists who have spent decades to find the perfect balance of
			art and craft, and of strength and grace. Saṃyoga, which means the conjunction of two or more heavenly bodies, is
			a search for the essence of Odissi where the two artists performing together compliment each other and free
			themselves of enforced boundaries. It is <a href="/surupa" class="bodylink">Surupa</a>’s first evening-length duet
			show, performed by herself and <a href="/bijayini" class="bodylink">Bijayini Satpathy</a>.
		</p>
		<p>
			Saṃyoga was performed at the Temple of Dendur, MET Museum, New York, and the performance earned rave reviews in
			different publications worldwide. It was also listed in the “Best Dance of 2015” by The New York Times.
		</p>
	</div>

	<div id="lovelong"></div>
	<div class="wrapper medium inner-page salmon">
		<div class="full-bleed no-top-pad">
			<div class="owl-carousel owl-theme">
				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580738672/danceprof_1_elw180.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738672/danceprof_1_elw180.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738672/danceprof_1_elw180.jpg"
							alt="dance professionals 1"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580738671/danceprof_2_lq2g0m.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738671/danceprof_2_lq2g0m.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738671/danceprof_2_lq2g0m.jpg"
							alt="dance professionals 2"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580738672/danceprof_3_xbqybo.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738672/danceprof_3_xbqybo.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738672/danceprof_3_xbqybo.jpg"
							alt="dance professionals 3"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580738672/danceprof_4_bk6dgu.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738672/danceprof_4_bk6dgu.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738672/danceprof_4_bk6dgu.jpg"
							alt="dance professionals 4"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580738672/danceprof_5_zt0jjd.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738672/danceprof_5_zt0jjd.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738672/danceprof_5_zt0jjd.jpg"
							alt="dance professionals 5"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580738672/danceprof_6_ouk3xr.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738672/danceprof_6_ouk3xr.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738672/danceprof_6_ouk3xr.jpg"
							alt="dance professionals 6"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>
			</div>
		</div>
		<h1 class="center medium-font">Songs of Love and Longing | 2013</h1>
		<p>
			Songs of Love and Longing is a response to poet Jayadeva’s masterpiece Gita Govinda, an ode to love penned in the
			12th century. The performance was conceived as the journey of a dancer, a slow submission to song and impassioned
			poetry, as she loses herself in sensual and spiritual realms.
		</p>
		<p>Songs of Love and Longing had its North America premiere at the Baryshnikov Art Center, New York.</p>
	</div>

	<div id="yadu"></div>
	<div class="wrapper medium inner-page">
		<div class="full-bleed no-top-pad">
			<div class="owl-carousel owl-theme">
				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580738672/danceprof_1_elw180.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738672/danceprof_1_elw180.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738672/danceprof_1_elw180.jpg"
							alt="dance professionals 1"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580738671/danceprof_2_lq2g0m.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738671/danceprof_2_lq2g0m.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738671/danceprof_2_lq2g0m.jpg"
							alt="dance professionals 2"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580738672/danceprof_3_xbqybo.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738672/danceprof_3_xbqybo.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738672/danceprof_3_xbqybo.jpg"
							alt="dance professionals 3"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580738672/danceprof_4_bk6dgu.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738672/danceprof_4_bk6dgu.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738672/danceprof_4_bk6dgu.jpg"
							alt="dance professionals 4"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580738672/danceprof_5_zt0jjd.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738672/danceprof_5_zt0jjd.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738672/danceprof_5_zt0jjd.jpg"
							alt="dance professionals 5"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580738672/danceprof_6_ouk3xr.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738672/danceprof_6_ouk3xr.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738672/danceprof_6_ouk3xr.jpg"
							alt="dance professionals 6"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>
			</div>
		</div>
		<h1 class="center medium-font">Yadunandana | 2017</h1>
		<p>
			Yadunandana is a meditation on the love for Krishna, a dominant theme in Odissi. The performance explores how
			different devotees braided their vision of their Lord, be it as a child, playful lover or a sensuous consort.
		</p>
		<p>
			Drawing from different musical traditions, Yadunandana is a solo show, where the dancer unravels love in its
			infinite variety.
		</p>
	</div>

	<div id="ahuti"></div>
	<div class="wrapper medium inner-page salmon">
		<div class="full-bleed no-top-pad">
			<div class="owl-carousel owl-theme">
				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580738672/danceprof_1_elw180.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738672/danceprof_1_elw180.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738672/danceprof_1_elw180.jpg"
							alt="dance professionals 1"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580738671/danceprof_2_lq2g0m.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738671/danceprof_2_lq2g0m.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738671/danceprof_2_lq2g0m.jpg"
							alt="dance professionals 2"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580738672/danceprof_3_xbqybo.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738672/danceprof_3_xbqybo.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738672/danceprof_3_xbqybo.jpg"
							alt="dance professionals 3"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580738672/danceprof_4_bk6dgu.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738672/danceprof_4_bk6dgu.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738672/danceprof_4_bk6dgu.jpg"
							alt="dance professionals 4"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580738672/danceprof_5_zt0jjd.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738672/danceprof_5_zt0jjd.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738672/danceprof_5_zt0jjd.jpg"
							alt="dance professionals 5"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580738672/danceprof_6_ouk3xr.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738672/danceprof_6_ouk3xr.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738672/danceprof_6_ouk3xr.jpg"
							alt="dance professionals 6"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>
			</div>
		</div>
		<h1 class="center medium-font less-margin-bottom">Āhuti | 2019</h1>
		<div class="subtitle center more-bottom-pad" data-nopad="top">{Sanskrit: Invoking | Pali: Offering}</div>
		<p>
			Building on the creative bond forged between Odissi and Kandyan dance through a long association with Chitrasena
			Dance Company, Āhuti is an evening length show that pushes the boundaries of this creative dialogue.
		</p>
	</div>

  <div id="vinati"></div>
	<div class="wrapper medium inner-page">
		<div class="full-bleed no-top-pad">
			<div class="owl-carousel owl-theme">
				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580738672/danceprof_1_elw180.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738672/danceprof_1_elw180.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738672/danceprof_1_elw180.jpg"
							alt="dance professionals 1"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580738671/danceprof_2_lq2g0m.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738671/danceprof_2_lq2g0m.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738671/danceprof_2_lq2g0m.jpg"
							alt="dance professionals 2"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580738672/danceprof_3_xbqybo.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738672/danceprof_3_xbqybo.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738672/danceprof_3_xbqybo.jpg"
							alt="dance professionals 3"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580738672/danceprof_4_bk6dgu.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738672/danceprof_4_bk6dgu.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738672/danceprof_4_bk6dgu.jpg"
							alt="dance professionals 4"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580738672/danceprof_5_zt0jjd.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738672/danceprof_5_zt0jjd.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738672/danceprof_5_zt0jjd.jpg"
							alt="dance professionals 5"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>

				<div class="item rounded">
					<picture>
						<source
							srcset="https://res.cloudinary.com/nrityagram/image/upload/v1580738672/danceprof_6_ouk3xr.jpg"
							media="(min-width: 1400px)"
						/>
						<source
							srcset="
								https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580738672/danceprof_6_ouk3xr.jpg
							"
							media="(min-width: 1000px)"
						/>
						<img
							src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580738672/danceprof_6_ouk3xr.jpg"
							alt="dance professionals 6"
							height="auto"
						/>
					</picture>
					<div class="photo-credit">Photo : Courtesy Nrityagram</div>
				</div>
			</div>
		</div>
		<h1 class="center medium-font">Vinati: Songs from the Gita Govinda | 2021</h1>
	</div>
</div>
