---
  layout: "_page.njk"
  title: "Showtime"
  heroType: "image"
  heroText: "Showtime"
  heroDesk: "https://res.cloudinary.com/nrityagram/image/upload/v1580623153/7_s1r4xp.jpg"
  heroTab: "https://res.cloudinary.com/nrityagram/image/upload/v1582806791/ipad/7_xqqmk2.jpg"
  heroMob: "https://res.cloudinary.com/nrityagram/image/upload/v1582614660/mobile/7_ez1ojd.jpg"
  heroDeskCredit: "Courtesy Serendipity Arts Festival"
  heroTabCredit: "Courtesy Serendipity Arts Festival"
  heroMobCredit: "Courtesy Serendipity Arts Festival"
  carousels: false
  lightgallery: true
---

<div class="content">
	<div class="wrapper ultra-wide inner-page">
		<div id="caption1" style="display: none;">Photo: Uma Dhanwatey</div>
		<div id="caption2" style="display: none;">Photo: Nan Melville</div>
		<div id="caption5" style="display: none;">Photo: Uma Dhanwatey</div>
		<div id="caption6" style="display: none;">Photo: Stephanie Motta</div>
		<div id="lightgallery">
			<a
				href="https://res.cloudinary.com/nrityagram/image/upload/v1572248781/Surupa_Sen_02_Photo_Uma_Dhanwatey_ozvlrl.jpg" data-sub-html="#caption1"
			>
				<img
					src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1572248781/Surupa_Sen_02_Photo_Uma_Dhanwatey_ozvlrl.jpg"
					alt=""
				/>

			</a>
			<a
				href="https://res.cloudinary.com/nrityagram/image/upload/v1572248781/Surupa_Sen___Bijayini_Satpathy_03_Photo_Nan_Melville_su0ttd.jpg" data-sub-html="#caption2"
			>
				<img
					src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1572248781/Surupa_Sen___Bijayini_Satpathy_03_Photo_Nan_Melville_su0ttd.jpg"
					alt=""
				/>
			</a>
			<a
				href="https://res.cloudinary.com/nrityagram/image/upload/v1572248711/KAR_0480_afrwjc.jpg"
			>
				<img
					src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1572248711/KAR_0480_afrwjc.jpg"
					alt=""
				/>
			</a>
			<a
				href="https://res.cloudinary.com/nrityagram/image/upload/v1572248698/IMG_4959_2_f5xxuy.jpg"
			>
				<img
					src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1572248698/IMG_4959_2_f5xxuy.jpg"
					alt=""
				/>
			</a>
			<a
				href="https://res.cloudinary.com/nrityagram/image/upload/v1572248722/Nrityagram_04_Photo_Uma_Dhanwatey_ikdcn6.jpg" data-sub-html="#caption5"
			>
				<img
					src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1572248722/Nrityagram_04_Photo_Uma_Dhanwatey_ikdcn6.jpg"
					alt=""
				/>
			</a>
			<a
				href="https://res.cloudinary.com/nrityagram/image/upload/v1572248722/Nrityagram_15_Photo_Stephanie_Motta_k7ko1y.jpg" data-sub-html="#caption6"
			>
				<img
					src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1572248722/Nrityagram_15_Photo_Stephanie_Motta_k7ko1y.jpg"
					alt=""
				/>
			</a>
			<a
				href="https://res.cloudinary.com/nrityagram/image/upload/v1572248711/KAR_0388_iphdpz.jpg"
			>
				<img
					src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1572248711/KAR_0388_iphdpz.jpg"
					alt=""
				/>
			</a>
			<a href="https://res.cloudinary.com/nrityagram/image/upload/v1572248711/KAR_0530_uu6vpl.jpg">
				<img
					src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1572248711/KAR_0530_uu6vpl.jpg"
					alt=""
				/>
			</a>
			<a
				href="https://res.cloudinary.com/nrityagram/image/upload/v1572248698/INDIAN_DANCE_IH_24_jqh5lh.jpg"
			>
				<img
					src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1572248698/INDIAN_DANCE_IH_24_jqh5lh.jpg"
					alt=""
				/>
			</a>
			<a
				href="https://res.cloudinary.com/nrityagram/image/upload/v1572248698/DSC_0028_at521i.jpg"
			>
				<img
					src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1572248698/DSC_0028_at521i.jpg"
					alt=""
				/>
			</a>
			<a
				href="https://res.cloudinary.com/nrityagram/image/upload/v1572248639/DSC_0005_gqzlzz.jpg"
			>
				<img
					src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1572248639/DSC_0005_gqzlzz.jpg"
					alt=""
				/>
			</a>
			<a
				href="https://res.cloudinary.com/nrityagram/image/upload/v1572248639/Arpanam_22_m96taq.jpg"
			>
				<img
					src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1572248639/Arpanam_22_m96taq.jpg"
					alt=""
				/>
			</a>
			<a
				href="https://res.cloudinary.com/nrityagram/image/upload/v1572248611/10410089_10152942781110266_7589204370305215750_n_xqhiim.jpg"
			>
				<img
					src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1572248611/10410089_10152942781110266_7589204370305215750_n_xqhiim.jpg"
					alt=""
				/>
			</a>
			<a
				href="https://res.cloudinary.com/nrityagram/image/upload/v1572248611/Alap_05_zz53bj.jpg"
			>
				<img
					src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1572248611/Alap_05_zz53bj.jpg"
					alt=""
				/>
			</a>
			<a
				href="https://res.cloudinary.com/nrityagram/image/upload/v1572248611/April_06_012_ucizxe.jpg"
			>
				<img
					src="https://res.cloudinary.com/nrityagram/image/upload/w_250,ar_1:1,c_fill,g_auto/v1572248611/April_06_012_ucizxe.jpg"
					alt=""
				/>
			</a>
			<a
				href="https://res.cloudinary.com/nrityagram/image/upload/v1572248611/10805634_10152942780190266_2995632072908966498_n_ihsiyq.jpg"
			>
				<img
					src="https://res.cloudinary.com/nrityagram/image/upload/w_300,ar_1:1,c_fill,g_auto/v1572248611/10805634_10152942780190266_2995632072908966498_n_ihsiyq.jpg"
					alt=""
				/>
			</a>
			<a
				href="https://res.cloudinary.com/nrityagram/image/upload/v1572248597/164_taf6hx.jpg"
			>
				<img
					src="https://res.cloudinary.com/nrityagram/image/upload/w_300,ar_1:1,c_fill,g_auto/v1572248597/164_taf6hx.jpg"
					alt=""
				/>
			</a>
			<a
				href="https://res.cloudinary.com/nrityagram/image/upload/v1572248597/2015-01-02_18.03.56_obegen.jpg"
			>
				<img
					src="https://res.cloudinary.com/nrityagram/image/upload/w_300,ar_1:1,c_fill,g_auto/v1572248597/2015-01-02_18.03.56_obegen.jpg"
					alt=""
				/>
			</a>
			<a
				href="https://res.cloudinary.com/nrityagram/image/upload/v1572248597/6163NG-1157_vzlaam.jpg"
			>
				<img
					src="https://res.cloudinary.com/nrityagram/image/upload/w_300,ar_1:1,c_fill,g_auto/v1572248597/6163NG-1157_vzlaam.jpg"
					alt=""
				/>
			</a>
			<a href="https://res.cloudinary.com/nrityagram/image/upload/v1572248597/2015-01-02_18.03.37_djqtd7.jpg">
				<img
					src="https://res.cloudinary.com/nrityagram/image/upload/w_300,ar_1:1,c_fill,g_auto/v1572248597/2015-01-02_18.03.37_djqtd7.jpg"
					alt=""
				/>
			</a>
			<a
				href="https://res.cloudinary.com/nrityagram/image/upload/v1572248722/nrytiagram_2-2_tko1w2.jpg"
			>
				<img
					src="https://res.cloudinary.com/nrityagram/image/upload/w_300,ar_1:1,c_fill,g_auto/v1572248722/nrytiagram_2-2_tko1w2.jpg"
					alt=""
				/>
			</a>
		</div>
	</div>
</div>