---
  layout: "_page.njk"
  title: "Site Credits"
  heroType: "image"
  heroText: "Site Credits"
  heroDesk: "https://res.cloudinary.com/nrityagram/image/upload/v1589172195/credits_bh9zvn.jpg"
  heroTab: "https://res.cloudinary.com/nrityagram/image/upload/v1589172246/ipad/credits_qnzsw3.jpg"
  heroMob: "https://res.cloudinary.com/nrityagram/image/upload/v1589172221/mobile/credits_nk8ddi.jpg"
  heroDeskCredit: "Guillermo Consejo"
  heroTabCredit: "Guillermo Consejo"
  heroMobCredit: "Guillermo Consejo"
  carousels: false
---

<div class="content">
  <div class="wrapper medium inner-page multi-row-subgrids">
    <div class="two-column-grid x-x-gap narrow-wide">
      <div class="img-plus no-stretch align-top">
        <picture>
					<source
						media="(max-width: 800px)"
						srcset="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1589172164/Diksha_nc9hmq.jpg"
					/>
					<img
						src="https://res.cloudinary.com/nrityagram/image/upload/v1589172164/Diksha_nc9hmq.jpg"
						alt="Diksha Reddy"
					/>
				</picture>
      </div>
      <div class="align-top">
        
      </div>
    </div>
  </div>
</div>