---
  layout: "_page.njk"
  title: "Space"
  heroType: "image"
  heroText: "Space"
  heroDesk: "https://res.cloudinary.com/nrityagram/image/upload/v1647179355/Space-cat2-desk_rix0hl.jpg"
  heroTab: "https://res.cloudinary.com/nrityagram/image/upload/v1647179377/ipad/Space-cat2-tab_hkgwgs.jpg"
  heroMob: "https://res.cloudinary.com/nrityagram/image/upload/v1647179418/mobile/Space-cat2-mob_wetw62.jpg"
  heroDeskCredit: "Surupa Sen"
  heroTabCredit: "Surupa Sen"
  heroMobCredit: "Surupa Sen"
  carousels: false
---

<div class="content">
  <div class="wrapper medium inner-page text-less-top-pad">
    <p>
      The Nrityagram Dance Ensemble and School work and reside within a sustainable ten-acre campus based an hour outside of Bangalore. The grounds include residential, rehearsal and performance spaces in addition to an open-air amphitheatre.
    </p>
    <p>
      Our buildings have strong design details and motifs that reflect the essence of Indian Art and Architecture, and were constructed utilizing locally available granite and red brick.
    </p>
    <p>
      Our campus is known for its lush green beauty and landscape design. Over the last 3 decades, every single tree has been planted by residents, including seedlings and cuttings that have been brought back from travels throughout India or gifted to us by friends. Our campus also serves as a green haven for over 70 bird species, in addition to Slender Loris, Wild Boar, Jackal, Fox, Pangolin, and Black-naped Hare. 
    </p>
    <p>
      At Nrityagram, we believe in sustainable living. Most of our vegetables and fruits (including some lentils and grains) are organically grown on our land and in keeping with Nrityagram’s vision of an eco-friendly, minimum impact life, we also practice vermi-composting, waste-management and alternative energy use.
    </p>
    <p>
      We are now creating a Food Forest using permaculture principles and aim to become totally self-reliant as soon as possible.
    </p>
  </div>

  <div id="temple" class="below-sticky-header"></div>
  <div class="wrapper medium salmon inner-page more-top-pad">
    <div class="img-plus">
      <picture>
        <source media="(max-width: 800px)" srcset="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1583857821/1-temple_lob0gj.jpg"/>
        <img src="https://res.cloudinary.com/nrityagram/image/upload/v1583857821/1-temple_lob0gj.jpg" alt="Temple at Nrityagram Campus">
      </picture>
      <div class="img-credit">Photo: Pieter Vanderbeeken</div>
    </div>
    <h1 class="center light-font small-margin-top">Temple</h1>
    <p>
      Dedicated to the five elements, our temple was fashioned from the raw earth of Nrityagram and fired after it was built. The temple is decorated with panels depicting the elements, dance motifs, mudras, and ghungroos. Inside is a granite rock scooped out to hold water and a flame that stays lit. And a clay mural of <a href="/protima" class="bodylink">Protima</a> offering flowers.
    </p>
    <p>
      The Temple was designed and built by Ray Meeker in 1998.
    </p>
  </div>

  <div id="yoga" class="below-sticky-header"></div>
  <div class="wrapper medium inner-page more-top-pad">
    <div class="img-plus">
      <picture>
        <source media="(max-width: 800px)" srcset="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1583857821/2-yoga-centre_pvivaj.jpg"/>
        <img src="https://res.cloudinary.com/nrityagram/image/upload/v1583857821/2-yoga-centre_pvivaj.jpg" alt="Yoga Centre">
      </picture>
      <div class="img-credit">Photo: Pieter Vanderbeeken</div>
    </div>
    <h1 class="center light-font small-margin-top">Yoga Centre</h1>
    <p>
      Reminiscent of Stonehenge, the Yoga centre is an open structure attached to the temple. It is also used for in-house performances under an open sky.
    </p>
    <p>
      Designed by Gerard da Cunha, the Yoga Centre was built in 1990 and sponsored by the Vijaya Gujral Foundation.
    </p>
  </div>

  <div id="odissi" class="below-sticky-header"></div>
  <div class="wrapper medium salmon inner-page more-top-pad">
    <div class="img-plus">
      <picture>
        <source media="(max-width: 800px)" srcset="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1646205967/odissi-gurukul_xm01dc.jpg"/>
        <img src="https://res.cloudinary.com/nrityagram/image/upload/v1646205967/odissi-gurukul_xm01dc.jpg" alt="Odissi Gurukul">
      </picture>
      <div class="img-credit">Photo: Lynne Fernandez</div>
    </div>
    <h1 class="center light-font small-margin-top">Odissi Gurukul</h1>
    <p>
      Of all the diverse edifices that highlight Nrityagram's campus, it is the Odissi Gurukul that most mystifies the viewer. Natural raw faces of stone fill its walls, suspended with strength that counters the giving gestures of the dance it houses. The dance hall has a floor fashioned from Burma teak, with a slight spring that cares for dancer’s feet and joints.
    </p>
    <p>
      Home to the spirit of Orissa temples, the space re-conjures the magic of thousands of years. Guru Kelucharan Mahapatra taught here as did Guru Bichitranandan Swain, Guru Ratikant Mahapatra, and Gaurima. <a href="/surupa" class="bodylink">Surupa</a> and <a href="/pavithra" class="bodylink">Pavithra</a> are presently the Gurus in residence.
    </p>
    <p>
      Designed by Gerard da Cunha, the Odissi Gurukul was built in 1990 and funded by Raymond Ltd.
    </p>
  </div>

  <div id="dining" class="below-sticky-header"></div>
  <div class="wrapper medium inner-page more-top-pad">
    <div class="img-plus">
      <picture>
        <source media="(max-width: 800px)" srcset="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1583857821/4-Dining-Hall_rbbdls.jpg"/>
        <img src="https://res.cloudinary.com/nrityagram/image/upload/v1583857821/4-Dining-Hall_rbbdls.jpg" alt="Dining Hall">
      </picture>
      <div class="img-credit">Photo: Pieter Vanderbeeken</div>
    </div>
    <h1 class="center light-font small-margin-top">Dining Hall</h1>
    <p>
      Built like a reverse 2, this structure is the heart of the village. It houses the community kitchen and is the space where the community dines together. Most of our students wish to return to Nrityagram for our delicious food, which is healthy, nutritious, non-greasy and mildly spiced. Most importantly it is prepared with a lot of love and care.
    </p>
  </div>

  <div id="cottages" class="below-sticky-header"></div>
  <div class="wrapper medium salmon inner-page more-top-pad">
    <div class="img-plus">
      <picture>
        <source media="(max-width: 800px)" srcset="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1583857821/5-Cottages_cdouou.jpg"/>
        <img src="https://res.cloudinary.com/nrityagram/image/upload/v1583857821/5-Cottages_cdouou.jpg" alt="Dining Hall">
      </picture>
      <div class="img-credit">Photo: Pieter Vanderbeeken</div>
    </div>
    <h1 class="center light-font small-margin-top">Cottages</h1>
    <p>
      Inspired by the yurts of Tibet, the cottages provide resting spaces for our guests. Made from traditional and locally available materials these cottages have housed some of the greatest maestros of dance and music, who have come to perform at our Vasantahabba.
    </p>
    <p>
      We have recently changed the roofs from thatch to tile and added common living areas between each pair of  individual cottages.
    </p>
    <p>
      Designed by Gerard da Cunha, the cottages were built in 1990.
    </p>
  </div>

  <div id="kula" class="below-sticky-header"></div>
  <div class="wrapper medium inner-page more-top-pad">
    <div class="img-plus">
      <picture>
        <source media="(max-width: 800px)" srcset="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1583857821/6-Kula_fldxvp.jpg"/>
        <img src="https://res.cloudinary.com/nrityagram/image/upload/v1583857821/6-Kula_fldxvp.jpg" alt="Kula">
      </picture>
      <div class="img-credit">Photo: Pieter Vanderbeeken</div>
    </div>
    <h1 class="center light-font small-margin-top">Kula</h1>
    <p>
      A residence for artists, Kula is meant for the creation and development of new work. Individuals or groups can live here while they research, create, or rehearse.
    </p>
    <p>
      Designed by Ajith Andagere, Kula was built in 2010.
    </p>
  </div>

  <div id="amphitheatre" class="below-sticky-header"></div>
  <div class="wrapper medium salmon inner-page more-top-pad">
    <div class="img-plus">
      <picture>
        <source media="(max-width: 800px)" srcset="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1583857821/7-Amphitheatre_k2khj2.jpg"/>
        <img src="https://res.cloudinary.com/nrityagram/image/upload/v1583857821/7-Amphitheatre_k2khj2.jpg" alt="Amphitheatre">
      </picture>
      <div class="img-credit">Photo: Pieter Vanderbeeken</div>
    </div>
    <h1 class="center light-font small-margin-top">Amphitheatre</h1>
    <p>
      Scooped out of the red earth and built along the lines of a Roman amphitheatre, this is one of the best known structures at Nrityagram. It is here that several thousand people congregated every February for the annual Vasantahabba. Guru Kelucharan Mahapatra and his students, including <a href="/surupa" class="bodylink">Surupa</a>, helped to dig and build the amphitheatre.
    </p>
    <p>
      Designed by Gerard da Cunha, the Amphitheatre was built in 1990.
    </p>
  </div>

</div>