---
  layout: "_page.njk"
  title: "Space"
  heroText: "Space"
  heroDesk: "https://res.cloudinary.com/nrityagram/image/upload/v1646055237/space-masthead-desk_ajtshm.jpg"
  heroTab: "https://res.cloudinary.com/nrityagram/image/upload/v1646055253/ipad/space-masthead-tablet_adcwua.jpg"
  heroMob: "https://res.cloudinary.com/nrityagram/image/upload/v1646055274/mobile/space-masthead-mobile_fkjcfs.jpg"
  heroDeskCredit: "Surupa Sen"
  heroTabCredit: "Surupa Sen"
  heroMobCredit: "Surupa Sen"
  carousels: false
---

<div class="content">
  <div class="wrapper medium">
    <p>
      The Nrityagram Dance Ensemble and School work and reside within a sustainable ten-acre campus based an hour outside of Bangalore. The grounds include residential, rehearsal and performance spaces in addition to an open-air amphitheatre.
    </p>
    <p>
      Our buildings have strong design details and motifs that reflect the essence of Indian Art and Architecture, and were constructed utilizing locally available granite and red brick.
    </p>
    <p>
      Our campus is known for its lush green beauty and landscape design. Over the last 3 decades, every single tree has been planted by residents, including seedlings and cuttings that have been brought back from travels throughout India or gifted to us by friends. Our campus also serves as a green haven for over 70 bird species, in addition to Slender Loris, Wild Boar, Jackal, Fox, Pangolin, and Black-naped Hare. 
    </p>
    <p>
      At Nrityagram, we believe in sustainable living. Most of our vegetables and fruits (including some lentils and grains) are organically grown on our land and in keeping with Nrityagram’s vision of an eco-friendly, minimum impact life, we also practice vermi-composting, waste-management and alternative energy use.
    </p>
    <p>
      We are now creating a Food Forest using permaculture principles and aim to become totally self-reliant as soon as possible.
    </p>
  </div>
</div>
