---
  layout: "_page.njk"
  title: "Sponsorship"
  heroType: "image"
  heroText: "Sponsorship"
  heroDesk: "https://res.cloudinary.com/nrityagram/image/upload/v1580659364/sponsorship-banner_lmtquh.jpg"
  heroTab: "https://res.cloudinary.com/nrityagram/image/upload/v1589077310/ipad/sponsorship_s7wfg1.jpg"
  heroMob: "https://res.cloudinary.com/nrityagram/image/upload/v1581325769/mobile/sponsorship_ajz4zq.jpg"
  heroDeskCredit: "Shalini Jain"
  heroTabCredit: "Shalini Jain"
  heroMobCredit: "Shalini Jain"
  parentMenuItem: "Support"
  carousels: false
  donation: false
---

<div class="content">
	<div class="wrapper medium inner-page text-less-top-pad">
		<p>
			At Nrityagram we have a year-long calendar of events, housed at our verdant campus, as well as in different venues
			in the city. Our events draw large audiences from India and abroad.
		</p>
		<p>
			These events are spaces of confluence for artists, connoisseurs, and dedicated devotees of art to meet, converse,
			and together celebrate our diverse cultural traditions.
		</p>
		<p>Support us in our constant endeavour to create safe spaces for the arts.</p>
		<p class="center">
			If you would like to sponsor an event, or work with us to conceptualise a new idea
		</p>
		<div
			class="red-glass-button light no-dropshadow sml medium-space-above no-space-below"
			onclick="location.href='mailto:support@nrityagram.org'"
		>
			Email Us
		</div>
	</div>
</div>