---
  layout: "_page.njk"
  title: "Support Us"
  heroText: "Support Us"
  heroDesk: "https://res.cloudinary.com/nrityagram/image/upload/v1570033128/support-us-banner_ejya2i.jpg"
  heroTab: "https://res.cloudinary.com/nrityagram/image/upload/v1589077309/ipad/support-us_lrdscf.jpg"
  heroMob: "https://res.cloudinary.com/nrityagram/image/upload/v1576172267/mobile/support-us_pnnsss.jpg"
  heroDeskCredit: "Uma Dhanwatey"
  heroTabCredit: "Uma Dhanwatey"
  heroMobCredit: "Uma Dhanwatey"
  slider: false
  carousels: false
---

<div class="content">

  <div class="wrapper medium inner-page text-less-top-pad">

    <p>
      Join our community of supporters to nurture and sustain our work.
    </p>
    <p>
      Help us create a stable base from which our dancers and teachers can grow artistically, attain the highest standards of excellence in training and performance, and fulfill our Mission: Nurture dance professionals through the gurukula system, perform on a global stage and forge a community through outreach.
    </p>
    <p>
      Strengthen key initiatives - from training the next generation of Odissi performers and teachers, to the creation of new work, to sharing dance digitally and on stages around the globe.
    </p>
    <p>
      Fund the development and expansion of our artistic, educational and community programmes, for people from nearby villages and across the world.
    </p>
    <p>
      As a donor, you will contribute to our success and may also be eligible for a tax deduction.
    </p>
    <p>
      Please Support Nrityagram!
    </p>

  </div>
  <div class="wrapper ultra-wide multi-row-subgrids inner-page" data-nopad="top">
    <div class="two-column-grid extra-gap equal">
      <div class="img-plus">
        <picture>
          <source media="(max-width: 800px)" srcset="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1588644932/Join_Vardan_iiqcmq.jpg"/>
          <img src="https://res.cloudinary.com/nrityagram/image/upload/v1588644932/Join_Vardan_iiqcmq.jpg" alt="Join Vardān">
        </picture>
        <div class="img-credit">Photo: M Srinivas Murthy</div>
        <div class="img-title">
          Join Vardān<br/>The Nrityagram Pledge
        </div>
        <!-- <div class="img-subtitle">
          The Nrityagram Pledge
        </div> -->
      </div>

      <div class="img-plus">
        <picture>
          <source media="(max-width: 800px)" srcset="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1589101369/Donate_u4jbno.jpg"/>
          <img src="https://res.cloudinary.com/nrityagram/image/upload/v1589101369/Donate_u4jbno.jpg" alt="Make a Donation">
        </picture>
        <div class="img-credit">Photo: M Srinivas Murthy</div>
        <div class="img-title">
          Donate
        </div>
      </div>
    </div>
    <div class="central-column">
      <div class="img-plus">
        <picture>
          <source media="(max-width: 800px)" srcset="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1591009076/support-the-corpus-fund_gho51g.jpg"/>
          <img src="https://res.cloudinary.com/nrityagram/image/upload/v1591009076/support-the-corpus-fund_gho51g.jpg" alt="Support the Corpus Fund">
        </picture>
        <div class="img-credit">Photo: Shalini Jain</div>
        <div class="img-title">
          Support the<br/>Corpus Fund
        </div>
      </div>
    </div>
    <div class="two-column-grid extra-gap equal">
      <div class="img-plus">
        <picture>
          <source media="(max-width: 800px)" srcset="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1570033127/infrastructure-development_egkkk1.jpg"/>
          <img src="https://res.cloudinary.com/nrityagram/image/upload/v1570033127/infrastructure-development_egkkk1.jpg" alt="Other Ways to Give">
        </picture>
        <div class="img-credit">Photo: Sreedhar Vaidya</div>
        <div class="img-title">
          Other Ways<br/>to Give
        </div>
      </div>

      <div class="img-plus">
        <picture>
          <source media="(max-width: 800px)" srcset="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1570033127/festivals-and-events_ec7zal.jpg"/>
          <img src="https://res.cloudinary.com/nrityagram/image/upload/v1570033127/festivals-and-events_ec7zal.jpg" alt="Sponsorship">
        </picture>
        <div class="img-credit">Photo: Shalini Jain</div>
        <div class="img-title">
          Sponsorship
        </div>
      </div>
    </div>
  </div>

</div>