---
  layout: "_page.njk"
  title: "Join Vardān"
  heroText: "Join Vardān"
  heroDesk: "https://res.cloudinary.com/nrityagram/image/upload/v1580659365/join-vardan-banner_podbyx.jpg"
  heroTab: "https://res.cloudinary.com/nrityagram/image/upload/v1589077339/ipad/join-vardan_v2ar0g.jpg"
  heroMob: "https://res.cloudinary.com/nrityagram/image/upload/v1581319076/mobile/join-vardan_isinhu.jpg"
  heroDeskCredit: "M Srinivas Murthy"
  heroTabCredit: "M Srinivas Murthy"
  heroMobCredit: "M Srinivas Murthy"
  slider: false
  carousels: false
---

<div class="content">
	<div class="wrapper medium inner-page text-less-top-pad">
		<p>
			We have named our Annual Giving programme, Vardān (boon or blessing) because it is not only about financial
			support - it is an opportunity to engage with a dynamic creative community and share key moments in our artistic
			lives and processes.
		</p>
		<p>
			Vardān offers our supporters a unique opportunity to become an integral part of the Nrityagram community by
			funding key initiatives from village outreach, to training the next generation of performers and teachers, to
			creating new works of art. It allows every single person to participate through a wide range of pledge levels,
			with wonderful benefits to everyone.
		</p>
	</div>
	<div class="wrapper ultra-wide multi-row-subgrids inner-page" data-nopad="top">
		<div class="two-column-grid extra-gap equal">
			<div class="img-plus">
				<picture>
					<source
						media="(max-width: 800px)"
						srcset="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580659306/friends-of-nrityagram_esjqdk.jpg"
					/>
					<img
						src="https://res.cloudinary.com/nrityagram/image/upload/v1580659306/friends-of-nrityagram_esjqdk.jpg"
						alt="Friends of Nrityagram Pledge Program"
					/>
				</picture>
				<div class="img-credit">Photo: M Srinivas Murthy</div>
				<div class="img-title">Friends of<br/>Nrityagram</div>
			</div>

			<div class="img-plus">
				<picture>
					<source
						media="(max-width: 800px)"
						srcset="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580659306/nrityagram-partners_lvg6gm.jpg"
					/>
					<img
						src="https://res.cloudinary.com/nrityagram/image/upload/v1580659306/nrityagram-partners_lvg6gm.jpg"
						alt="Make a Donation"
					/>
				</picture>
				<div class="img-credit">Photo: M Srinivas Murthy</div>
				<div class="img-title">Nrityagram<br/>Angels</div>
			</div>
		</div>
	</div>
</div>