---
layout: _page.njk
title: 'Fund the Village Childrens Scholarship'
heroType: 'none'
parentMenuItem: "Support"
---

<div class="content">
	<div class="wrapper medium inner-page text-less-top-pad">
		<p class="emphasis">Return to <a href="/ngangels" class="bodylink">Nrityagram Angels</a>
		</p>
		<p>
			<iframe
				width="100%"
				height="800px"
				src="https://drive.google.com/file/d/18lLZk9D7W9EGioVUHniY3yHBGqKEuGTz/preview"
			></iframe>
		</p>
	</div>
</div>